<div id="greyBarHomeContentContainer">
                <div id="greyBarWaterproof">
                    <div class="greyBarTitle">
                        Go Swimming
                    </div>
                    <div class="greyBarIcon">
                        <img src="templates/modify/images/blue/waterproof.jpg" alt="Waterproof" />
                    </div>
                    <div class="greyBarDescription">
                        Enjoy a swim in your infinity pool or shower in style. Modify Watches are now water-resistant! 
                    </div>
                </div>
                
                <div id="greyBarInterchangeable">
                    <div class="greyBarTitle">
                        %%GLOBAL_Interchangeable%%
                    </div>
                    <div class="greyBarIcon">
                        <img src="templates/modify/images/blue/mixandmatch.jpg" alt="Face + Strap = Watch" />
                    </div>
                    <div class="greyBarDescription">
                        Every face can be put into every strap. 3 faces and 3 straps create 9 watches! We call them factorials of fun. 
                    </div>
                </div>
                
                <div id="greyBarSizes">
                    <div class="greyBarTitle">
                        %%GLOBAL_TwoSizes%%
                    </div>
                    <div class="greyBarIcon">
                        <img src="templates/modify/images/blue/2sizes2.jpg" alt="Two Sizes!!!" />
                    </div>
                    <div class="greyBarDescription">
                        With two size options, you choose the amount of attention you want. Either way: you have chosen… 
                        <a href="http://www.youtube.com/watch?v=-DGFuHC75aY" target="_blank">wisely</a>.
                    </div>
                </div>
                
                <div id="greyBarDope">
                    <div class="greyBarTitle">
                        Dope
                    </div>
                    <div class="greyBarIcon">
                        <a href="http://www.beedogs.com/" target="_blank"><img src="templates/modify/images/blue/dope.jpg" style="border:none;" alt="In the Media" /></a>
                    </div>
                    <div class="greyBarDescription">
                       We're like tiny hot cocoa mallows mixed with NHL '94 mixed with vampire love, with a splash of jazz flute.
                    </div>
                </div>
</div>
<br />
<a href="watch-of-the-month.php"><img src="templates/modify/images/blue/wotmc/motmc.jpg" style="margin-bottom:30px;" /></a>
<a href="giftcertificates.php"><img src="templates/modify/images/blue/giftcerthomepage.jpg" style="margin-bottom:30px;margin-left:8px;" /></a>