            <div id="homeMedia">
                <span class="greyBarTitle" style="width:auto;padding:0;">Modify on the Internets:</span>
                <a href="http://espn.go.com/action/bmx/blog/_/post/6757081/dylan-sparkman-bay-area-streets"><img src="templates/modify/images/blue/espn.png" /></a>
                <a href="https://code.google.com/speed/pss/gallery.html"><img src="templates/modify/images/blue/google.png" /></a>
                <a href="http://techcrunch.com/2011/08/24/founder-office-hours-napkin-labs/"><img src="templates/modify/images/blue/techcrunch.png" /></a>
                <a href="http://manhattanbeachmomma.com/2011/08/10/images-from-blogher-2011-modify-watch-giveaway/"><img src="templates/modify/images/blue/blogher.png" /></a>
            </div>