<p><b>What? How? This is a completely secret page! How did you get here!?</b></p>

      <p>What, now we have to make it worth your while?  Wasn't the link to Bee Dogs from the <a href='./index.php'>home page</a> awesome enough?  Alright: see below for a list of things that Aaron finds hi-larious.
        
      <p align='center'><object width="512" height="288"><param name="movie" value="http://www.hulu.com/embed/uCeIPS241F52x09ZuJdXvw"><param name="allowFullScreen" value="true"><embed src="http://www.hulu.com/embed/uCeIPS241F52x09ZuJdXvw" type="application/x-shockwave-flash" width="512" height="288" allowfullscreen="true"></object>
      
      <p align='center'><object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/VSdxqIBfEAw&amp;hl=en_US&amp;fs=1"><param name="allowFullScreen" value="true"><param name="allowscriptaccess" value="always"><embed src="http://www.youtube.com/v/VSdxqIBfEAw&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></object>
      
      <p align='center'><object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/bIAQaReXzB0&amp;hl=en_US&amp;fs=1"><param name="allowFullScreen" value="true"><param name="allowscriptaccess" value="always"><embed src="http://www.youtube.com/v/bIAQaReXzB0&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></object>
      
      <p align='center'><object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/FL7yD-0pqZg?fs=1&amp;hl=en_US"><param name="allowFullScreen" value="true"><param name="allowscriptaccess" value="always"><embed src="http://www.youtube.com/v/FL7yD-0pqZg?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></object>
      
      <p align='center'><object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/N2bCc0EGP6U?fs=1&amp;hl=en_US"><param name="allowFullScreen" value="true"><param name="allowscriptaccess" value="always"><embed src="http://www.youtube.com/v/N2bCc0EGP6U?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></object>
      
      <p align='center'><object width="512" height="288"><param name="movie" value="http://www.hulu.com/embed/P0xvYt20u91HtuA5ojvz0w"><param name="allowFullScreen" value="true"><embed src="http://www.hulu.com/embed/P0xvYt20u91HtuA5ojvz0w" type="application/x-shockwave-flash" width="512" height="288" allowfullscreen="true"></object>
      
      <p align='center'><object width="512" height="288"><param name="movie" value="http://www.hulu.com/embed/Vj8zmOhCziHJ4xrRPRfjZQ"><param name="allowFullScreen" value="true"><embed src="http://www.hulu.com/embed/Vj8zmOhCziHJ4xrRPRfjZQ" type="application/x-shockwave-flash" width="512" height="288" allowfullscreen="true"></object>
      
      <p align='center'>And finally:
      
      <p align='center'><img src='photos/luda_schwartz.jpg' alt='The Schwartz Proximity Sadness Meter'>