<html bgcolor="#2c313a" style="margin: 0; padding: 0; background-color: #2c313a">
    <head>
        <title></title>
        
        <style type="text/css">
        /*<![CDATA[*/
            /* iOS automatically adds a link to addresses */
            /* Style the footer with the same color as the footer text */
            #footer a, #contact a {
                color: #abb2bf;
                -webkit-text-size-adjust: none;
                text-decoration: underline;
                font-weight: normal
            }
            /* Hide preview text on rendering */
            #hidden-img {
                display: none;
            }
        /*]]>*/
        </style>
    </head>
    <body bgcolor="#2c313a" style="margin: 0; padding: 0; background-color: #2c313a" marginheight="0" marginwidth="0" topmargin="0">

        <!-- Preview text (text which appears right after subject) -->
        
			<img id="hidden-img" alt="Your $5 Off Modify Watches Coupon Code" src="http://www.modifywatches.com/templates/Modify/images/default/ph.jpg" style="display: none!important; visibility: hidden; margin: 0px; padding: 0px;" width="1" height="1"/>
		
        <!-- start container -->
        
        <table bgcolor="#2c313a" style="background-color: #2c313a; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; padding-top: 10px; border-collapse: collapse;margin:0 auto;" cellpadding='0' cellspacing='0' border='0' width="100%">
			<tr>
				<td>
					<div align="center">
						<table cellpadding='0' cellspacing='0' border='0' width="600">
							<!-- start view as webpage section -->
							
							<!-- end view as webpage section -->
							
							<!-- start logo -->
							<tr style="background-color: #FFF">
								<td>
									<div align="center">
										<table cellpadding='0' cellspacing='0' border='0' width="600">
											<tr>
												<td style="background-color: #FFF; padding: 20px 20px 0;">
														<a href="http://www.modifywatches.com"  id="link-logo_image" style="border-width:0px;border:0px;"><img src="http://www.modifywatches.com/templates/Modify/images/default/emails/logo.jpg" class="image-widget" style="height:54px;width:92px;border-width:0px;border:0px;"  hspace="0"  width="92"  height="54"  id="image-logo_image" alt="Modify Watches" title=""></a>
												</td>
											</tr>
										</table>
									</div>
								</td>
							</tr>
							<!-- end logo -->
							<!-- start content -->
							<tr>
								<td>
									<div align="center">
										<table cellpadding='0' cellspacing='0' border='0' width="600">
											<tr>
												<td>
													
    <table cellpadding='0' cellspacing='0' border='0' width="100%">
        <tr>
			<td style="background-color: #FFF; font-size: 12px; line-height: 18.0px; font-family: 'Arial', sans-serif; color:#3d4146; padding: 20px;">
				<img src="http://www.modifywatches.com/templates/Modify/images/default/emails/welcome.jpg" alt="Welcome to the ModiFamily" />
			</td>
		</tr>
		<tr>
			<td>
				<table cellpadding='0' cellspacing='0' border='0' width="100%">
					<tr>
						<td width="400.0" style="background-color: #FFF; font-size: 14px; line-height: 18.0px; font-family: 'Arial', sans-serif; color:#3d4146; padding: 0px 20px;" valign="top">
							<div data-hubspot-form-id="emailbody" class="hubspot-editable">
								<p>Hey there!</p>
								
								<p>Thanks for joining our mailing list, and more importantly, welcome to the ModiFamiliy!</p>

								<p>Our fam gets emails from us a few times a month with jokes, information about DOPE watches, more jokes, updates, exclusive deals and promotions, aaaaaaand (you guessed it...) hilarity in the form of jokes :)</p>

								<p>Let's start with a code (%%GLOBAL_Code%%) you can redeem for $5 off your next purchase... enjoy!</p>

								<p>Team Modify</p>
							</div>
						</td>
						<td width="200.0" style="background-color: #F4F4F4; font-size: 12px; line-height: 18.0px; font-family: 'Arial', sans-serif; color:#3d4146; padding: 0px 20px 20px;text-align:center;" valign="top">
							<div style="color: #717780;">
								<h3 style="line-height:1.7">GET EXCITED...<br/>YOUR $5 CODE</h3>
								<p style="background-color:#FFF;color:#F47721;border:1px solid #c9c9c9;text-align:center;font-weight: bold;font-size: 20px;padding: 5px;">%%GLOBAL_Code%%</p>
								<a href='http://www.modifywatches.com/categories' style="border: 0;"><img src="http://www.modifywatches.com/templates/Modify/images/default/emails/shop.jpg" alt="Redeem Your Code" /></a>
								<p style="color:#818181;text-align:center;">Enter this personal code into the coupon box at checkout</p>
							</div>
						</td>
					</tr>
					<tr>
						<td height="10" style="background-color: #FFF;"></td>
						<td height="10" style="background-color: #F4F4F4;"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

												</td>
											</tr>
										</table>
									</div>
								</td>
							</tr>
							<!-- end content -->
							
							<!-- start footer divider -->
							<tr>
								<td align="center" valign="bottom" style="line-height: 0; background-color: #FFF" height="15">
									<img src="http://cdn1.hubspot.com/hub/74005/template_d_footer_divider.png" width="600" height="15" />
								</td>
							</tr>
							<!-- end footer divider -->
							
							<!-- start footer -->
							<tr>
								<td>
									<div align="center">
										<table cellpadding='0' cellspacing='0' border='0' width="600" style="background-color: #23272d; padding: 20px;" id="contact">
											<tr>
												<td style="font-size: 12px; line-height: 18.0px; font-family: 'Arial', sans-serif; color:#3d4146; color: #abb2bf">
    												<p>
														<strong style="font-size: 17px; color: #abb2bf">Modify Watches</strong><br/>
														Copyright &copy; 2013 <a href="http://www.hubspot.com" style="color: #abb2bf">http://www.modifywatches.com</a>
													</p>
												</td>
												<td align="right">
													
														
												</td>
											</tr>
										</table>
									</div>
								</td>
							<tr>
						</div>
					</table>
				</td>
			</tr>
        </table>
        
        <!-- end container -->
    </body>
</html>
