<p>Congratulations! You were selected as one of the winners of the Modify Watches Sweepstakes on GSN.com -- thanks for participating and welcome to the ModiFamily!</p>
<p><img src="http://s22.postimg.org/5twnv9781/ssss.png"></p>
<p>You won a coupon code for 30% off limited-edition Modify Watches. Below is your unique, one-time use code, good for any Mods on our website.</p>
<p>CODE: %%GLOBAL_Code%%</p>
<p>To redeem, please visit <a href="http://www.modifywatches.com/">www.modifywatches.com</a> and follow the steps below.</p>
<ol>
	<li>Visit our <a href="https://www.modifywatches.com/categories?a=build">Shop</a> to build your watches or <a href="https://www.modifywatches.com/sets.php">browse</a> our sets and collections</li>
	<li>Sort by face, strap, sets or colors</li>
	<li>Add products you like to our Visualizer to be able to see all face + strap combinations</li>
	<li>Add products you'd like to our cart and proceed to check out</li>
	<li>Enter your redemption code (above) when prompted </li>
	<li><a href="http://eepurl.com/g4-uf">Sign up</a> for our newsletter to enjoy more deals, savings, promotions, exclusives and jokes... lots of jokes!</li>
</ol>
<p>You can also find Modify on <a href="http://facebook.com/modifywatches">Facebook</a>, <a href="http://instagram.com/modifywatches">Instagram</a> or <a href="http://twitter.com/modifywatches">Twitter</a> -- we're all about engaging with our audience and allowing our ModiFamily to participate in designing our new products.</p>
<p>Let me know if you have any questions... holler!</p>
<p>Aaron, Modify Watches CEO</p>
