<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;">Thanks for Ordering!</h2>
<p>Thank you so much for your order! We'll be prepping your Modify Watches within the next few days; you will receive an email confirmation when your package is shipped.</p>
<p>In the meantime, what can you do to have more fun?</p>
<ol> </ol><ol>
<li>Create your own Modify collection by clicking&nbsp;<a href="http://www.modifywatches.com">here</a>.</li>
<li>Follow us on&nbsp;<a href="http://www.facebook.com/modifywatches">Facebook</a>,&nbsp;<a href="http://www.twitter.com/modifywatches">Twitter</a>,&nbsp;<a href="http://pinterest.com/modifywatches/">Pinterest&nbsp;</a>and&nbsp;<a href="http://instagram.com/modifywatches">Instagram</a>. We'll release new products and special offers there first</li>
<li><a href="http://www.modifywatches.com">Browse the rest of our site</a>. There are a lot of goodies and secrets there, and you can also design really funky Mods for friends.</li>
</ol>
<p>If none of these options appeal, we hope you're able to find a swingset, beach, enormous lollipop or something else that makes you smile. Or, watch my favorite <a href="http://www.youtube.com/watch?v=yR0lWICH3rY">commercial</a>.</p>
<div>Thanks, and please be in touch with any questions! Alllllso, if you don't mind sharing, <strong>how did you hear about us??</strong></div>
<div>Best Regards,</div>
<div>Aaron</div>
<div>help@modifywatches.com</div>
<div style="width: 100%; padding: 10px; background-color: #fff4ea;"><img src="%%GLOBAL_IMG_PATH%%/InfoMessage.gif" alt="" />&nbsp; 			%%LNG_YourOrderIDIs%% <strong>#%%GLOBAL_OrderNumber%%</strong>. %%GLOBAL_ViewOrderStatusMsg%%</div>
<p>%%GLOBAL_PendingPaymentNotice%%</p>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td id="Left" width="50%" valign="top">
<h3 style="font-family: Arial; font-size: 18px;">%%LNG_ShippingAddress%%</h3>
<div style="font-family: Arial; font-size: 12px;">%%GLOBAL_ShippingAddress%%</div>
<!--
<div style="%%GLOBAL_HideShippingEmail%%" _mce_style="">%%LNG_Email%%: %%GLOBAL_ShippingEmail%%</div>
--></td>
<td id="Right" width="50%" valign="top">
<h3 style="font-family: Arial; font-size: 18px;">%%LNG_BillingAddress%%</h3>
<div style="font-family: Arial; font-size: 12px;">%%GLOBAL_BillingAddress%%</div>
<!--
<div style="%%GLOBAL_HideBillingEmail%%" _mce_style="">%%LNG_Email%%: %%GLOBAL_BillingEmail%%</div>
--></td>
</tr>
</tbody>
</table>
<p><br /><br /> %%GLOBAL_PendingPaymentDetails%%  		%%GLOBAL_OrderCommentBlock%%</p>
<h3 style="font-size: 18px;">%%LNG_YourOrderContainsTheFollowingItems%%</h3>
<p>%%GLOBAL_CartItemColumns%%  		%%SNIPPET_CartItems%% 		%%SNIPPET_TotalRows%%  		%%GLOBAL_EmailFooter%%</p>