<html>
<body>
Thank you so much for participating in our survey -- we really appreciate all your time, thoughts and feedback!

Your $20 code: %%GLOBAL_Code%%

Your code will be redeemable though February 28, 2013 for everything at <a href="http://www.modifywatches.com">www.modifywatches.com</a>, except our "Together" face (our non-profit fundraising watch) and Mod of the Month Club subscriptions. 

Simply enter the code on the check out page and you'll be all set!

Get excited. :)
</body>
</html>
