<div id="setsHeader">
	<span class="welcomeText">Trouble getting started? Start your collection here.</span>
</div>
<div id="setsCollage">
	<a href="sets.php?action=uci"><img style="margin:0 20px 20px 0" src="templates/modify/images/blue/UCI_sets_slide.jpg" alt="UCI Watches" /></a>
	<a href="sets.php?action=partners"><img style="margin:0 0px 20px 0" src="templates/modify/images/blue/partners3.jpg" alt="ModiPartners" /></a>
    <a href="sets.php?action=classic"><img style="margin:0 0 20px 0" src="templates/modify/images/blue/classics.jpg" alt="ModiClassics" /></a>
    <a href="sets.php?action=spirit"><img src="templates/modify/images/blue/spirits.jpg" alt="ModiSpirit" /></a>
</div>