<div id="aboutSidebarContainer">
	<div class="aboutSidebarHeader">
    	All About Modify
    </div>
    <div class="aboutSidebarLinks">
    	<a href="./about.php">What? Who?</a><br>
        <a href="./archives.php">Every Mod Ever</a><br>
        <a href="./jointeam.php">Join our Team</a><br>
        <a href="./media.php">Modify on Internets</a><br />
        <a href="./nonprofits.php">Non-Profit Partners</a><br />
        <a href="./blog/">Blog</a>
    </div>
    
    <div class="aboutSidebarHeader">
    	Support
    </div>
    <div class="aboutSidebarLinks">
    	<a href="./faq.php">FAQs / How-to-Modify</a><br>
        <a href="./returns.php">Returns & Exchanges</a><br>
        <a href="./contact.php">Contact Us</a><br>
    </div>
    
</div>