<div id="aboutContainerOne">
	<div id="aboutContainerTwo">
    
    	<div class="aboutContentHeader" style="width:650px;">
        	Modify is expanding! Join the coolest team in town.
        </div>
        <div class="aboutContentText" style="margin-top:10px;">
        	<p>
    	        Modify Watches are worn by everyone: class presidents; hopscotch moguls; international flautists. Don't you want to be the man/woman behind the woman/man behind the dopest watch company around?
            </p>
			
            <p>
				In just under a year we have already delivered nearly 15,000 watches all over the U.S. and Earth. We have licenses with some of the biggest properties around (Major League Baseball Player's Association, Domo, and more). And we have a really, really, really cool team
            </p>

			<p>
				If you're interested in any of the below, please send a cover letter and resume to SweetJob@modifywatches.com
            </p>
            
            <div style="background-color:#F2F2F2;padding:10px;">
            <p>
            <b style="font-size:18px;border-bottom:dotted 1px #6b6b6b;">Campus Rep Supervisor Position</b></p>
            <p>
                Modify Watches is officially launching its Campus Rep program this Fall semester / quarter and is seeking responsible, full-time students for its Campus Rep Supervisor position.  Candidates for the Campus Supervisor position should meet following qualifications: <br />
                <ul>
                <li>One full-time year of University classes completed</li>
                <li>Experience in a meaningful leadership role</li>
                <li>Proven ability to handle large amounts of responsibility while tending to numerous, simultaneous projects and assignments</li>
                <li>Confidence and comfort leading peers and managing others (you may even manage Reps that are older than yourself)</li>
                <li>A creative mind </li>
                <li>A self-starter</li>
                <li>A competitive spirit</li>
                </ul>
                
                The Modify Campus Rep Supervisor position is a commission-based paid-internship that will run year-round.  Performance will be measured each semester / quarter to determine participants' effectiveness and contribution.
           </p>
           <p>  
           <b>Responsibilities:</b><br />
                A great deal of responsibility will lie on the Campus Rep Supervisors.  Supervisors will be responsible for taking the initiative to become integrated with the campus community, market and sell the watches, as well as manage other Modify campus' representatives.  Supervisors will be responsible for motivating the team to drive sales and will be compensated accordingly.  Campus Rep Supervisors will serve as the point person between Campus Reps and the management team at Modify Watches.  
           </p>
           <p>
                <b>Benefits: </b><br />
                <ul>
                <li>Real-world sales, marketing, and managerial experience</li>
                <li>The opportunity to earn money while still enrolled in school (the sky's the limit…the more watches you and your team sells -- the more money in the bank!)</li>
                <li>The opportunity to join a start-up and work with two Haas MBAs (mentorship opportunities included)</li>
                <li>Free watches to build out your own Mod set, so you'll carry some swag on your wrist daily</li>
                </ul>
           </p>
           <p>
                <b>How to Apply:</b><br />
                Please send us your resume and cover letter to Floyd.nathaniel@gmail.com and be sure to include any blogs you may have, your twitter account, and any other social media presence you may have.  Also, please include in your cover letter: (i) your favorite mod set from the site and why, as well as (ii) your plan to sell 1,000 watches in two months.
			</p>
          </div>
        </div>
	</div>
</div>