<div id="aboutContainerOne">
	<div id="aboutContainerTwo">
    	<div class="aboutContentHeader" style="width:420px;">
        	Where did Modify Watches start?
        </div>
        <div class="aboutContentText">
        	<p>Two of us began talking about watches waaaay back in April, 2010 and finally launched 3 months later after an incredibly difficult and daring journey. We were The Swap Watch. Now, one Trademark-infringement, a big team expansion and <a href="./archives.php">300 watch names</a> later, we're known as Modify Industries, Inc. But you can call us Modify Watches. Or Modify. Or <a href="http://www.youtube.com/watch?v=0A5t5_O8hdA">Shirley</a>!
            </p>
            <p>
We love feedback and suggestions on additional colors or styles or watch names. We promise to work hard to deliver the most stylish and fun products, and will do our darndest to bring a smile to your face. So please, if you have ideas on how we can be better (personally and / or professionally) email us with your thoughts. Contact our team by sending a note to help@modifywatches.com
			</p>
         	
            <p>
            A big piece of our history are the names of old watches. We try not to duplicate except for our all-time favorites (Black and Blue will always be "The Bar Fight".  Click <a href="./archives.php">here</a> to see the full roster.
			</p>
      </div>
   
      <div style='float:left;padding:10px;width:200px;height:250px;text-align:left;margin-right:15px;'> 
        <img src='http://dev.modifywatches.com/photos/combos/1999.JPG' width=200> 
        <br><b id='orangefont'>1999</b> 
        <p style='font-size:12px;'>Funny story. Aaron once met Prince (he of the oft-purply wardrobe). And Prince sounds just like Dave Chappelle's impersonation of Prince.</p>            
      </div> 
         
      <div style='float:left;padding:10px;width:200px;height:250px;text-align:left;margin-right:15px;'> 
          <img src='http://dev.modifywatches.com/photos/combos/colorblindanarchist.JPG' width=200> 
          <br><b id='orangefont'>Color-Blind Anarchist</b> 
          <p style='font-size:12px;'>Why start a revolution when you can wear one?  If Che had owned one of these... well... who can say?</p>            
      </div> 
       
      <div style='float:left;padding:10px;width:200px;height:250px;text-align:left;margin-right:15px;'> 
          <img src='http://dev.modifywatches.com/photos/combos/intimidation.JPG' width=200> 
          <br><b id='orangefont'>Intimidation</b> 
          <p style='font-size:12px;'>Whoa, back off there a little sunshine.</p>            
      </div> 
        
              
	</div>
</div>