<div id="aboutContainerOne">
	<div id="aboutContainerTwo">
    
    	<div class="aboutContentHeader">
        	Six Steps to Modify
        </div>
        <div class="aboutContentText" style="margin-top:10px;">
            <ul id='howtogallery'>
                <li><img src='templates/modify/images/blue/howto1.png' width=115 style='margin-top:3px;'><br>1. Engage with the Fashion Item
                <li><img src='templates/modify/images/blue/howto2.png' width=115><br>2. Stretch and peel back comfy strap
                <li><img src='templates/modify/images/blue/howto3.png' width=115><br>3. Remove the attractive face
                <li><img src='templates/modify/images/blue/howto4.png' width=115><br>4. Insert face that enhances wardrobe
                <li><img src='templates/modify/images/blue/howto5.png' width=115><br>5. Pull strap over nubs, push in sides
                <li><img src='templates/modify/images/blue/howto6.png' width=115><br>6. Strut your stuff, Mr or Ms Modify
              </ul>
        </div>
        
    	<div class="aboutContentHeader">
        	Frequently Asked Questions
        </div>
        <div class="aboutContentText" style="margin-top:10px;">
        	<p>
        	<b class="faqquestion">Q: What are the new features in Modify 2.0?</b>
            <span style="margin-left:5px;display:block;">
            A: A few of our favorite features of 2.0 include:
				<ol style="margin-left:50px;">
                	<li>2 Sizes: Big and Bigger!</li>
					<li>Water resistant to 3ATM (go swimming)</li>
					<li>Made of stainless steel and scratch-resistant PC</li>
					<li>Lower profile on your wrist</li>
					<li>More protective and uv-coated silicone strap</li>
					<li>Smothered by Modify branding</li>
				</ol>
            </span></p>
            <p>
        	<b class="faqquestion">Q: Is Modify 2.0 compatible with my old Modify watches?</b>
            <span style="margin-left:5px;display:block;">
            A: Modify 2.0 is not compatible with 1.0. We completely revamped the design of version 1.0 - we built this puppy from scratch (if you want to see the design specs, let us know!). In order to create a water-resistant watch with a lower profile, we had to change all of the components. If you're a customer of version 1.0, you will receive something special from us... if this never arrived, let <a href="mailto:aaron@modifywatches.com">Aaron</a> know!
            </span></p>
            <p>
        	<b class="faqquestion">Q: Are these watches for men or for women?</b>
            <span style="margin-left:5px;display:block;">
            A: Bof'em (Both). The Modify Watch is an ambiwatch. Check out photos of our Fans (male, female, canine) on our <a href="http://www.facebook.com/ModifyWatches" target="_blank">Facebook page</a> or on the <a href="./community.php">Community</a> page.
            </span></p>
            <p>
            <b class="faqquestion">Q: How do I actually Modify my watch?</b>
            <span style="margin-left:5px;display:block;">
            A: See the Six Steps to Modify section above. The key to modifying your watch (assuming you are taking a face out of a band), is to pull on either side of the band until the rubber tongs that hook into the top and bottom of that face pull out. You can then pull the face out. To put a face in, start with one side and jam the plastic tongs on the face into the rubber indentations on the top of the watch (make sure you put the face on the correct side with the dial on the side with the hole in the rubber). It can take a little bit of force to make the fit right, so use your thumbs on the rubber on either side of the face and push them towards the face until you feel it pop into place. Trust us, this gets easier with practice.
             </span></p>
            <p>
            <b class="faqquestion">Q: How big are the watches? What are they made of?</b>
            <span style="margin-left:5px;display:block;">
            A: Watch Face Size (LxW): 4.4cm x 4.3cm. Watch Strap Size (LxW): 23cm x 2.2 cm. Net Weight: 49g. The watch straps are made of stainless steel and scratch-resistant polycarbonate.
             </span></p>
            <p>
            <b class="faqquestion">Q: Is the watch water-resistant?</b>
            <span style="margin-left:5px;display:block;">
            A: Yes! Modify Watches are resistant to 3ATM. That's a physics-term, referencing depth and pressure. In layperson's terms, you can swim and shower and workout with your Modify.  They are not meant for deep sea abalone diving. If you get the watch wet, please remove it from the strap and let the pieces dry separately to prevent rusting.
             </span></p>
            <p>
            <b class="faqquestion">Q: How long is the 3-month warranty and what does it cover?</b>
            <span style="margin-left:5px;display:block;">
            A: Great question: The 3-month warranty is 90 days long. The warranty covers defective watches from the date of shipment. Should the watch stop working properly, we will send you a new one. Contact us if the battery stops, we've stocked extras so you don't have to go on a pesky battery hunt! Watches are not considered defective if you cause physical harm to it. Basically, if the watch stops working on its own, we got your back. Simply send us an email and we will gladly walk you through the process.
             </span></p>
            <p>
            <b class="faqquestion">Q: Where do I get a replacement battery?</b>
            <span style="margin-left:5px;display:block;">
            A: We've always been annoyed having to find batteries when our watch stops ticking. So we decided to help you out and send you the correct one. Of course, you shouldn't need to switch batteries for a while, but if you do just e-mail Aaron, and he'll send one sealed with a loving kiss. If you're desperate for a new battery within 6 minutes, Sony number 364 (SR621SW) will work great!
             </span></p>
            <p>
            <b class="faqquestion">Q: If I were on the Modify team, what would people say to me?</b>
            <span style="margin-left:5px;display:block;">
            A: Common Refrain 1: "You are a hunky dreamboat that I would like to snuggle" (very common)<br />
            - Common Refrain 2: "Above all, the professionalism you display is unmatched." (less common)<br />
            - Common Refrain 3 (to Gary): "Nice watch! But you should really consider trimming your eyebrows."<br />
            - Common Refrain 4 (to Aaron): "Nice watch! But sorry about your lactose intolerance."
             </span></p>
            <p>
            <b class="faqquestion">Q: Can I get free Modify watches? </b>
            <span style="margin-left:5px;display:block;">
            A: Yes! For every new customer who spends more than $40 and uses your customized referral code you will earn $10 of in-store credit, which must be used within 180 days. Please note that the in-store credit may be revoked at the sole discretion of Modify if there is any abuse of this program. 
            </span>
            </p>
            <p>
            <b class="faqquestion">Q: Will Modify use photos I send in?</b>
            <span style="margin-left:5px;display:block;">
            A: Yes! We love sharing photos of our customers showing off their Modify watches.  By sending us photos you give Modify permission to use them on this site and in other forms of advertising. If you would prefer for us to not share your photos, please let us know and we will not do so.  
            </span></p>
            <b class="faqquestion">A few last notes:</b>
            <span style="margin-left:5px;display:block;">
            Keep out of the reach of children and definitely do not swallow your Modify watch.<br />
            Please do not Modify and drive.<br />
            There is no proven link between Modifying and the fear of defenestration.
             </span></p>
            <p>
        </div>
	</div>
</div>