<div id="aboutContainerOne">
	<div id="aboutContainerLeft">
    	<div class="aboutContentHeader">
        	<span class="welcomeText" style="color:#f57222;font-size:24pt;">What are<br />Modify Watches?</span>
        </div>
        <div class="aboutContentText" style="border-bottom:1px solid #e2e2e2">
            <p>Modify Watches are super-dope, interchangeable watches. You can mix-and-match faces and straps to create the "Mod" that allows you to make your statement, whether (quiet) or LOUD. </p>
            <p>We have a thriving <a href="http://www.facebook.com/ModifyWatches">Facebook community</a>. Our <a href="community.php">ModiFamily</a> does not just "like" us; they engage and tell us what designs to produce next. We won't stop creating Modify Watches until you complete <i>your</i> collection. Even if that means you really want a green/purple/orange watch. Which might be the only objectively <a href="templates/modify/images/blue/seanwatchdrawing.jpg" target="_blank">ugly color combination</a>.</p>
            <p>
            Oh yeah. Despite having, like, <a href="./archives.php">a million combinations</a>, we name them all. So click on some watches and get caught up with pop culture, movie references and old-timey "facts".
            </p>
            <p>Holler at us:</p>
            <p>Aaron Schwartz, Director of Player Personnel<br />
            aaron@modifywatches.com
            </p>
      	</div>
      	
        <div class="aboutSubHeader">Company History</div>
        
        <div class="aboutContentText">
        	<p>Two of us began talking about watches waaaay back in April, 2010 and finally launched 3 months later after an incredibly difficult and daring journey. We were The Swap Watch. Now, one Trademark-infringement, a big team expansion and <a href="./archives.php">300 watch names</a> later, we're known as Modify Industries, Inc. But you can call us Modify Watches. Or Modify. Or <a href="http://www.youtube.com/watch?v=0A5t5_O8hdA">Shirley</a>!
            </p>
            <p>
We love feedback and suggestions on additional colors or styles or watch names. We promise to work hard to deliver the most stylish and fun products, and will do our darndest to bring a smile to your face. So please, if you have ideas on how we can be better (personally and / or professionally) email us with your thoughts. Contact our team by sending a note to help@modifywatches.com
			</p>
         	
            <p>
            A big piece of our history are the names of old watches. We try not to duplicate except for our all-time favorites (Black and Blue will always be "The Bar Fight").  Click <a href="./archives.php">here</a> to see the full roster.
			</p>
        </div>
      
	</div>
    
    <div id="aboutContainerRight">
        
        <div class="aboutSidebarHeader aboutSubHeader">
        	Who is Modify Watches?
        </div><br />
        <div class="aboutTeamBox teamLeft">
        	<div class="teamPhoto">
            	<img src="templates/modify/images/blue/about/aaron.jpg" style="width: 123px;">
            </div>
            <div class="name">
				Aaron Schwartz            
            </div>
            <div class="title">
            	Director of Player Personnel
            </div>
        </div>
        
        <div class="aboutTeamBox">
        	<div class="teamPhoto">
            	<img src="templates/modify/images/blue/about/ashil.jpg" style="width: 123px;">
            </div>
            <div class="name">
				Ashil Parag           
            </div>
            <div class="title">
            	Creative Guy
            </div>
        </div>
        
        <div class="aboutTeamBox teamLeft">
        	<div class="teamPhoto">
            	<img src="templates/modify/images/blue/about/sean.jpg" style="width: 123px;">
            </div>
            <div class="name">
				Sean Linehan           
            </div>
            <div class="title">
            	Practitioner of Web Wizardry
            </div>
        </div>
        
        <div class="aboutTeamBox">
        	<div class="teamPhoto">
            	<img src="templates/modify/images/blue/about/ayo.jpg" style="width: 123px;">
            </div>
            <div class="name">
				Ayo Oluwole           
            </div>
            <div class="title">
            	Token Marketing Guy
            </div>
        </div>
        
        <div class="aboutTeamBox teamLeft">
        	<div class="teamPhoto">
            	<img src="templates/modify/images/blue/about/gary.jpg" style="width: 123px;">
            </div>
            <div class="name">
				Gary Coover          
            </div>
            <div class="title">
            	Sorcerer Strategist
            </div>
        </div>
        
        <div class="aboutTeamBox">
        	<div class="teamPhoto">
            	<img src="templates/modify/images/blue/about/doug.jpg" style="width: 123px;">
            </div>
            <div class="name">
				Doug Bend           
            </div>
            <div class="title">
            	Knight of Law
            </div>
        </div>
        
        <div class="aboutTeamBox teamLeft">
        	<div class="teamPhoto">
            	<img src="templates/modify/images/blue/about/matt.jpg" style="width: 123px;">
            </div>
            <div class="name">
				Matt Barnes           
            </div>
            <div class="title">
            	Packaging Yoda
            </div>
        </div>
        
        <div class="aboutTeamBox">
        	<div class="teamPhoto">
            	<img src="templates/modify/images/blue/about/alicia.jpg" style="width: 123px;">
            </div>
            <div class="name">
				Alicia Keeffe        
            </div>
            <div class="title">
            	Creative Gal
            </div>
        </div>
        
	</div>
</div>