<div id="aboutContainerOne">
	<div id="aboutContainerTwo">
    	<div class="aboutContentHeader">
        	Non-Profit Partners
        </div>
        <div class="aboutContentText">
			<p>
            	We're pretty big supporters of our community. Ashil is a driving force on the board of Wonderroot and in the Atlanta community;
            	Aaron has done work with a few of the non-profits on the list below (and is helping coach an awesome 5th-grade b-ball team!);
            	and the rest of the team is pre-tty active too.
            </p>

			<P>
            	Modify does not have a stated policy for non-profits, we just want to help the community.
            	We've found that our watches are pretty great for fundraisers. So, let us know your cause and we'll be there to help.
            	Below is a list of a few of the organizations we're proud to have supported
            </P>
            
            <div style='float:left;width:234px;margin:10px;'>
                <p><center>
                    <a href='http://jillslegacydonate.kintera.org/faf/home/default.asp?ievent=483652' target='_blank'><img src='templates/modify/images/blue/jills.jpg' alt="Jill's Legacy" height='100px'></a>
                </center>
                </p>
                <p>
                    <a href='http://jillslegacydonate.kintera.org/faf/home/default.asp?ievent=483652' target='_blank'>Jill's Legacy</a> is out to beat lung cancer, BIG time. Jill's Legacy stives to be the driving force in increasing the survival rate of lung cancer. Modify teamed up with Jill's to raise over $500 for their cause! 
                </p>
            </div>  
            
            <div style='float:left;width:234px;margin:8px;'>
                <p>
                	<center>
                    <a href='http://www.larkinstreetyouth.org' target='_blank'><img src='templates/modify/images/blue/larkin.png' alt='Larkin Street Youth Services' height='100px'></a>
                    </center>
                </p>
                <p>
                    <a href='http://www.larkinstreetyouth.org' target='_blank'>Larkin Street Youth Services'</a> mission is to create a continuum of services that inspires youth
                    to move beyond the streets. We will nurture potential, promote dignity, and support bold
                    steps by all.
                </p>
            </div>  
          
            <div  style='float:left;width:234px;margin:10px;'>
              <p>
              	<center>
                <a href='http://www.wonderroot.org' target='_blank'><img src='templates/modify/images/blue/wonderroot.png' alt='WonderRoot'></a>
                </center>
              </p>
              <p>
                <a href='http://www.wonderroot.org' target='_blank'>WonderRoot</a> is an Atlanta-based 501(c)(3) non-profit arts organization committed to uniting artists and community to inspire positive social change.
              </p>
            </div>
            
            <div style="float:left;border-top:1px solid #D7D7D7;width:100%;font-size:11px;padding-top:15px;">
            	<div class="aboutContentHeader" style="width:500px;margin-bottom:15px;">
                    More Partners
                </div>
                
                <div style='float:left;width:160px;margin-right:46px;margin-bottom:46px;'>
                    <a href="http://afpgoldengate.afpnet.org/NationalPhilanthropyDay/2011_NPD_Sponsors.aspx" target="_blank"><img src="templates/modify/images/blue/afp.jpg"></a>
                </div>
                
                <div style='float:left;width:160px;margin-right:46px;margin-bottom:46px;'>
                    <a href="http://playconference.org/" target="_blank"><img src="templates/modify/images/blue/play.jpg"></a>
                </div>
                
                <div style='float:left;width:160px;margin-right:47px;margin-bottom:46px;'>
                    <a href="http://www.facebook.com/UnitedWayPDX" target="_blank"><img src="templates/modify/images/blue/unitedway.jpg"></a>
                </div>
                
                <div style='float:left;width:160px;margin-bottom:46px;'>
                    <a href="http://www.stilettostampede.org/sponsors.html" target="_blank"><img src="templates/modify/images/blue/stiletto.jpg"></a>
                </div>
                
                <div style='float:left;width:160px;margin-right:46px;margin-bottom:46px;'>
                    <a href="http://www.educationfirst.org/" target="_blank"><img src="templates/modify/images/blue/edufirst.jpg"></a>
                </div>
                
                <div style='float:left;width:160px;margin-right:46px;margin-bottom:46px;'>
                    <a href="http://wgirls.org/bayarea/events/white-summer-nights" target="_blank"><img src="templates/modify/images/blue/wgirls.jpg"></a>
                </div>
                
                <div style='float:left;width:160px;margin-right:46px;margin-bottom:46px;'>
                    <a href="http://alum.barnard.edu/s/1133/start.aspx?sid=1133&gid=1&pgid=61&cid=160" target="_blank"><img src="templates/modify/images/blue/barnard.jpg"></a>
                </div>
                
                <div style='float:left;width:160px;margin-bottom:46px;'>
                    <a href="http://www.facebook.com/groups/Jdrfylcnyc/" target="_blank"><img src="templates/modify/images/blue/ylc.jpg"></a>
                </div>
             </div>
        </div>
	</div>
</div>