<div id="aboutContainerOne">
	<div id="aboutContainerTwo">
    	<div class="aboutContentHeader" style="width:500px;">
        	Modify on the Internets
        </div>
        <div class="aboutContentText" style="margin-top:10px;">
			<p>For press inquiries, <a href="mailto:marci@saegermediagroup.com">please contact marci@saegermediagroup.com</a></p>
            
            <div style="float:left;margin-right:20px;margin-bottom:20px;">
            	<object width="380" height="230"><param name="movie" value="http://www.youtube.com/v/0194zD_PpXU?version=3&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/0194zD_PpXU?version=3&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="380" height="230" allowscriptaccess="always" allowfullscreen="true"></embed></object>
            </div>
            
            <div style="float:left;margin-bottom:20px;">    
                <object style="height: 230px; width: 380px;" width="380" height="230" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="src" value="http://www.youtube.com/v/A744zlqYNEU?version=3" /><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><embed style="height: 230px; width: 380px;" width="380" height="230" type="application/x-shockwave-flash" src="http://www.youtube.com/v/A744zlqYNEU?version=3" allowFullScreen="true" allowScriptAccess="always" allowfullscreen="true" allowscriptaccess="always" /></object>
            </div>
            
            <div style="float:left;margin-bottom:20px;">
            	<object width="380" height="230" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="src" value="http://www.youtube.com/v/PCq8BibwQEU&amp;hl=en_US&amp;feature=player_embedded&amp;version=3" /><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><embed width="380" height="230" type="application/x-shockwave-flash" src="http://www.youtube.com/v/PCq8BibwQEU&amp;hl=en_US&amp;feature=player_embedded&amp;version=3" allowFullScreen="true" allowScriptAccess="always" allowfullscreen="true" allowscriptaccess="always" /></object>
            </div>
            
            <div style="float:left; margin-left:20px;margin-bottom:20px;">
				<script type="text/javascript" src="http://player.ooyala.com/player.js?height=230&amp;deepLinkEmbedCode=1mMzJvMjpeXrfpa0hWxYNCXKFXOcJkuG&amp;embedCode=1mMzJvMjpeXrfpa0hWxYNCXKFXOcJkuG&amp;width=380&amp;video_pcode=11amo6qGw2oucN78pR-BYbDpCESk"></script>	
            </div>
            
            <div style="float:left;border-top:1px solid #D7D7D7;width:100%;font-size:11px;padding-top:15px;">
            	<div class="aboutContentHeader" style="width:500px;">
                    Spotted!
                </div>
            	
            	<div style="float:left;margin-right:17px;width:180px;text-align:justify;">
                	<a href="http://empact100.com/companies/Modify_Watches" target="_blank"><img src="templates/modify/images/blue/media/empact.jpg" /></a><br />
                    Modify has been selected as one of the top 100 young startups in the U.S.! 
                </div>
                
                <div style="float:left;margin-right:17px;width:180px;text-align:justify;">
                	<a href="http://espn.go.com/action/bmx/blog/_/post/6757081/dylan-sparkman-bay-area-streets" target="_blank"><img src="templates/modify/images/blue/media/espn.jpg" /></a><br />
                    We're a proud sponsor of Dylan "Bama" Sparkman. If you can ride as well as this bad dude, let us know.
                </div>
                
                <div style="float:left;margin-right:17px;width:180px;text-align:justify;">
                	<a href="http://thrillist.com/style/san-francisco/modify-watch-20_watches" target="_blank"><img src="templates/modify/images/blue/media/thrillist.jpg" /></a><br />
                    "Rad customizable time-keepers with a new sleek design that rocks a thinner face and two new awesomely named sizing options."
                </div>
                
                <div style="float:left;width:180px;text-align:justify;">
                	<a href="https://code.google.com/speed/pss/gallery.html" target="_blank"><img src="templates/modify/images/blue/media/Google.jpg" /></a><br />
                    Google chose us as a beta tester. 'Nuff said.
                </div>
            
            	<div style="float:right;margin:25px 0;">
                	Read more about our press coverage on the <a href="http://dev.modifywatches.com/blog/?cat=9" target="_blank">Modify Blog</a>
                </div>
            </div>

        </div>   
	</div>
</div>