<div id="aboutContainerOne">
	<div id="aboutContainerTwo">
    	<div class="aboutContentHeader">
        	Returns & Exchanges
        </div>
        <div class="aboutContentText">
        	<p>You should love your Modify Watches. If you don't, please let us know and we'll switch your colors or issue a refund.<br /> It's a simple equation:</p>
            <p>
				<center class="faqquestion" style="padding:10px;font-size:20px;font-weight:bold;width:90%;">You = &hearts; Modify. If You &ne; &hearts; Modify, We'll Fix It.</center>
            </p>
			<p>
                Contact us: <a href="mailto:help@modifywatches.com">Help@ModifyWatches.com</a>. We'll get back to you as soon as we can (always within 24 hours)
            </p>
            <p> 
                For more frequently asked questions, check out our <a href="./faq.php">FAQ section</a>.
			</p>
      </div>
		<div class="aboutContentHeader">
        	Warranty Information
        </div>
        <div class="aboutContentText">
        	<p>Click the image below to see our warranty information.</p>
            <p>
				<a href="templates/modify/images/blue/Warranty_insert.pdf" target="_blank"><img src="templates/modify/images/blue/warranty.jpg" alt="Modify's Warranty Information" /></a>
            </p>
      </div>     
	</div>
</div>