<div class="top">
	<span>%%GLOBAL_CheckoutShippingTitle%%</span>
	<div class="lock fRight"></div>
	<span class="fRight">%%LNG_SecureCheckout%%</span>
</div>
<div class="BlockContent">
	%%Discount.FreeShippingEligibility%%
	<h4>Use an Existing Billing Address:</h4>
	<div class="PL20 FloatNone">
		<ul class="ShippingAddressList">
			%%SNIPPET_ShippingAddressList%%
		</ul>
		<br class="Clear" />
	</div>
	<div>
		<h4>Or Add a New Billing Address:</h4>
		%%SNIPPET_NewAddress%%
	</div>
	<br class="Clear" />
</div>

%%Panel.ChooseShippingAddressJavaScript%%
