<div id="leftColumn">

	<div id="comMainPhoto">
    	<div id="comPhotoOverlay">
        	<div class="comSlideTitle">
                <b>Carlton Mackey </b>- Atlanta, GA<br />
            </div>
            <div class="comQuestion">
                <b>What's your favorite Modify moment?</b><br />
                I'm on a walk in my neighborhood and a police officer rolls up beside me in his cruiser... leading to a minor freak out moment.  Was I J-Walking?  Mistaken Identity?  Had I bought the last hot doughnut at Krispy Kreme? Nope. It was a case of M.U.W.W. - Modified Up While Walking. He proceeds to ask me where did I get my watch.  He says he noticed it from across the street and wanted to know where he could get one! TRUE STORY. Be forewarned: These watches are 'DOPE'.  Rockin a Modify and walking the streets can get you stopped by the po-po. 
            </div>
        </div>
    </div>
	
    <div id="comSlideshowContainer">
    	<div id="comScrollLeft"></div>
        
        <div class="comSlideshowTitle">
        	A Few ModiFamily Members
        </div>
        
    	<div id="comSlideshowInnerContainer">
        	<div id="comSlideshowSlider">
            
           		<div class="comSlide">
                    <img src="templates/modify/images/blue/slideshow/couple.jpg" alt="Aaron's Brother" /><br />
                    Zach and Alice Schwartz<br />
                    Hong Kong
                    <div class="comSlideInfo">
                        <div class="comSlideTitle">
                            <b>Zach and Alice Schwartz </b>- Hong Kong<br />
                        </div>

                        <div class="comQuestion">
                            <b>What's your favorite Modify moment?</b><br />
                            When we customized Modify Watches for our Wedding.<br /><br />
                            <b>Who's your favorite Modifier?</b><br />
                            A.B.A. (Anyone But Aaron)
                        </div>
                        <a class="slideImage" href="templates/modify/images/blue/slideshow/aaronsbrobig.jpg"></a>
                    </div>
                </div>
                
                <div class="comSlide">
                    <img src="templates/modify/images/blue/slideshow/juice.jpg" alt="Juice in the City Team" /><br />
                    Juice in The City Team<br />
                    San Mateo, CA
                    <div class="comSlideInfo">
                        <div class="comSlideTitle">
                            <b>Juice in The City Team </b>- <a href="http://www.juiceinthecity.com" target="_blank">JITC</a>, CA<br />
                        </div>

                        <div class="comQuestion">
                            <b>How do you Modify?</b><br />
                            (Meredith): My favorite way to Modify is with a full set of lush lashes, a platinum wig and full smokey-eyes make up!
                            <br /><br />
                            <b>Are you Fashionable, Flexible, Modifiable or Dope? And Why?</b><br />
                            (Erica): I'm dope. Because I iz.
                            <br /><br />
                            <b>What's your favorite Modify Moment?</b><br />
                            (Shino): The first time I put on my Modify. My combat chassis was finally complete.
                        </div>
                        <a class="slideImage" href="templates/modify/images/blue/slideshow/juicebig.jpg"></a>
                    </div>
                </div>
                
                <div class="comSlide">
                    <img src="templates/modify/images/blue/slideshow/rocco.jpg" alt="Rocco" /><br />
                    Rocco DeBenedictis<br />
                    Las Vegas, NV
                    <div class="comSlideInfo">
                        <div class="comSlideTitle">
                            <b>Rocco DeBenedictis </b>- Las Vegas, NV<br />
                        </div>

                        <div class="comQuestion">
                            <b>How do you Modify?</b><br />
                            How do I modify? I go through phases of orange green, orange green.. then I switch it up to hot pink and white.. and you can always add some blue in there to change it up…there are some days when I want the grey and black to match my emo mood, but then I get so excited when I see that electric blue!!
                            <br /><br />
                            <b>What's your favorite Modify Moment?</b><br />
                            Every day is my favorite, when I get grabbed and touched and felt up by strangers trying to see my watch, it makes me feel like a celebrity coming out of rehab!
                            <br /><br />
                            <b>Are you Fashionable, Flexible, Modifiable or Dope? And Why?</b><br />
                            I am flexible, more so back in the day in college- shh don't look up those pictures. My job requires fast pace change and on the spot quick shots, so to be flexible I always need to know what time it is, that is why I ALWAYS have my modify watch on..
                        </div>
                        <a class="slideImage" href="templates/modify/images/blue/slideshow/roccobig.jpg"></a>
                    </div>
                </div>
                
                <div class="comSlide">
                    <img src="templates/modify/images/blue/slideshow/Ayo.jpg" alt="Mathew Oluwole" /><br />
                    Matthew Oluwole<br />
                    Old Tappan, NJ
                    <div class="comSlideInfo">
                        <div class="comSlideTitle">
                            <b>Matthew Oluwole </b>- Old Tappan, NJ<br />
                        </div>

                        <div class="comQuestion">
                            <b>Are you Fashionable, Flexible, Modifiable or Dope? And Why?</b><br />
                            All of them. I learn from the best, my big cousin Ayo (<a href="http://www.twitter.com/ayonyc" target="_blank">@ayonyc</a>). He's the dopest.
                        </div>
                        <a class="slideImage" href="templates/modify/images/blue/slideshow/AyoBig.jpg"></a>
                    </div>
                </div>
                
                <div class="comSlide">
                    <img src="templates/modify/images/blue/slideshow/megan.jpg" alt="Megan Rast" /><br />
                    Megan Rast<br />
                    Los Angeles, CA
                    <div class="comSlideInfo">
                        <div class="comSlideTitle">
                            <b>Megan Rast </b>- Los Angeles, CA<br />
                        </div>

                        <div class="comQuestion">
                        	<b>What's your favorite Modify Moment?</b><br />
                            My favorite Modify Moment was realizing I picked out my entire outfit around the white strap - green polka dot Mod.  .
                            <b>Are you Fashionable, Flexible, Modifiable or Dope? And Why?</b><br />
                            Dope - because while roaming around the movie studio where I work, the most common "I love your..." statement is on my Modify watches.  These peoples are fashion-forward, and Modify gets me DOPE respect.
                        </div>
                        <a class="slideImage" href="templates/modify/images/blue/slideshow/meganbig.jpg"></a>
                    </div>
                </div>
                
                <div class="comSlide">
                    <img src="templates/modify/images/blue/slideshow/baby.jpg" alt="Arbel Raz" /><br />
                    Arbel Raz<br />
                    Albany, CA
                    <div class="comSlideInfo">
                        <div class="comSlideTitle">
                            <b>Arbel Raz </b>- Albany, CA<br />
                        </div>

                        <div class="comQuestion">
                            <b>What's your favorite Modify Moment?</b><br />
                            Funny you should ask. I was on the yacht the other day - Muffy and I often fish for abalone - and one of our crew said, "Sir, your wrist looks incredible." I said, "Horace, why it's just a tan". He said, "I'm sorry, sir, but your watch... It's, it's magnificent." I let him know that he was never to interrupt me again.
                        </div>
                        <a class="slideImage" href="templates/modify/images/blue/slideshow/babybig.jpg"></a>
                    </div>
                </div>
                
                <div class="comSlide">
                    <img src="templates/modify/images/blue/slideshow/alli.jpg" alt="Alli Royce Soble" /><br />
                    Alli Royce Soble<br />
                    Atlanta, GA
                    <div class="comSlideInfo">
                        <div class="comSlideTitle">
                            <b>Alli Royce Soble </b>- Atlanta, GA<br />
                        </div>

                        <div class="comQuestion">
                            <b>What's your favorite Modify Moment?</b><br />
                            A pal on Cape Cod told me he saw some people wearing MODIFY and he told them, "Oh my friend Alli Royce Soble in Atlanta was wearing that MONTHS ago."  Ahead of the curve and creating a buzz." :) I LOVE that i get asked DAILY about my MODIFY WATCH and i always say, go to MODIFYWATCHEScom and tell 'em i sent ya!
                        </div>
                        <a class="slideImage" href="templates/modify/images/blue/slideshow/allibig.jpg"></a>
                    </div>
                </div>
                
                <div class="comSlide">
                    <img src="templates/modify/images/blue/slideshow/kenny.jpg" alt="Kenny Pete" /><br />
                    Kenny Pete<br />
                    Pt. Pleasant, NJ
                    <div class="comSlideInfo">
                        <div class="comSlideTitle">
                            <b>Kenny Pete </b>- Pt. Pleasant NJ<br />
                        </div>

                        <div class="comQuestion">
                            <b>Are you Fashionable, Flexible, Modifiable or Dope? And Why?</b><br />
                            I'm Fresh & Dope & Wild & Wicked,  come get your ticket come straight to the jam, I'll Crush It!
                        </div>
                        <a class="slideImage" href="templates/modify/images/blue/slideshow/kennybig.jpg"></a>
                    </div>
                </div>
                
                <div class="comSlide">
                    <img src="templates/modify/images/blue/slideshow/gyan.jpg" alt="Gyan James" /><br />
                    Gyan James<br />
                    Princeton, NJ
                    <div class="comSlideInfo">
                        <div class="comSlideTitle">
                            <b>Gyan James </b>- Princeton, NJ<br />
                        </div>

                        <div class="comQuestion">
                            <b>Are you Fashionable, Flexible, Modifiable or Dope? And Why?</b><br />
                            I like to think of myself as Fashionable and Modifiable. I let my mood decide my style...some days I wake up and decide to be a Policeman or a Fireman, other days I like to get my Jeter on or just roll in my new Adidas.  Regardless, I always know what time it 
                        </div>
                        <a class="slideImage" href="templates/modify/images/blue/slideshow/gyanbig.jpg"></a>
                    </div>
                </div>
                
                <div class="comSlide">
                    <img src="templates/modify/images/blue/slideshow/nick.jpg" alt="Nick Paolise (Dub Proof)" /><br />
                    Nick Paolise<br />
                    Asbury Park, NJ
                    <div class="comSlideInfo">
                        <div class="comSlideTitle">
                            <b>Nick Paolise (Dub Proof) </b>- Asbury Park, NJ<br />
                        </div>

                        <div class="comQuestion">
                            <b>How do you Modify?</b><br />
                            It's a part of life, I go with the flow, and make modifications when necessary. I got spares in my gig bag!
							<br /><br />
                            <b>What's your favorite Modify Moment?</b><br />
                            Whenever someone asks about where I got the watch and I proudly say "modifywatches.com"! I love seeing the buzz grow! And I'll never forget opening the mailbox to find that fist box of mods for Dub Proof, what a glorious day!
                        </div>
                        <a class="slideImage" href="templates/modify/images/blue/slideshow/nickbig.jpg"></a>
                    </div>
                </div>
                
                <div class="comSlide">
                    <img src="templates/modify/images/blue/slideshow/dog.jpg" alt="Napkin Labs" /><br />
                    Warren Ng<br />
                    Boulder, CO
                    <div class="comSlideInfo">
                        <div class="comSlideTitle">
                            <b>Warren Ng and the Napin Labs crew! </b>- Boulder, CO<br />
                        </div>

                        <div class="comQuestion">
                            <b>How do you Modify?</b><br />
                            The men of Napkin Labs wear pink.  Hot pink.  All the time. 
                            <br /><br />
                            <b>What your favorite Modify Moment?</b><br />
                            Sending Napkin Labs' branded watches to our best customers. Waay better than T-shirts. 
                        </div>
                        <a class="slideImage" href="templates/modify/images/blue/slideshow/dogbig.jpg"></a>
                    </div>
                </div> 
                
                <div class="comSlide">
                    <img src="templates/modify/images/blue/slideshow/matt.jpg" alt="Matt Barnes" /><br />
                    Matt Barnes<br />
                    Auburn, AL
                    <div class="comSlideInfo">
                        <div class="comSlideTitle">
                            <b>Matt Barnes </b>- Auburn, AL<br />
                        </div>

                        <div class="comQuestion">
                            <b>What's your favorite Modify moment?</b><br />
                            <b>How do you Modify?</b><br />
                            Mostly between "Dad's Dance Moves" and "Frowny Face Emoticon"
                            <br /><br />
                            <b>What's your favorite Modify Moment?</b><br />
                            Working with Modify over the summer to develop the next-gen drop ship packaging. Exciting & refreshing. Nothing like showing up for a meeting and the first thing you get is a hug from Ashil. Next thing...Biscoff spread with apples. Epic!!!
                            <br /><br />
                            <b>Are you Fashionable, Flexible, Modifiable or Dope? And Why?</b><br />
                            Modifiable, definitely. I've always tried to modify my attitude, approach or appearance depending on circumstances, events or occasions. It's about being versatile with your surroundings. And with Modify Watches, I can swap and mod depending on my mood and attire. Cool that I can reflect that in my watch. Even cooler when people pick up on that.
                        </div>
                        <a class="slideImage" href="templates/modify/images/blue/slideshow/mattbig.jpg"></a>
                    </div>
                </div>
                
                <div class="comSlide">
                    <img src="templates/modify/images/blue/slideshow/kent.jpg" alt="Suzette and Kent Newman" /><br />
                    Suzette and Kent Newman<br />
                    Vail, CO
                    <div class="comSlideInfo">
                        <div class="comSlideTitle">
                            <b>Suzette and Kent Newman </b>- Vail, CO<br />
                        </div>

                        <div class="comQuestion">
                            <b>What's your favorite Modify moment?</b><br />
                            When my watch matches my shoes and that's why I'm dooooooope!
                        </div>
                        <a class="slideImage" href="templates/modify/images/blue/slideshow/kentbig.jpg"></a>
                    </div>
                </div>
                
                 <div class="comSlide">
                    <img src="templates/modify/images/blue/slideshow/nate.jpg" alt="Nate Burleson" /><br />
                    Nate Burleson <a href="http://espn.go.com/nfl/player/_/id/4529/nate-burleson" target="_blank">#13</a><br />
                    Detroit, MI
                    <div class="comSlideInfo">
                        <div class="comSlideTitle">
                            <b>Nate Burleson <a href="http://espn.go.com/nfl/player/_/id/4529/nate-burleson" target="_blank">#13</a> </b>- Detroit, MI<br />
                        </div>

                        <div class="comQuestion">
                        </div>
                        <a class="slideImage" href="templates/modify/images/blue/slideshow/natebig.jpg"></a>
                    </div>
                </div>
                
                <div class="comSlide">
                    <img src="templates/modify/images/blue/slideshow/mattb.jpg" alt="Matt Breitenbach" /><br />
                    Matt Breitenbach<br />
                    Solon, OH
                    <div class="comSlideInfo">
                        <div class="comSlideTitle">
                            <b>Matt Breitenbach </b>- Solon, OH<br />
                        </div>

                        <div class="comQuestion">
                            <b>Are you Fashionable, Flexible, Modifiable or Dope? And Why?</b><br />
                            None of the above. But my beautiful sister Susan is definitely a dope. HAHAHAHAHA. Get it? I'm a jokester.
                        </div>
                        <a class="slideImage" href="templates/modify/images/blue/slideshow/mattbbig.jpg"></a>
                    </div>
                </div>
                
                <div class="comSlide">
                    <img src="templates/modify/images/blue/slideshow/dan.jpg" alt="Dan Parker" /><br />
                    Dan Parker<br />
                    San Francisco, CA
                    <div class="comSlideInfo">
                        <div class="comSlideTitle">
                            <b>Dan Parker </b>- San Francisco, CA<br />
                        </div>

                        <div class="comQuestion">
                            <b>What's your favorite Modify Moment?</b><br />
                            This right here.  Not this photo… being on this website.  I'm Modifamous.
                        </div>
                        <a class="slideImage" href="templates/modify/images/blue/slideshow/danbig.jpg"></a>
                    </div>
                </div>
                
                 <div class="comSlide">
                    <img src="templates/modify/images/blue/slideshow/hazel.jpg" alt="Hazel Arroyal" /><br />
                    Hazel Arroyal<br />
                    Colton, CA
                    <div class="comSlideInfo">
                        <div class="comSlideTitle">
                            <b>Hazel Arroyal </b>- Colton, CA<br />
                        </div>

                        <div class="comQuestion">
                            <b>What's your favorite Modify moment?</b><br />
                            During my last year of high school I got a lot of compliments about my watch. My favorite was, "I got to get me one of those." 
                        </div>
                        <a class="slideImage" href="templates/modify/images/blue/slideshow/hazelbig.jpg"></a>
                    </div>
                </div>
                
            </div>
    	</div>
        <div id="comScrollRight"></div>
    </div>
    
</div>

<div id="rightColumn">

	<div id="rightColumnHeader">
    	<p style="margin-bottom:10px;">
	    	<span class="welcomeText">Welcome to the ModiFamily</span>
        </p>
        Top 5 reasons to be in the ModiFamily:
        <ul>
        	<li>You're tall/short, dame/dude, big/small, read/hoop, eat sugar/quinoa, prefer Brahms/Weezy (read: You're dope).</li>
			<li>We design what the community asks for.</li>
			<li>Sneak previews and deals on our new swag.</li>
        </ul>

    </div>
    
    <div class="comBox">
    	<div class="comBoxLeft">
        	<img src="templates/modify/images/blue/concam.png" alt="Upload a Photo" />
        </div>
        <div class="comBoxRight">
        	Share Your Modify Photos<br />
            <a class="iframe" href="http://www.modifywatches.com/uploadform.php">Click Here to Upload Them</a>
        </div>
    </div>
    
    <div class="comBox">
    	<div class="comBoxLeft">
        	<a href="http://www.facebook.com/modifywatches.com"><img src="templates/modify/images/blue/confb.png" alt="Connect with Facebook" /></a>
        </div>
        <div class="comBoxRight">
        	Join the ModiFamily on Facebook<br />
            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fmodifywatches&amp;send=false&amp;layout=standard&amp;width=300&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=trebuchet+ms&amp;height=35&amp;appId=198063910254631" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:35px;" allowTransparency="true"></iframe>
        </div>
    </div>
    
    <div class="comBox">
    	<div class="comBoxLeft">
        	<a href="http://www.twitter.com/ModifyWatches"><img src="templates/modify/images/blue/comtwit.png" alt="Connect with Twitter" /></a>
        </div>
        <div class="comBoxRight">
        	Join the Modify Conversation<br />
            <iframe allowtransparency="true" frameborder="0" scrolling="no" src="//platform.twitter.com/widgets/follow_button.html?screen_name=ModifyWatches" style="width:170px; height:20px;"></iframe>
        </div>
    </div>
    
    <div class="comBox">
    	<div class="comBoxLeft">
        	<img src="templates/modify/images/blue/comnews.png" alt="Sign up for our Newsletter" />
        </div>
        <div class="comBoxRight">
        	Sign-Up For Our Newsletter<br />
            <a href="#" class="joinnews">Click Here</a>
        </div>
    </div>

</div>

<div class="comCreations">
    <div class="comCreationsTitle">
    	ModiFamily Creations
	</div> 
    <div class="comCreationItem">
	    <object width="400" height="233"><param name="movie" value="https://www.youtube.com/v/0194zD_PpXU?version=3&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="https://www.youtube.com/v/0194zD_PpXU?version=3&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="400" height="233" allowscriptaccess="always" allowfullscreen="true"></embed></object>
    </div>
    <div class="comCreationItem centerItem">
    	<a href="templates/modify/images/blue/watchstand-big.jpg" target="_blank"><img src="templates/modify/images/blue/watchstand.jpg" alt="Modify Watch Stand" /></a>
    </div>
    <div class="comCreationItem">
    	<a href="templates/modify/images/blue/watchcloset-big.jpg" target="_blank"><img src="templates/modify/images/blue/watchcloset.jpg" alt="Modify Watch Closet" /></a>
    </div>
</div>