
<div id="FastProductDetails">
	<div class="BlockContent">
		%%GLOBAL_ProductDetailFlashMessages%%

		<div id="leftContent">
			<div class="ProductThumb" style="%%GLOBAL_HideProductThumb%%">
				%%SNIPPET_ProductThumbImage%%
			</div>
			%%GLOBAL_AddThisLink%%
		</div>
		<div id="rightContent">
			<div id="name" class="block">
				<div>
					%%GLOBAL_ProductNameOptimizerScriptTag%%
						<h1>%%GLOBAL_ProductName%%</h1>
					%%GLOBAL_ProductNameOptimizerNoScriptTag%%
					<p class="funny" style="%%GLOBAL_ShowFunnyDescription%%">%%GLOBAL_FunnyDescription%%</p>
					<span class="named">Named By %%GLOBAL_ProductNamedBy%%</span>
					<span style="%%GLOBAL_HidePrice%%" class="price">
						%%GLOBAL_ProductPrice%%
						%%GLOBAL_IncludingExcludingTax%% %%GLOBAL_YouSave%%
					</span>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div class="block">
				%%SNIPPET_ProductAddToCart%%
				<div style="clear:both;"></div>
			</div>
			%%Panel.ProductDescription%%
		</div>
		<br class="Clear" />
	</div>
</div>
