
<div id="FastProductDetails">
	<div class="BlockContent">
		%%GLOBAL_ProductDetailFlashMessages%%

		<div id="leftContent">
			<div class="ProductThumb" style="%%GLOBAL_HideProductThumb%%">
				%%SNIPPET_ProductThumbImage%%
			</div>
			%%GLOBAL_AddThisLink%%
			%%Panel.ProductMadeBy%%
		</div>
		<div id="rightContent">
			<div id="name" class="block">
				<div>
					%%GLOBAL_ProductNameOptimizerScriptTag%%
						<h1>%%GLOBAL_ProductName%%</h1>
					%%GLOBAL_ProductNameOptimizerNoScriptTag%%
					<p class="funny" style="%%GLOBAL_ShowFunnyDescription%%">%%GLOBAL_FunnyDescription%%</p>
					<span class="named">Named By %%GLOBAL_ProductNamedBy%%</span>
					<span style="%%GLOBAL_HidePrice%%" class="price">
						%%GLOBAL_ProductPrice%%
						%%GLOBAL_IncludingExcludingTax%% %%GLOBAL_YouSave%%
					</span>
				</div>
				<div style="clear:both;"></div>
			</div>
			%%Panel.ProductDescription%%
			<div class="block">
				<h3>Specifications</h3>
				 <ul>
	              <li>2 Sizes
	                <ul>
	                  <li>Classic Watch Faces are (LxW) 1.7in x 1.6in and Classic straps are (LxW) 9in x .9in.</li>
	                  <li>Mini Watch Faces are (LxW) 1.3in x 1.2in and Mini straps are (LxW) 8.7in x .7in.</li>
	                </ul>
	              </li>
	              <li>Water-resistant: Go swimming!</li>
	              <li>Made of stainless steel and scratch resistant PC</li>
	              <li>Smothered by Modify branding</li>
	              <li>All, yes all, Modify Watches are interchangeable, so you can mix-and-match faces and straps to show your colors. The more pieces you have, the more value you find (1 face x 1 strap = 1 Mod | 3 faces x 3 straps = 9 Mods) ... its multiples of fun!</li>
	            </ul>
			</div>
		</div>
		<br class="Clear" />
	</div>
</div>