		<div id="Footer">
              <div class="FooterContent">
                  <div class="FooterHelp">
                      <div class="FooterContentHeader">
                          Customer Service
                      </div>
                      <div class="FooterHelpLinks">
                          <div class="dividingDots"></div>
                          <a href="faq	.php">FAQs</a><br />
                          <a href="returns.php">Returns &amp; Exchanges</a><br />
                          <a href="contact.php">Contact Us</a><br />
                      </div>
                  </div>
                  <div class="FooterDope">
                      <div class="FooterContentHeader">
                          About Us
                      </div>
                      <div class="FooterHelpLinks">
                          <div class="dividingDots"></div>
                          <a href="./about.php">Meet the ModTeam</a><br />
                          <a href="./blog">Blog</a><br />
                          <a href="./jointeam.php">Jobs</a><br />
                          <a href="./media.php">Media Inquiries</a>
                      </div>
                  </div>
                  <div class="FooterConnect">
                      <div class="FooterContentHeader">
                          Connect With Us
                      </div>
                      <div class="FooterHelpLinks" style="text-align:center;">
                          <div class="dividingDots"></div>
                          <a href="http://www.facebook.com/ModifyWatches" target="_blank"><img src="%%GLOBAL_ShopPath%%/templates/modify/images/blue/facebook.png" alt="Modify Watches' Facebook Page" border="0" /></a>					
                          <a href="http://www.twitter.com/ModifyWatches" target="_blank"><img src="%%GLOBAL_ShopPath%%/templates/modify/images/blue/twitter.png" style="boder:none;margin-left:10px;" alt="Modify Watches' Twitter Page" /></a>
                          
                          <a href="#" class="joinnews"><img src="%%GLOBAL_ShopPath%%/templates/modify/images/blue/email.png" style="boder:none;margin-left:10px;" title="Join Modify's Newsletter" alt="Join Modify's Newsletter" /></a>
                       </div>
                  </div>
                  <div class="FooterCustom">
                      <div class="FooterContentHeader">
                          Special Occasion Engraving
                      </div>
                      <div class="FooterHelpLinks" style="text-align:center;">
                          <div class="dividingDots"></div>
                          <img src="%%GLOBAL_ShopPath%%/templates/modify/images/blue/personalize_footer.jpg" alt="Custom Modify Watches" />
                       </div>
                  </div>
                  <div class="FooterSubText">
                      %%GLOBAL_AllPricesAreInCurrency%%
                      Copyright %%GLOBAL_Year%% Modify Industries. |
                      <a href="http://dev.modifywatches.com/sitemap.xml"><span>Sitemap</span></a> | 
                      <a href="http://dev.modifywatches.com/privacy.php"><span>Privacy Policy</span></a>
                  </div>
                  %%GLOBAL_DebugDetails%%
                  <a href="secrets.php">
                  	<div class="secrets"></div>
                  </a>
              </div>
		</div>
        
        
        <div id="mc_embed_signup">
            <form action="http://modifywatches.us2.list-manage.com/subscribe/post?u=ff6348c49444f0d8101e7a204&amp;id=1300f32261" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" style="width:400px !important;margin-left:-200px !important;">
                <h2>Subscribe to our mailing list</h2>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
            </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="mc-field-group input-group">
                <strong>Email Format </strong>
                <ul><li><input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0"><label for="mce-EMAILTYPE-0">html</label></li>
            <li><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1"><label for="mce-EMAILTYPE-1">text</label></li>
            <li><input type="radio" value="mobile" name="EMAILTYPE" id="mce-EMAILTYPE-2"><label for="mce-EMAILTYPE-2">mobile</label></li>
            </ul>
            </div>
            <a href="#" id="mc_embed_close" class="mc_embed_close">Close</a>	<div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </form>
       </div>
       
       
       <div id="listSubBase" style="display:none;width:100%;height:100%;background-image:url('templates/modify/images/blue/lgdrop.png');position:fixed;left:0;top:0;z-index:20;">
	<div id="clkSubClose" style="width:100%;height:100%;position:fixed;left:0;top:0;z-index:21;"></div>
	<div style="background-image:url('templates/modify/images/blue/emsub.png');width:616px;height:316px;margin:155px auto 0;position:relative;z-index:22;">
    	<img src="templates/modify/images/blue/x.png" style="position:absolute;right:22px;top:22px;" id="closeSub" />
	    
        <div id="doSub" style="position:absolute;bottom:30px;left:38px;">
	        <form action="http://modifywatches.us2.list-manage1.com/subscribe/post?u=ff6348c49444f0d8101e7a204&amp;id=1300f32261" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="blogwidg" target="_blank">
                <input name="EMAIL" onfocus="if(this.value == 'Enter Your E-mail Address') { this.value = ''; }" id="subIn" style="float:left;width:400px;margin-right:20px;border-left:1px solid #cfcfcf;border-top:1px solid #cfcfcf;padding:8px;font-family:Arial, Helvetica, sans-serif;font-size:18px;" type="text" value="Enter Your E-mail Address" />
                <input id="subSubmit" style="float:left;" type="image" src="templates/modify/images/blue/osign.png" />
            </form>
        </div>
    </div>
</div>

<style type="text/css">
	#subIn {
		color:#b2b2b2;	
	}
	
	#subIn:focus {
		color:#363636;	
	}
</style>

<script type="text/javascript">

$(function() {
	
	if(!readCookie('emSubSets')) {
		console.log("subb");
		setTimeout(function() {
			$("#listSubBase").fadeIn();
			createCookie('emSubSets', '1', 30);
			$(document).bind('keyup', function(e) {
			  if (e.keyCode == 27) { $('#closeSub').click(); }   // esc
			});
		}, 3000);
	}
	
	$("#closeSub").click(function() {
		$("#listSubBase").fadeOut();
		$(document).unbind('keyup');
	});
	$("#clkSubClose").click(function() {
		$("#closeSub").click();
	});
	$("#subSubmit").click(function() {
		$("#closeSub").click();
	});
});

function createCookie(name,value,days) {
	if (days) {
		var date = new Date();
		date.setTime(date.getTime()+(days*24*60*60*1000));
		var expires = "; expires="+date.toGMTString();
	}
	else var expires = "";
	document.cookie = name+"="+value+expires+"; path=/";
}

function readCookie(name) {
	var nameEQ = name + "=";
	var ca = document.cookie.split(';');
	for(var i=0;i < ca.length;i++) {
		var c = ca[i];
		while (c.charAt(0)==' ') c = c.substring(1,c.length);
		if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
	}
	return null;
}

</script>
       

		%%GLOBAL_DesignModeHTML%%
		%%GLOBAL_QueryList%%
		%%GLOBAL_DesignModeScriptTag%%
		%%GLOBAL_LiveChatFooterCode%%

		%%GLOBAL_OptimizerTrackingScript%%
		%%GLOBAL_OptimizerConversionScript%%
		%%GLOBAL_OptimizerSetCookieScript%%

		%%GLOBAL_FooterScripts%%
		%%SNIPPET_FastCartThickBoxJs%%
        <script type="text/javascript">
			var mentad_website_id = "A0rU7Bwfq6_1a"; // Unique ID supplied by MentAd
			
			// Trigger the visit notification asynchronously
			(function(){
				var js = document.createElement('script'); js.type = "text/javascript"; js.async = true;
				js.src = "//mentad.com/static/js/mentad-visit-notification.js";
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(js, s);
			})();
		</script>
        
        <!-- Google Code for Modify Watches Remarketing pixel Remarketing List -->
		<script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 979503307;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "zT4oCM3I0wQQy5GI0wM";
        var google_conversion_value = 0;
        /* ]]> */
        </script>
        <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/979503307/?value=0&amp;label=zT4oCM3I0wQQy5GI0wM&amp;guid=ON&amp;script=0"/>
        </div>
        </noscript>

