<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	%%GLOBAL_OptimizerControlScript%%

	<title>%%Page.WindowTitle%%</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="%%Page.MetaDescription%%" />
	<meta name="keywords" content="%%Page.MetaKeywords%%" />
	<meta name="viewport" content="width=device-width">
	
	%%GLOBAL_AdditionalMetaTags%%
	%%Page.CanonicalLink%%
	%%Page.Robots%%
	
	<link rel="shortcut icon" href="%%GLOBAL_Favicon%%" />

	%%GLOBAL_Stylesheets%%

	<!-- Tell the browsers about our RSS feeds -->
	%%GLOBAL_HeadRSSLinks%%

	<!-- Include visitor tracking code (if any) -->
	%%GLOBAL_TrackingCode%%

	%%GLOBAL_DesignModeStyleSheet%%

	%%GLOBAL_HeaderImageStyle%%

	<script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/jquery.js?%%GLOBAL_JSCacheToken%%"></script>
	<script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/common.js?%%GLOBAL_JSCacheToken%%"></script>
	<script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/iselector.js?%%GLOBAL_JSCacheToken%%"></script>
	<!-- <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/sandbox.js?%%GLOBAL_JSCacheToken%%"></script> -->
	<script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/underscore.js?%%GLOBAL_JSCacheToken%%"></script>
	<script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/backbone.js?%%GLOBAL_JSCacheToken%%"></script>

	<script type="text/javascript">
	//<![CDATA[
	config.ShopPath = '%%GLOBAL_ShopPath%%';
	config.AppPath = '%%GLOBAL_AppPath%%';
	var ThumbImageWidth = %%GLOBAL_ProductThumbImageWidth%%;
	var ThumbImageHeight = %%GLOBAL_ProductThumbImageHeight%%;
	//]]>
	</script>
	%%GLOBAL_AdditionalScriptTags%%
	%%GLOBAL_QuickSearchJS%%
	%%GLOBAL_RTLStyles%%
	
	<!-- start Mixpanel --><script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
mixpanel.init("11551b6afed163b98b914bbc10c6c7e7");</script><!-- end Mixpanel -->

<!-- start Kiss Metrics -->
<script type="text/javascript">
	var _kmq = _kmq || [];
	var _kmk = _kmk || '9c81c5e0daebc83ec21799854dec828834c40563'; 
	function _kms(u){ 
		setTimeout(function(){ 
			var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); 
			s.type = 'text/javascript'; 
			s.async = true;
			s.src = u; 
			f.parentNode.insertBefore(s, f); 
		}, 1); 
	} 
	_kms('//i.kissmetrics.com/i.js'); 
	_kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js'); 
</script>
<!-- End Kiss Metrics -->


<!-- Google Code for Modify Watches Remarketing pixel -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 979503307;
var google_conversion_label = "zT4oCM3I0wQQy5GI0wM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/979503307/?value=0&amp;label=zT4oCM3I0wQQy5GI0wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<style type="text/css">
iframe[name=google_conversion_frame]{
    display:none;
}
</style>

</head>
