<div id="refHead">
	<div>
    	<h1>Hook Up Your Friends,<br />Get <span style="color:#f57222;">Free</span> Mods</h1>
        <p>
        	Refer your friends - <b>they'll get 10% off!</b> - and for every <i>new</i> customer who spends atleast $40, you receive $10 ModiBucks. There is no limit to the amount you can earn!
		</p>
        <p>
            <b>How does it work?</b>
            Every registered member of our site is given a personal URL and referral code. All you have to do is share your URL or code with your friends and we'll handle the rest!
        </p>
		%%GLOBAL_AskLogin%%
    </div>
	<img src="templates/modify/images/blue/socwatch.png" />
</div>

%%GLOBAL_Sharing%%