<div>
	<header class="heavyHeader">Visualize</header>
	<div class="preview-box">
		<div class="silhouette">
			<img class="face" src="%%GLOBAL_ShopPath%%/templates/Modify/images/face-silhouette.jpg" />
			<img class="strap" src="%%GLOBAL_ShopPath%%/templates/Modify/images/.jpg" />
		</div>	
	</div>
	<br class="Clear" />

	<span class="ctaBut" id="visCTA">Add All To Cart »</span>
	<p class="mini">
		Mini<br />
		<span>
			<span class="count" id="miniFaceCounter">0</span>
			<span class="label">Faces</span>
		</span> * 
		<span>
			<span class="count" id="miniStrapCounter">0</span>
			<span class="label">Straps</span>
		</span> = 
		<span>
			<span class="count" id="miniModCounter">0</span>
			<span class="label">Mods</span>
		</span>
	</p>
	<div class="mini">
		<br class="Clear" />
	</div>
	<p class="classic">
		Classic<br/>
		<span>
			<span class="count" id="classicFaceCounter">0</span>
			<span class="label">Faces</span>
		</span> * 
		<span>
			<span class="count" id="classicStrapCounter">0</span>
			<span class="label">Straps</span>
		</span> = 
		<span>
			<span class="count" id="classicModCounter">0</span>
			<span class="label">Mods</span>
		</span>
	</p>
	<div class="classic">
		<br class="Clear" />
	</div>
	<div class="explain">
		<div class="img"><img src="%%GLOBAL_ShopPath%%/templates/Modify/images/default/addition.jpg" /></div>
		<span>Add pieces to the Visualizer to see all of the different combos you can make!</span>
		<br class="Clear" />
	</div>
</div>
