<!-- begin LifeSizer content -->
<script type="text/javascript">
  window.lsAsyncInit = function() {
    Ls.init({ appKey: '50f3beb94626d33f', user: '10' }); 
  };
  (function() {
    var s = document.createElement('script'); s.async = true; s.type = 'text/javascript';
    s.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://beta.lifesizer.com/js/embed.js';
    x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
  }());
</script>
<!-- end LifeSizer content -->


<div id="timelineContainer">
	<div id="timeline">
    	<div class="stepBox">
        	<div class="step1 stepNumber">
            [1]
            </div>
            <div class="step1 stepDesc">
				Choose Size
            </div>
        </div>
        <div class="timelineArrow"></div>
        <div class="stepBox">
        	<div class="step2 stepNumber stepInactive">
            [2]
            </div>
            <div class="step2 stepDesc stepInactive">
            	Choose Colors
            </div>
        </div>
        <div class="timelineArrow"></div>
        <div class="stepBox">
        	<div class="step3 stepNumber stepInactive">
            [3]
            </div>
            <div class="step3 stepDesc stepInactive">
            	Add to Cart
            </div>
        </div>
        <div class="timelineArrow"></div>
        <div class="stepBox">
        	<div class="step4 stepNumber stepInactive">
            [4]
            </div>
            <div class="step4 stepDesc stepInactive">
            	Checkout
            </div>
        </div>
        
    </div>
</div>
<div id="sandboxContainer">
    <div id="sandboxScrolling">    
          <div id="sandboxSelector">
                <div id="leftColumnContainer">
                	<img src="templates/modify/images/blue/sandbox/greyselect.jpg" id="greySelect" alt="Choose a size first" />
                    <div id="faceSelectorContainer">
                        <div class="selectorHeader">
                            Faces
                        </div>
                        <div class="scrollBackUp" id="browseLessFaces"></div>
                        <div id="faceSelectorOuter">
                            <div id="faceSelector">
                                %%GLOBAL_ActiveFaces%%
                            </div>
                        </div>
                        <div id="browseMoreFaces"></div>
                    </div>
                    <div id="strapSelectorContainer">
                        <div class="selectorHeader">
                            Straps
                        </div>
                        <div class="scrollBackUp" id="browseLessStraps"></div>
                        <div id="strapSelectorOuter">
                            <div id="strapSelector">
                                    %%GLOBAL_ActiveStraps%%
                            </div>
                        </div>
                        <div id="browseMoreStraps"></div>
                    </div>
                </div>
        
                <div id="rightColumnContainer">
                	 <!-- This is the header for the Sandbox -->
                    <div id="canvasHeader">
                        <div id="canvasHeaderContent">
                            <div id="canvasHeaderBigSwitch"></div>
                            <div id="canvasHeaderBiggerSwitch"></div>
                        </div>
                    </div>
                    <!-- This is the container and canvas for the smaller sized watch -->
                    <div id="sandboxCanvasContainer">
                        <div id="sandboxCanvasSlider">
                            <div id="bigStyleContainer">
                                <div id="bigStyleCanvas">	
                                	<img src="templates/modify/images/blue/sandbox/newopen1.jpg" id="startBig" class="starterImage" style="width:336px;height:362px;margin:0;padding:0;float:left;" />
                                    <img src="templates/modify/images/blue/sandbox/newopen2.jpg" id="startBigger" class="starterImage" style="width:359px;height:362px;margin:0;padding:0;float:left;" />
                                    <div class="starterImageBigLS">
                                      <img data-ls-ref='big' src="templates/modify/images/blue/sandbox/lifesize.png" style="display:none;">
                                    </div>
                                    <div class="starterImageBiggerLS">
                                      <img data-ls-ref='bigger' src="templates/modify/images/blue/sandbox/lifesize.png" style="display:none;">
                                    </div>
                                    <div class="sampleContent">
                                        <img src="templates/modify/images/blue/sandbox/alrightythenbig.png" />
                                    </div>
                                     <div id="bigStyleWatchPopout">
                                        <div class="popoutTop">
                                        	<a href="" onClick="window.open($(this).attr('href'),'','width=520,height=385'); return false;" class="popoutImageLink">
                                            <div class="popoutImage">
                                            </div>
                                            </a>
                                            <div class="popoutRight">
                                                <div class="popoutClose">
                                                	close X
                                                </div>
                                                <div class="popoutWatchName">
                                                
                                                </div>
                                                <div class="popoutDescription">
                                                
                                                </div>
                                                <div class="popoutShare">
                                                        SHARE:
                                                    <!-- AddThis Button BEGIN -->
                                                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="margin-top:10px;">
                                                        <a class="addthis_button_preferred_1"></a>
                                                        <a class="addthis_button_preferred_2"></a>
                                                        <a class="addthis_button_preferred_3"></a>
                                                        <a class="addthis_button_compact"></a>
                                                    </div>
                                                    <br />
                                                   	<a href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fdev.modifywatches.com%2Fsandbox.php%23sku%3D%2281750201202%22%3Bsize%3D%22big%22%3B&media=https%3A%2F%2Fdev.modifywatches.com%2Ftemplates%2Fmodify%2Fimages%2Fblue%2Fsandbox%2Ffaces%2Fbigish_81750201202.jpg&description=Silver%20Face" class="pin-it-button" count-layout="horizontal">Pin It</a>
                                                   
                                                    <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e90ce187ba738eb"></script>
                                                    <!-- AddThis Button END -->
                                                </div>
                                            </div>
                                        </div>
                                        <div style="margin:0 0 0 200px;float:left;">
                                            <img src="templates/modify/images/blue/sandbox/left.png" style="cursor:pointer;position:relative;top:12px;" id="sandboxMoveLeft" /> 
                                            (Click Arrows to Browse Mods) 
                                            <img src="templates/modify/images/blue/sandbox/right.png" style="cursor:pointer;position:relative;top:12px;" id="sandboxMoveRight" />
                                        </div>
                                    </div>
                                    <div id="bigStyleWatchDisplay">
                                    </div>
                                </div>
                            </div>
                            <!-- This is the container and canvas for the bigger sized watch -->
                            <div id="biggerStyleContainer">
                                <div id="biggerStyleCanvas">	
                                    <div class="sampleContent">
                                        <img src="templates/modify/images/blue/sandbox/alrightythenbigger.png" />
                                    </div>
                                     <div id="biggerStyleWatchPopout">
                                        <div class="popoutTop">
                                        	<a href="" onClick="window.open($(this).attr('href'),'','width=520,height=385'); return false;" class="popoutImageLink">
                                            <div class="popoutImage">
                                            </div>
                                            </a>
                                            <div class="popoutRight">
                                                <div class="popoutClose">
                                                	close X
                                                </div>
                                                <div class="popoutWatchName">
                                                
                                                </div>
                                                <div class="popoutDescription">
                                                
                                                </div>
                                                <div class="popoutShare">
                                                    SHARE:
                                                    <!-- AddThis Button BEGIN -->
                                                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="margin-top:10px;">
                                                        <a class="addthis_button_preferred_1"></a>
                                                        <a class="addthis_button_preferred_2"></a>
                                                        <a class="addthis_button_preferred_3"></a>
                                                        <a class="addthis_button_compact"></a>
                                                    </div>
                                                    <br />
                                                   	<a href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fdev.modifywatches.com%2Fsandbox.php%23sku%3D%2281750201202%22%3Bsize%3D%22big%22%3B&media=https%3A%2F%2Fdev.modifywatches.com%2Ftemplates%2Fmodify%2Fimages%2Fblue%2Fsandbox%2Ffaces%2Fbigish_81750201202.jpg&description=Silver%20Face" class="pin-it-button" count-layout="horizontal">Pin It</a>
                                                    <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e90ce187ba738eb"></script>
                                                    <!-- AddThis Button END -->
                                                </div>
                                            </div>
                                        </div>
                                        <div style="margin:0 0 0 200px;float:left;">
                                            <img src="templates/modify/images/blue/sandbox/left.png" style="cursor:pointer;position:relative;top:12px;" id="sandboxMoveLeft" /> 
                                            (Click Arrows to Browse Mods) 
                                            <img src="templates/modify/images/blue/sandbox/right.png" style="cursor:pointer;position:relative;top:12px;" id="sandboxMoveRight" />
                                        </div>
                                    </div>
                                    <div id="biggerStyleWatchDisplay">
                                    </div>
                                </div>
                            </div>
                        </div>	
                    </div>
                </div>
                <div id="bottomRowContainer">
                <img src="templates/modify/images/blue/sandbox/bottomgrey.jpg" id="greyBottom" alt="Choose a size first" />
                <div id="bottomRowInnerContent">
                	<div id="bottomShareContainer">
                    	Share Your Creation<br />
						<!-- AddThis Button BEGIN -->
                        <div class="addthis_toolbox addthis_default_style addthis_32x32_style addThis" style="margin-top:10px;">
                            <a class="addthis_button_preferred_1"></a>
                            <a class="addthis_button_preferred_2"></a>
                            <a class="addthis_button_preferred_3"></a>
                            <a class="addthis_button_compact"></a>
                        </div>
                        <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e90ce187ba738eb"></script>
                        <!-- AddThis Button END -->
                    </div>
                    <div id="bottomCountContainer">
                        <div id="bottomBigStyleCount">
                            <b style="font-size:14px;">You Have:</b><br />
                            <span id="bigFaceCount">0</span> mini faces x 
                            <span id="bigStrapCount">0</span> mini straps = 
                            <span id="bigModCount">0</span> mini mods.<br />
                            <span id="biggerFaceCount">0</span> classic faces x 
                            <span id="biggerStrapCount">0</span> classic straps = 
                            <span id="biggerModCount">0</span> classic mods.<br />
                            <center><b style="font-size:14px;">That's <span id="totalModCount">0</span> total mods! <span id="imsosad">:(</span></b></center>
                        </div>
                    </div>
                    <div id="bottomRightColumn">
                        <div id="bottomAddToCart">
                        	<div id="addToCart"></div>
                            <div class="priceFont" id="cumulativePrice">$0</div>
                            <center><b><a href="#" id="clearButton">(Clear All)</a></b></center>
                        </div>
                    </div>
                </div>
            </div>
         </div>
         
         <div id="sandboxCheckout">
         	
         </div>
    </div>
</div>
<div id="itemHoverDiv">
	<div id="itemHoverImageDiv"></div>
</div>