<div id="timelineContainer">
	<div id="timeline">
    	<div class="stepBox">
        	<a href="./sandbox.php">
        	<div class="step1 stepNumber stepInactive">
            [1]
            </div>
            <div class="step1 stepDesc stepInactive">
				Choose Size
            </div>
            </a>
        </div>
        <div class="timelineArrow"></div>
        <div class="stepBox">
	        <a href="./sandbox.php">
        	<div class="step2 stepNumber stepInactive">
            [2]
            </div>
            <div class="step2 stepDesc stepInactive">
            	Choose Colors
            </div>
            </a>
        </div>
        <div class="timelineArrow"></div>
        <div class="stepBox">
        	<a href="./sandbox.php">
        	<div class="step3 stepNumber">
            [3]
            </div>
            <div class="step3 stepDesc">
            	Add to Cart
            </div>
            </a>
        </div>
        <div class="timelineArrow"></div>
        <div class="stepBox">
        	<a href="./sandbox.php">
        	<div class="step4 stepNumber stepInactive">
            [4]
            </div>
            <div class="step4 stepDesc stepInactive">
            	Checkout
            </div>
            </a>
        </div>
        
    </div>
</div>