<script type="text/javascript">
  window.lsAsyncInit = function() {
    Ls.init({ appKey: '50f3beb94626d33f', user: '10' }); 
  };
  (function() {
    var s = document.createElement('script'); s.async = true; s.type = 'text/javascript';
    s.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://beta.lifesizer.com/js/embed.js';
    x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
  }());
</script>

<div id="setsHeader" class="setsSubHeader">
	ModiSpirit <span class="setsHeaderSmall">- Show your school pride</span>
</div>
<img data-ls-ref="both" src="templates/modify/images/blue/signdiff.jpg" alt="Click to see the size difference" style="cursor: pointer;margin-bottom:30px;" />


%%GLOBAL_SpiritHTML%%