<div id="setsHeader">
	<span class="welcomeText">Trouble getting started? Start your collection here.</span>
</div>
<div id="setsCollage">
	<a href="sets.php?a=fall"><img style="margin:0 20px 20px 0" src="templates/modify/images/blue/fall_tile.jpg" alt="Fall Watches" /></a>
	<a href="sets.php?a=bluegreen"><img style="margin:0 0px 20px 0" src="templates/modify/images/blue/greenblue_sets.jpg" alt="Blue and Green Watches" /></a>
	<a href="sets.php?a=deadmau5"><img style="margin:0 20px 20px 0" src="templates/modify/images/blue/deadmau5t.jpg" alt="Deadmau5 Watches" /></a>
	<a href="sets.php?a=rockthevote"><img style="margin:0 0px 20px 0" src="templates/modify/images/blue/RTV_sets.jpg" alt="Rock the Vote Watches" /></a>
    <!--<a href="sets.php?a=together"><img style="margin:0 20px 20px 0" src="templates/modify/images/blue/pinktogether.jpg" alt="Together Watch" /></a>-->
    <a href="sets.php?a=sf"><img style="margin:0 20px 20px 0" src="templates/modify/images/blue/sf.jpg" alt="San Francisco Watches" /></a>
    <a href="sets.php?a=hsu"><img style="margin:0 0px 20px 0" src="templates/modify/images/blue/hsu.jpg" alt="Martin Hsu Watches" /></a>
	<a href="sets.php?a=summer"><img style="margin:0 20px 20px 0" src="templates/modify/images/blue/summer.jpg" alt="Summer Watches" /></a>
    <a href="sets.php?a=ssusa"><img style="margin:0 0px 20px 0" src="templates/modify/images/blue/ssusac.jpg" alt="Street Soccer USA Watches" /></a>
	<a href="sets.php?a=uci"><img style="margin:0 20px 20px 0" src="templates/modify/images/blue/UCI_sets_slide.jpg" alt="UCI Watches" /></a>
</div>
