<div class="aboutContentHeader" style="width:100%;font-size:18px">
	Customize a Modify Watch for your company, your wedding, to put into a time capsule, or for any other reason!
</div>
<div class="aboutContentText">
	<p>
	Lots of people know us for our incredible good looks (and the watches that you can buy on this-here-website).
	</p>
    
    <p>
    We also have a dark secret: We love customizing watches for companies, non-profits and personal events. If you have any interest in customizing a set of watches, whether simply engraving the back of the watches you see on the site or even completely designing a watch for yourself, let us know by emailing Aaron (aaron@Modifywatches.com). Our minimum order is 50 Modify Watches for engraving and 100 for a full customization. 
    </p>
    
    <p>
    We have worked with some incredible organizations to create cool gifts and products that enhance their brand. Seriously. Our partner list includes a pre-IPO Social Network; an Internet Search giant; Adult Swim, the Pac-12, <a href="http://forums.televisionwithoutpity.com/lofiversion/index.php/t3136506-1850.html" target="_blank">and so on</a>.
    </p>
    
    <p>
    What is a full customization? See the case study below, from <a href="http://www.piecesofsheet.com" target="_blank">Pieces of Sheet</a>.
    </p>
    
    <div class="comCreations">
    	<p>
    	<center><b>Case Study: Pieces of Sheet</b></center>
        </p>
        
        <p>
        	Roshan Bhula, CEO and co-founder of <a href="http://www.piecesofsheet.com" target="_blank">Pieces of Sheet</a>, commissioned us to create a cool product that he could use to generate buzz at launch. He provided the company's logos and minimal guidance – "Make our Sheet look Sweet".
        </p>

		<p>
Ashil, Modify's Creative Guy, then took that logo and created a few different ideas. The goal at this point was not simply to create a finished product, but rather to give Roshan and his team some ideas of what a Sheet-lover watch might look like. 
        </p>
        
        <center><img src="templates/modify/images/blue/posdesigns.jpg" alt="A few designs" /></center>
    </div>
    
    <div style="float:left;background-color:#f5f5f5;padding:20px;width:440px;text-align:center;">
    	<p>
        	<center>
	        	After a few iterations, we finally settled on the design you see below:
            </center>
        </p>
        <p>
	        <center><img src="templates/modify/images/blue/posvirtual.jpg" alt="A great Piece of Sheet watch" /></center>
        </p>
        <p>
        	<center>
	        	Bhula's reaction? "Modify is going to make sure everyone knows how hot our Sheet is!"
            </center>
        </p>
    </div>

</div>