%%Panel.HTMLHead%%

<body class="ggrad">
	%%Panel.Header%%

	<div id="container" class="nopad">
		<div class="gradBG small">
		</div>
		<div class="container">
			<div class="row">
				<div class="threecol">
					%%Panel.SideAccountMenu%%
					%%Panel.SideAccountStoreCredit%%
				</div>
				<div class="ninecol last">
						<div class="Block">
							<h2>%%LNG_SubmitNewReturn%%</h2>
							<div class="BlockContent">
								<p class="SuccessMessage">
									%%LNG_ReturnRequestSubmitted%%
								</p>
								<p>%%LNG_ReturnSubmittedInfo%%</p>
								<div style="display: %%GLOBAL_HideReturnInstructions%%">
									<h3>%%LNG_ReturnInstructions%%</h3>
									<p>%%GLOBAL_ReturnInstructions%%</p>
								</div>
							</div>
						</div>
					</div>

					<br class="Clear" />
				</div>
			</div>
		</div>
		%%Panel.Footer%%
	</div>
</body>
</html>
