%%Panel.HTMLHead%%

<body class="ggrad">
	%%Panel.Header%%

	<div id="container" class="nopad">
		<div class="gradBG small">
		</div>
		<div class="container">
			<div class="row">
				<div class="threecol">
					%%Panel.SideAccountMenu%%
					%%Panel.SideAccountStoreCredit%%
				</div>
				<div class="ninecol last">
					%%Panel.AccountDownloadItemsBreadcrumb%%
					<div class="Block">
						<h2>%%GLOBAL_DownloadTitle%%</h2>
						<div class="BlockContent">
							%%Panel.AccountDownloadItems%%
						</div>
					</div>
				</div>

				<br class="Clear" />
			</div>
		</div>
		%%Panel.Footer%%
	</div>
</body>
</html>
