<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

%%Panel.HTMLHead%%
<body class="jgrad">
	%%Panel.Header%%
	
	<div id="container" class="nopad">
		%%Panel.Slideshow%%
		%%Panel.SplitTestContent%%
		<!--%%Panel.CustomBanner%%-->
		%%Panel.FrontPageProductCarousel%%
		%%Panel.RecentBlogs%%
	</div>

	<br class="Clear" />
	</div>
	%%Panel.Footer%%
	%%Panel.HomeModal%%
	<script src="javascript/home.js"></script>
</div>
</body>
</html>
