%%Panel.HTMLHead%%
<body class="ggrad">
  %%Panel.Header%%
  <style type="text/css">
	a.vday-but {
		display: inline-block;
		padding: 8px 20px;
		background-color: #496FA8;
		color: #FFF;
		font-weight: bold;
		border-radius: 5px;
		moz-border-radius: 5px;
		text-shadow: 1px 1px 0px #1E1EC7;
		box-shadow: 0px 1px 2px 0px #9DBCFF;
	}
	
	.vday-but:hover {
		color:#FFF;
	}
	
	p.headbox {
		margin-top: 10px;
		margin-bottom: 50px;
		padding-top:10px;
		border-top:1px solid #e2e2e2;
	}

	.feature {
		margin-bottom:40px;
		padding-bottom:40px;
	}
	.feature div {
		padding:0px;
	}
	.feature div.rightm {
		margin: 0px 20px 0px 0px;
	}
	.feature div.leftm {
		margin: 0px 0px 0px 20px;
	}
	.feature div h4 {
		margin-top:0px;
	}
  </style>
  
  <div id="container" class="nopad">
    %%Panel.ShopNavigation%%
  </div>
  <div class="container">
	<div class="row left">
		<div class="twelvecol last">
			<img src="//www.modifywatches.com/templates/Modify/images/default/fathers/header.jpg" />
			<p class="headbox">
			Your search for the perfect Fathers Day gift is over – Welcome to the ModiFather’s Day Gift Guide!  Not only will you find the perfect Modify Watch sets discounted for maximum wrist style; when you buy a Mod for your dad, we’ll throw in a free tacky tie – just for nostalgia sake.
			</p>
		</div>
		<div class="twelvecol col">
			<div class="feature">
				<div class="rightm">
					<h4>3-Piece Sets</h4>
					<p>Get Dad’s collection started off right. You can give him a shiny new 3-piece Mod set, for up to 15% off and a free ugly tie.</p>
					<a href="http://www.modifywatches.com/categories/3%252dPiece-Father%27s-Day-Sets/" class="vday-but">Shop Now</a>
				</div>
				<img src="//www.modifywatches.com/templates/Modify/images/default/fathers/3piece.jpg" />
			</div>
			<div class="feature">
				<img src="//www.modifywatches.com/templates/Modify/images/default/fathers/5piece.jpg" />
				<div class="leftm">
					<h4>5-Piece Sets</h4>
					<p>For the Dad who’s experienced in wrist fashion, get him one of our 5-piece sets or 6 Mod Combos for up to 25% off and a free ugly tie.</p>
					<a href="http://www.modifywatches.com/categories/5%252dPiece-Father%27s-Day-Sets/" class="vday-but">Shop Now</a>
				</div>
			</div>
			<div class="feature">
				<div class="rightm">
					<h4>11 Piece Set</h4>
					<p>The Ultimate Father’s Day Collection: No matter the age, Dad is going to be a straight stud with these mods. Give this 11-piece set or 30 MOD COMBOS for up to 35% off and a free ugly tie.</p>
					<a href="http://www.modifywatches.com/categories/11%252dPiece-Father%27s-Day-Set/" class="vday-but">Shop Now</a>
				</div>
				<img src="//www.modifywatches.com/templates/Modify/images/default/fathers/big.jpg" />
			</div>
		</div>
		<br class="Clear" />
	</div>
  </div>
  %%Panel.Footer%%
</div>
</body>
</html>
