<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

%%Panel.HTMLHead%%
<body class="jgrad">
	%%Panel.Header%%
	
	<div id="container" class="nopad">
		<div class="gradBG">
			<div id="slides">
				<div class="slides_container">
					<div>
						<a href="http://dev.modifywatches.com/categories/Animal-Prints/">
							<img class="lazy" src="http://dev.modifywatches.com/templates/Modify/images/default/slides/giraffe.jpg">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="main center">
	<!--<p><a href="http://dev.modifywatches.com/categories/New-Products/?action=browse"><img src="templates/Modify/images/default/bg" /></a></p>-->
			<img class="lazy" src="http://dev.modifywatches.com/templates/Modify/images/default/press.jpg" alt="Modify Is Kind of Famous" />
		</div>
		<div id="tileHolder">
			<div class="tile">
				<div class="img"><a href="http://dev.modifywatches.com/about.php"><img src="http://dev.modifywatches.com/templates/Modify/images/default/tiles/unisex.jpg" /></a></div>
			</div>
			
			<div class="tile">
				<div class="img"><a href="http://dev.modifywatches.com/about.php"><img src="http://dev.modifywatches.com/templates/Modify/images/default/tiles/water.jpg" /></a></div>
			</div>
			
			<div class="tile">
				<div class="img"><a href="http://dev.modifywatches.com/about.php"><img src="http://dev.modifywatches.com/templates/Modify/images/default/tiles/multi.jpg" /></a></div>
			</div>
			
			<div class="tile last">
				<div class="img"><a href="http://www.beedogs.com" target="_BLANK"><img src="http://dev.modifywatches.com/templates/Modify/images/default/tiles/dope.jpg" /></a></div>
			</div>
			<br class="Clear" />
		</div>
		<div class="main center">
			<a href="custom-watches"><img src="http://dev.modifywatches.com/templates/Modify/images/default/customize.jpg" alt="Custom Watches by Modify" /></a>
		</div>

		%%Panel.RecentBlogs%%
	</div>

	<br class="Clear" />
	</div>
	%%Panel.Footer%%
	%%Panel.HomeModal%%
	<script src="javascript/home.js"></script>
</div>
</body>
</html>
