%%Panel.HTMLHead%%
<body class="ggrad">
  %%Panel.Header%%
  <style type="text/css">
	a.vday-but {
		display: inline-block;
		padding: 8px 20px;
		background-color: rgb(255, 69, 92);
		color: #FFF;
		font-weight: bold;
		border-radius: 5px;
		moz-border-radius: 5px;
		text-shadow: 1px 1px 0px #C71E33;
		box-shadow: 0px 1px 2px 0px #FF9DA9;
	}
	
	.vday-but:hover {
		color:#FFF;
	}
	
	p.headbox {
		margin-top: 10px;
		margin-bottom: 50px;
		padding-top:10px;
		border-top:1px solid #e2e2e2;
	}

	.feature {
		margin-bottom:40px;
		padding-bottom:40px;
	}
	.feature div {
		padding:0px;
	}
	.feature div.rightm {
		margin: 0px 20px 0px 0px;
	}
	.feature div.leftm {
		margin: 0px 0px 0px 20px;
	}
	.feature div h4 {
		margin-top:0px;
	}
  </style>
  
  <div id="container" class="nopad">
    %%Panel.ShopNavigation%%
  </div>
  <div class="container">
	<div class="row left">
		<div class="twelvecol last">
			<img src="//dev.modifywatches.com/templates/Modify/images/default/modthers/header.jpg" />
			<p class="headbox">
			Welcome to the Mod-ther's Day Gift Guide (Mod-ther's...get it?) This is THE place to get what mom really wants this year - the perfect gift, MODS. Order one of our discounted sets just for mom on the quickness before May 12th!! (you're welcome for the reminder) We might even throw in a little extra (social media is the new singing telegram!) to plus up those brownie points.
			</p>
		</div>
		<div class="twelvecol col">
			<div class="feature">
				<div class="rightm">
					<h4>3-Piece Sets</h4>
					<p>For the starter ModiMom: We've created a variety of sets just for mom. Get your Mom a shiny new 3-piece Mod set, just for her up to 20% off.</p>
					<a href="http://dev.modifywatches.com/categories/3%252dPiece-Mod%252dther%27s-Day-Sets/" class="vday-but">Shop Now</a>
				</div>
				<img src="//dev.modifywatches.com/templates/Modify/images/default/modthers/3piece.jpg" />
			</div>
			<div class="feature">
				<img src="//dev.modifywatches.com/templates/Modify/images/default/modthers/5piece.jpg" />
				<div class="leftm">
					<h4>5-Piece Sets</h4>
					<p>For the Mod-Lover Mom: Got a Mom who LOVES Mods? Get her one of our 5-piece sets for up to 30% off.</p>
					<a href="http://dev.modifywatches.com/categories/5%252dPiece-Mod%252dther%27s-Day-Sets/" class="vday-but">Shop Now</a>
				</div>
			</div>
			<div class="feature">
				<div class="rightm">
					<h4>BIG TIME Set (11 Pieces)</h4>
					<p>The Ultimate ModiMom Collection: Might as well face it, she's addicted to Mods. Make her remember this Mod-thers Day and get your Mom an 11-piece set up to 35% off.</p>
					<a href="http://dev.modifywatches.com/categories/BIG-TIME-Mod%252dther%27s-Day-Set/" class="vday-but">Shop Now</a>
				</div>
				<img src="//dev.modifywatches.com/templates/Modify/images/default/modthers/10piece.jpg" />
			</div>
			<div class="feature">
				<img src="//dev.modifywatches.com/templates/Modify/images/default/modthers/together.jpg" />
				<div class="leftm">
					<h4>Together Watches</h4>
					<p>Join Modify and American Heart Association celebrate Mod-ther's Day! Give the gift that gives back - 25% of all Red Product goes to support the AHA from now until May 12th</p>
					<a href="http://dev.modifywatches.com/categories/Non%252dProfit/%22Together%22-Non%252dProfit-Watch/" class="vday-but">Shop Now</a>
				</div>
			</div>
		</div>
		<br class="Clear" />
	</div>
  </div>
  %%Panel.Footer%%
</div>
</body>
</html>
