%%Panel.HTMLHead%%
<body class="mograd">
	%%Panel.Header%%

	<div id="container" class="nopad">
		<div class="gradBG small">
		</div>
		
		<div class="row">
			<div class="twelvecol last">
				<h1>Online Privacy Policy Statement</h1>
				<p>
					Thank you for using this website.  We are providing this privacy policy to inform you of the personally indentifiable information we collect and how we use and share the information. By using this website, you consent to this privacy policy. If you have any questions or concerns, please email us at <a href="mailto:aaron@modifywatches.com">aaron@modifywatches.com</a>.
				</p>
				<p>
					<strong>Information Collected</strong>
				</p>
				<p>
					We take the security and privacy of your personal information very seriously.  Categories of personally identifiable information we collect include your name and e-mail address if you request to be added to our newsletter or your name, e-mail address, and billing address if you place an order.  We use Google Checkout and Braintree Payments to process orders and do not have access to your credit card information.
				</p>
				<p>
					Like many websites, we use cookies and web beacons to recognize you so we can speed your navigation of the site, track your usage, and so you can place watches in your online shopping cart and purchase them.  We may use third-party advertising companies to help tailor our site to users or to provide ads on our behalf. These advertising companies may also use cookies and web beacons to measure the effectiveness of the advertising. Any information that these third parties collect via cookies and web beacons are not linked to any of the personally identifiable information we collect.
				</p>
				<p>
					<strong>Information We Share With Third Parties</strong>
				</p>
				<p>
					We know you are very concerned about the security of your personal information and only share this information with: 
					<ol>
						<li>
							<u>Service Providers</u>
							<p>We may share personal information with service provides to perform specific functions on our behalf.  For example, we must share your name and address with the U.S. Postal Service to ship watches to you.  Similarly, we may provide Google Checkout or Braintree Payment Processor with your billing information if you place an order to facilitate your payment.</p>
						</li>
						<li>
							<u>Law Enforcement</u>
							<p>We may also disclosure your information if requested by law enforcement officials or by a subpoena, court order or if otherwise required by law. We also will release personal information if it is necessary to protect our legal rights or to protect others. For example, we may share personal information if someone attempted to use this website to commit fraud.</p>
						</li>
						<li>
							<u>Merger</u>
							<p>We do not sell your personally identifiable information to other companies during our regular course of business, but if we were to merge with another company we might have to disclose personal information to the other company.</p>
						</li>
					</ol>
				</p>
				<p>
					<strong>Reviewing and Correcting Information</strong>
				</p>
				<p>
					Upon  request, we will provide you with your personal information (e.g.,  customer name and billing address) or transaction information (e.g.,  dates on which customers made purchases, amounts and types of  purchases). You can access your information by contacting us at&nbsp;<a style="color: #1155cc;" href="mailto:aaron@modifywatches.com" target="_blank"><span>aaron@modifywatches.com</span></a>.&nbsp; Please also contact us if you would no longer like to receive our newsletter or to update your e-mail address.
				</p>
				<p><strong>Privacy Policy Changes</strong></p>
				<p>
					As  we offer new content and services we may modify our privacy policy. If  there is a material change to our information collection and use  policies, we will update this&nbsp;privacy&nbsp;statement.
				</p>
				<p><strong>Contact Us</strong></p>
				<p>
					We value your&nbsp;privacy&nbsp;and take all reasonably necessary steps to protect  your information. If you have any questions or concerns about  our&nbsp;privacy&nbsp;practices, please do not hesitate to contact us at&nbsp;<a style="color: #1155cc;" href="mailto:aaron@modifywatches.com" target="_blank"><span>aaron@modifywatches.com</span></a>.<br /> &nbsp;<br />Updated: November 2012
				</p>
			</div>
		</div>
	</div>
	%%Panel.Footer%%
</div>
</body>
</html>
