%%Panel.HTMLHead%%
<body class="gggrad">
	%%Panel.Header%%

	<div id="container">
			<div style="display:none;" class="Left" id="LayoutColumn1">
				%%Panel.SideCategoryList%%
				%%Panel.SideCurrencySelector%%
				%%Panel.SideProductAddToWishList%%
				%%Panel.SideProductRelated%%
				%%Panel.SideProductRecentlyViewed%%
				%%Panel.SideNewProducts%%
				%%Panel.SideNewsletterBox%%
				%%Panel.SideLiveChatServices%%
			</div>

			<div class="gradBG small">
				<div class="container crumbbar">
					<div class="row">
						<div class="twelvecol">
							%%Panel.ProductTopBar%%
						</div>
						<br class="Clear" />
					</div>
				</div>
			</div>
			<div id="main" role="main" class="fncysans wShad">
				%%Panel.ProductDetails%%
				%%Panel.ProductTabs%%
				%%Panel.ProductVideos%%
				%%Panel.ProductWarranty%%
				%%Panel.ProductOtherDetails%%
			</div>
			<br class="Clear" />
		</div>
		
		%%Panel.Footer%%
	</div>
	
	%%Panel.FacebookSDK%%
	<script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/product.functions.js?%%GLOBAL_JSCacheToken%%"></script>
	<script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/product.js?%%GLOBAL_JSCacheToken%%"></script>
</body>
</html>
