<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

%%Panel.HTMLHead%%
<body class="jgrad">
	%%Panel.Header%%
	
	<div id="container" class="nopad">
		%%Panel.UCI%%
		<div id="tileHolder">
			<div class="tile">
				<div class="img"><img src="templates/Modify/images/default/tiles/unisex.jpg" /></div>
			</div>
			
			<div class="tile">
				<div class="img"><img src="templates/Modify/images/default/tiles/water.jpg" /></div>
			</div>
			
			<div class="tile">
				<div class="img"><img src="templates/Modify/images/default/tiles/multi.jpg" /></div>
			</div>
			
			<div class="tile last">
				<div class="img"><img src="templates/Modify/images/default/tiles/dope.jpg" /></div>
			</div>
			<br class="Clear" />
		</div>

		<div class="main center">
			<img src="templates/Modify/images/default/press.jpg" alt="Modify Is Kind of Famous" />
		</div>

	</div>

	<br class="Clear" />
	</div>
	%%Panel.Footer%%
	%%Panel.HomeModal%%
	<script src="javascript/home.js"></script>
</div>
</body>
</html>
