%%Panel.HTMLHead%%
<body class="ggrad">
  %%Panel.Header%%
  <style type="text/css">
	a.vday-but {
		display: inline-block;
		padding: 8px 20px;
		background-color: rgb(255, 69, 92);
		color: #FFF;
		font-weight: bold;
		border-radius: 5px;
		moz-border-radius: 5px;
		text-shadow: 1px 1px 0px #C71E33;
		box-shadow: 0px 1px 2px 0px #FF9DA9;
	}
	
	.vday-but:hover {
		color:#FFF;
	}
	
	p.headbox {
		margin-top: 10px;
		margin-bottom: 50px;
		padding-top:10px;
		border-top:1px solid #e2e2e2;
	}

	.feature {
		margin-bottom:40px;
		padding-bottom:40px;
	}
	.feature div {
		padding:0px;
	}
	.feature div.rightm {
		margin: 0px 20px 0px 0px;
	}
	.feature div.leftm {
		margin: 0px 0px 0px 20px;
	}
	.feature div h4 {
		margin-top:0px;
	}
  </style>
  
  <div id="container" class="nopad">
    %%Panel.ShopNavigation%%
  </div>
  <div class="container">
	<div class="row left">
		<div class="twelvecol last">
			<img src="//dev.modifywatches.com/templates/Modify/images/default/landing/vday/header.jpg" />
			<p class="headbox">
			Ladieeeeeeeeeeeeees. Fellllllllaaaaaaaaaaaaaas. Puppppppppppiiiiieeeeeeeeeeeeeeeeeeees!!!
			<br/><br/>
			Some people think that Valentine's Day needs a re-branding. It's dullsville. It supports the evil flower industry (sorry, florists -- you know it's true). And it doesn't leave any room for ridiculous <a href="http://www.youtube.com/watch?v=t7U6xjZYBso" target="_blank">Nic</a> <a href="http://www.youtube.com/watch?v=D7ZWGwkgDIM" target="_BLANK">Cage</a> <a href="http://www.youtube.com/watch?v=A23TuxKex_w" target="_BLANK">references</a>. We agree. You spoke, we listened. Welcome to the 26th annual ModiTime's (see what we did there?) Day Gift Guide.
			<br/><br/>
			These are the perfect gifts for that special person in your life, even if that person is you. The guide includes discounted sets, entrance into the Mod of the Month Club, and of course, other hijinx. Knock, knock. Who's there? Amazing Mods.
			</p>
		</div>
		<div class="twelvecol col">
			<div class="feature">
				<div class="rightm">
					<h4>Box of Mod-lates</h4>
					<p>Chocolate? Check. Faces? Check. Straps? CHECK! A great man once said "Life is like a box of chocolates" but with Modify you know exactly what you'll get -- a mix of all this DOPE-ness and sweetness in one specialty Valentine's Day set. Just enter the 2 faces, 3 straps and size(s) you want during checkout.</p>
					<a href="http://dev.modifywatches.com/categories/Box-of-Mod%252dlates/" class="vday-but">Shop Now</a>
				</div>
				<img src="//dev.modifywatches.com/templates/Modify/images/default/landing/vday/modlates.jpg" />
			</div>
			<div class="feature">
				<img src="//dev.modifywatches.com/templates/Modify/images/default/landing/vday/vdayset.jpg" />
				<div class="leftm">
					<h4>Valentine's Day Sets</h4>
					<p>We specially curated these Valentine's Day themed faces, straps and sets as the perfect gifts for those trying to show or spread the ModiLove! We're not responsible for any excessive displays of affection as a result of gifting these Mods!</p>
					<a href="http://dev.modifywatches.com/categories/Valentine%27s-Day-Sets/" class="vday-but">Shop Now</a>
				</div>
			</div>
			<div class="feature">
				<img src="//dev.modifywatches.com/templates/Modify/images/default/landing/vday/couples.jpg" />
				<div class="leftm">
					<h4>Couples Sets</h4>
					<p>Know what's better than dope Mods for you? You guessed it: couples sets with matching Mods for you AND your "sig-o" (that's significant other for those of you not hip to the game). Choose the set and the size(s) you want, and we'll send you the perfect couples gift.</p>
					<a href="http://dev.modifywatches.com/categories/Couples-Sets" class="vday-but">Shop Now</a>
				</div>
			</div>
			<div class="feature">
				<div class="rightm">
					<h4>Mod of the Month Club</h4>
					<p>YUP, this is the perfect Valentine's Day gift that keeps giving -- one dope Mod (a face and a strap) of your choice of over 1,000 Mods delivered monthly + some pretty schweeeet perks (20% off additional purchases, free shipping and exclusives!). There are also 3 or 6 month subscriptions available.</p>
					<a href="http://dev.modifywatches.com/watch-of-the-month.php" class="vday-but">Shop Now</a>
				</div>
				<img src="//dev.modifywatches.com/templates/Modify/images/default/landing/vday/motmc.jpg" />
			</div>
			<div class="feature">
				<img src="//dev.modifywatches.com/templates/Modify/images/default/landing/vday/love146.jpg" />
				<div class="leftm">
					<h4>LOVE146 Sets</h4>
					<p>Throughout February, <a href="http://dev.modifywatches.com/blog/love146/" target="_BLANK">Modify is partnering</a> with LOVE146 to abolish child sex slavery and exploitation through Prevention and Aftercare solutions. We're donating $20 of every "Together" face directly to <a href="http://love146.org/" target="_BLANK">LOVE146</a>. Celebrate LOVE this month with these Valentine's themed "Together" sets (including a specialty set with colorful Pure Fix Cycles to donate $100).</p>
					<a href="http://dev.modifywatches.com/categories/LOVE146-Sets/" class="vday-but">Shop Now</a>
				</div>
			</div>
			<div class="feature">
				<div class="rightm">
					<h4>Pure Fix Cycles</h4>
					<p>We LOVE fun, colorful and dope products that let you show your colors, and if there was one non-Modify gift we'd want for Valentine's, it'd be Pure Fix Cycles. Shop their entire selection <a href="http://purefixcycles.com/" target="_BLANK">here</a></p>
					<a href="http://purefixcycles.com/" class="vday-but">Shop Now</a>
				</div>
				<img src="//dev.modifywatches.com/templates/Modify/images/default/landing/vday/purefix.jpg" />
			</div>
		</div>
		<br class="Clear" />
	</div>
  </div>
  %%Panel.Footer%%
</div>
</body>
</html>
