	<div class="gradBG nav container">
		<div class="subNav row">
			<div class="tencol last fRight">
				<ul>
					<li class="d %%GLOBAL_StoryActive%%">
						<a href="about.php">Our Story</a>
						<ul>
							<li class="%%GLOBAL_OverviewActive%%"><a href="about.php">Overview</a></li>
							<li class="%%GLOBAL_TheModActive%%"><a href="about.php?a=themod">The Mod</a></li>
						</ul>
					</li>
					<li class="d %%GLOBAL_HelpActive%%">
						<a href="about.php?a=help">Help & FAQ</a>
						<ul style="width:260px;margin-right:-137px;">
							<li class="%%GLOBAL_FAQActive%%"><a href="about.php?a=help">FAQ</a></li>
							<li class="%%GLOBAL_ReturnsActive%%"><a href="about.php?a=returns">Returns & Exchanges</a></li>
						</ul>
					</li>
					<li class="d %%GLOBAL_TeamActive%%">
						<a href="about.php?a=team">The Team</a>
						<ul style="width:260px;margin-right:-137px;">
							<li><a class="%%GLOBAL_WhoWeActive%%" href="about.php?a=team">Who We Are</a></li>
							<li><a class="%%GLOBAL_FunnyActive%%" href="about.php?a=funny">What We Find Funny</a></li>
						</ul>
					</li>
					<li class="%%GLOBAL_PressActive%%">
						<a href="about.php?a=press">Press</a>
					</li>
					<li class="%%GLOBAL_RetailersActive%%">
						<a href="about.php?a=retail">Retailers</a>
					</li>
					<li class="%%GLOBAL_NonprofitActive%%">
						<a href="about.php?a=nonprofit">Non-Profit</a>
					</li>
					<li>
						<a href="blog">Blog</a>
					</li>
					<li>
						<a href="lookbook.pdf" target="_BLANK">Look Book</a>
					</li>
					<li class="%%GLOBAL_CustomActive%%">
						<a href="about.php?a=custom"">Custom</a>
					</li>
				</ul>
			</div>
			<br class="Clear" />
		</div>
	</div>
	
