  <div class="row">
    <div class="eightcol">
	  <h2 class="headerText lblue caps">Collaborations</h2>
      <div class="collaborations">
        <div class="collaboration">
          <div class="images">
            <img />
          </div>
          <div>
            <span class="headerText">Collaboration 1</span>
          </div>
        </div>
        <div class="collaboration">
          <div class="images">
            <img />
          </div>
          <div>
            <span class="headerText">Collaboration 2</span>
          </div>
        </div>
        <div class="collaboration">
          <div class="images">
            <img />
          </div>
          <div>
            <span class="headerText">Collaboration 3</span>
          </div>
        </div>
        <br class="Clear" />
      </div>
      <div class="collaborations">
        <div class="collaboration">
          <div class="images">
            <img />
          </div>
          <div>
            <span class="headerText">Collaboration 4</span>
          </div>
        </div>
        <div class="collaboration">
          <div class="images">
            <img />
          </div>
          <div>
            <span class="headerText">Collaboration 5</span>
          </div>
        </div>
        <div class="collaboration">
          <div class="images">
            <img />
          </div>
          <div>
            <span class="headerText">Collaboration 6</span>
          </div>
        </div>
        <br class="Clear" />
      </div>
      <br class="Clear" />
    </div>
    <div class="fourcol last">
      <div class="sidebar">
        <h4 class="headerText">Collabo - According to urbandictionary.com, "it's slang for collaboration"</h4>
        <ul class="community">
          <li>
            The ModiFamily doesn’t just enjoy rocking pretty colors and interesting patterns. We love great artists; we pine for the days we were in college; we enjoy adorable and hilarious characters like Domo; and we love playing Tetris (like, really love it). See some of our collaborations below. 

            And of course, please share with us on Facebook if there are other collaborations – big or small – that you’d like to see on a Mod
          </li>
          <li>
            <div class="icon fb"></div>
              <div>
                Like Us On Facebook<br />
                <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fmodifywatches&amp;send=false&amp;layout=standard&amp;width=265&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35&amp;appId=198063910254631" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:265px; height:35px;" allowTransparency="true"></iframe>
              </div>
              <br class="Clear" />
            </li>
            <li>
              <div class="icon twt"></div>
              <div>
                Join the Conversation<br />
                <a href="https://twitter.com/modifywatches" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @modifywatches</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </div>
              <br class="Clear" />
            </li>
            <li>
              <div class="icon mail"></div>
              <div>
                Sign-up for Our Newsletter<br />
              </div>
              <div class="subscriber">
                <input type="text" placeholder="E-mail Address">
                <input type="submit" value="Submit">
              </div>
              <br class="Clear" />
            </li>
          </ul>
        </div>
      </div>
      <br class="Clear" />
    </div>
  </div>
