<style type="text/css">
	.photo {
		width:237px;
		margin:4px;
	}
</style>

	<div class="row">
		<div class="eightcol">
			<h2 class="headerText lblue caps">It's All About the ModiFamily</h2>
			
			<div class="featFamily" style="margin:30px 0; ">
				<div class="member">
					<div class="images">
						<img src="templates/Modify/images/default/community/abby.jpg" />
					</div>
					<div>
						<span class="headerText">Abby and Christine</span>
						From: <b>Wabash, IN</b> <br />
						Fav Mod: <b>Thriller</b> <br />
						Fav Movie: <b>Jaw, Halloween and Toy Story all tie for #1, Mary Poppins & Sound of Music</b> <br />
					</div>
				</div>
				<div class="member">
					<div class="images">
						<img src="templates/Modify/images/default/community/theresa.jpg" />
					</div>
					<div>
						<span class="headerText">Theresa</span>
						From: <b>All over, currently Northern VA</b> <br />
						Fav Mod: <b>Thriller</b> <br />
						Fav Movie: <b> Searching for Bobby Fischer</b> <br />
					</div>
				</div>
				<div class="member last">
					<div class="images">
						<img src="templates/Modify/images/default/community/clayvon.jpg" />
					</div>
					<div>
						<span class="headerText">ClayVon</span>
						From: <b>Stoneville, NC</b> <br />
						Fav Mod: <b>Thriller</b> <br />
						Fav Movie: <b>Life</b> <br />
					</div>
				</div>
				<br class="Clear" />
			</div>
			
			<div id="photoMasonic">
				<img class="photo" src="templates/Modify/images/default/community/photos/0002sunjordanliberty-IN.jpeg" />
				<img class="photo" src="templates/Modify/images/default/community/photos/063chrismastersson.jpg" />
				<img class="photo" src="templates/Modify/images/default/community/photos/0006goroabe.jpg" />
				<img class="photo" src="templates/Modify/images/default/community/photos/112mon@johnthecloserjohnhairstonIN.jpg" />
				<img class="photo" src="templates/Modify/images/default/community/photos/0011.jpg" />
				<img class="photo" src="templates/Modify/images/default/community/photos/199marielemon.jpg" />
				<img class="photo" src="templates/Modify/images/default/community/photos/001farida.jpg" />
				<img class="photo" src="templates/Modify/images/default/community/photos/200nnamdi.jpg" />
				<img class="photo" src="templates/Modify/images/default/community/photos/001kumeiroarke.jpg" />
				<img class="photo" src="templates/Modify/images/default/community/photos/299toypoolside.jpg" />
				<img class="photo" src="templates/Modify/images/default/community/photos/0022Mod_Watch.jpg" />
				<img class="photo" src="templates/Modify/images/default/community/photos/319photobomb.jpg" />
				<img class="photo" src="templates/Modify/images/default/community/photos/008fsugameday.jpg" />
				<img class="photo" src="templates/Modify/images/default/community/photos/518bushakan.jpg" />
				<img class="photo" src="templates/Modify/images/default/community/photos/009dystany.jpg" />
				<img class="photo" src="templates/Modify/images/default/community/photos/626lizportoTW.jpg" />
				<img class="photo" src="templates/Modify/images/default/community/photos/010jessica brady @decajones.jpg" />
				<img class="photo" src="templates/Modify/images/default/community/photos/999chrismasters.jpg" />
				<img class="photo" src="templates/Modify/images/default/community/photos/0183columbia05.jpg" />
				<img class="photo" src="templates/Modify/images/default/community/photos/IMG_0340.jpg" />

			</div>
			
			
			<div class="familyRow">
				<div class="joinFamily">
					<span class="headerText lblue">5 Reasons to Join the ModiFamily</span>
					<ul>
						<li>You're tall/short, dame/dude, big/small, read/hoop, eat sugar/quinoa, prefer Brahms/Weezy (read: You're dope).</li>
						<li>Sneak previews and deals on our new swag.</li>
						<li>We design what the community asks for.</li>
						<li>You have mad style.</li>
						<li>You also booked opening night tickets to the hit movie Taken 2.</li>
					</ul>
				</div>
				<div class="instaFeed">
					<span class="headerText lblue">Photos From the Modify Team</span><br />
					Via our instagram feed @ModifyWatches.
					<iframe src="http://snapwidget.com/in/?u=bW9kaWZ5d2F0Y2hlc3xpbnwxMDB8M3wyfHx5ZXN8M3xub25l" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:339px; height: 226px" ></iframe>
				</div>
				<br class="Clear" />
			</div>
		</div>
		
		<div class="fourcol last">
			<div class="sidebar">
				<h4 class="headerText" style="margin-bottom:0px;">A Happy Family is a Social Family</h4>
				<ul class="community" style="margin-top:0px;">
					<li>
						<p style="margin:0">We love our fans. And they seem to love us too. The ModiFamily tells us what colors to use, and what licenses to get. Whether you're a member of our Mod of the Month Club or just a novice Modder, we'd love to hear from you.</p>
					</li>
					<li>
						<div class="icon fb"></div>
						<div>
							Like Us On Facebook<br />
							<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fmodifywatches&amp;send=false&amp;layout=standard&amp;width=265&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35&amp;appId=198063910254631" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:265px; height:35px;" allowTransparency="true"></iframe>
						</div>
						<br class="Clear" />
					</li>
					<li>
						<div class="icon twt"></div>
						<div>
							Join the Conversation<br />
							<a href="https://twitter.com/modifywatches" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @modifywatches</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</div>
						<br class="Clear" />
					</li>
					<li>
						<div class="icon mail"></div>
						<div>
							Sign-up for Our Newsletter<br />
						</div>
						<div class="subscriber">
							<input type="text" placeholder="E-mail Address">
							<input type="submit" value="Submit">
						</div>
						<br class="Clear" />
					</li>
				</ul>
			</div>
			<div class="sidebar sgPat">
				<h4 class="headerText">A Little Bird Told Me</h4>
				<a class="twitter-timeline" data-dnt=true href="https://twitter.com/ModifyWatches" data-widget-id="257384689554296834">Tweets by @ModifyWatches</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
		<br class="Clear" />
	</div>


