	<style type="text/css">
		.imgs img {
			width:230px;
			margin-bottom:10px;
		}
		
		#tileHolder {
			width:auto;
			float:left;
		}
		
		#tileHolder .tile {
			margin:0px 25px 25px 0px;
			width:210px;
			height:auto;
			background-color:#FFF;
			text-align:center;
		}
		
		.ggb {
			background-image:url('templates/Modify/images/default/lgscan.png');
			padding:10px;
			margin-top:10px;
		}
	</style>
	<div class="row">
		<div class="eightcol">
			<h1 class="headerText orange caps" style="font-size:1.5em;">Custom Watches</h1>
			<div>
				<div style="width:100%;height:225px;background-color:#e6e7e8;">
					<img src="templates/Modify/images/default/customh.jpg" alt="Custom Watches by Modify" />
				</div>
			</div>
			
			<h4 class="headerText">A Few Brands We Have Worked With:</h4>
			<div id="tileHolder" class="imgs">
				<div class="tile">
					<a href="templates/Modify/images/default/custom/google.jpg" target="_BLANK"><img src="templates/Modify/images/default/custom/google.jpg" alt="Google Plus Watches" /></a>
					Google Plus
				</div>
				<div class="tile">
					<a href="templates/Modify/images/default/custom/shutterfly.jpg" target="_BLANK"><img src="templates/Modify/images/default/custom/shutterfly.jpg" alt="Shutterfly Watches" /></a>
					Shutterfly
				</div>
				<div class="tile" style="margin-right:0px;">
					<a href="templates/Modify/images/default/custom/berkeley.jpg" target="_BLANK"><img style="margin-right:0px;" src="templates/Modify/images/default/custom/berkeley.jpg" alt="UC Berkeley Haas School of Business Watches" /></a>
					UC Berkeley Haas
				</div>
				<div class="tile" style="margin-bottom:5px;">
					<a href="templates/Modify/images/default/custom/mailchimp.jpg" target="_BLANK"><img src="templates/Modify/images/default/custom/mailchimp.jpg" alt="Mailchimp Watches" /></a>
					MailChimp
				</div>
				<div class="tile" style="margin-bottom:5px;">
					<a href="templates/Modify/images/default/custom/docs.jpg" target="_BLANK"><img src="templates/Modify/images/default/custom/docs.jpg" alt="Google Docs Watches" /></a>
					Google Drive
				</div>
				<div class="tile" style="margin-right:0px;margin-bottom:5px;">
					<a href="templates/Modify/images/default/custom/adult.jpg" target="_BLANK"><img style="margin-right:0px;" src="templates/Modify/images/default/custom/adult.jpg" alt="Adult Swim Watches" /></a>
					[adultswim]
				</div>
			</div>
			<div style="font-size:18px;text-align:center;">
				<p><a href="https://www.facebook.com/media/set/?set=a.471620542875384.95389.166805133356928&type=3" target="_blank">More examples</a> | <a href="http://www.linkedin.com/company/modify-watches/modify-watches-custom-line-create-your-own-modify-set-to-best-fit-your-organization-event-600633/product?trk=biz_product" target="_blank">Client Reviews</a></p>
				<div class="ggb">
					<p>Proud Member of ASI, #71962</p>
					<p>Email <a href="mailto:custom@modifywatches.com">custom@modifywatches.com</a> to discuss creating the perfect watch for your brand </p>
				</div>
			</div>
		</div>
		<div class="fourcol last">
			<div class="sidebar">
				<h4 class="headerText">Make It Yours!</h4>
				<p style="font-size: 0.9em;">Create custom watches for your company, your non-profit fundraiser, to put into a time capsule, or for any other reason.</p>
				<p>Lots of people know us for our incredible good looks (and the watches that you can buy on this-here-website). We also have a dark secret: We love creating custom watches for companies, non-profits and personal events. </p>
				<p>If you are interested in customizing a set of watches, whether simply engraving the back of the watches you see on the site or completely designing a watch for yourself, let us know by <b>emailing Aaron at <a href="mailto:custom@Modifywatches.com">custom@modifywatches.com</a></b>. Our minimum order is 50 Modify Watches for engraving and 100 for a full customization. </p>
			</div>
		</div>
		<br class="Clear" />
	</div>
