  <div class="row">
    <div class="eightcol faq">
		<h2 class="headerText lblue caps">Frequently Asked Questions</h2>
		<div>
				<div style="width:100%;height:225px;background-color:#e6e7e8;">
					<img src="templates/Modify/images/default/about/helpFAQ.jpg" />
				</div>
			</div>
		<ul>
			<li>
				<header>What are Modify's best features?</header>
				A few of our favorite features 
				<ol>
					<li>Her high cheek bones</li>
					<li>2 Sizes: Classic and Mini</li>
					<li>Water resistant to 3ATM (go swimming)</li>
					<li>Made of stainless steel and scratch-resistant PC</li>
					<li>Super-soft and lightweight uv-coated silicone strap</li>
					<li>Smothered by Modify branding</li>
				</ol>
			</li>
			<li>
				<header>Are these watches for men or for women</header>
				Bofum (Both). The Modify Watch is an ambiwatch. Check out photos of our Fans (male, female, canine) on our <a href="http://www.facebook.com/modifywatches" target="_BLANK">Facebook page</a> or on the <a href="community.php">Community page</a>.
			</li>
			<li>
				<header>How do I actually Modify my watch?</header>
				See the Six Steps to Modify section above. The key to modifying your watch (assuming you are taking a face out of a band), is to pull on either side of the band until the rubber tongs that hook into the top and bottom of that face pull out. You can then pull the face out. To put a face in, start with one side and press the plastic tongs on the face into the rubber indentations on the top of the watch (make sure you put the face on the correct side with the dial on the side with the hole in the rubber). It can take a little bit of force to make the fit right, so use your thumbs on the rubber on either side of the face and push them towards the face until you feel it pop into place. Trust us, this gets easier with practice.
			</li>
			<li>
				<header>What do I do if my watch is digital?</header>
				Take it out. Blow on it. Wait 10 seconds. Hit reset.
			</li>
			<li>
				<header>How big are the watches?</header> 
				Watch Face Size (LxW): 4.4cm x 4.3cm. Watch Strap Size (LxW): 23cm x 2.2 cm. Net Weight: 49g. <br/>
				<img src="http://dev.modifywatches.com/templates/Modify/images/default/sizeFAQ.jpg"/>
			</li>
			<li>
				<header>What are they made of?</header>
				Modify Watch faces are made of stainless steel and scratch-resistant polycarbonate. Modify Watches use ultra-smooth, light-weight, and durable silicone straps to create an incredibly comfortable touch.
			</li>
			<li>
				<header>Is the watch water-resistant?</header>
				Yes! Modify Watches are resistant to 3ATM. That's a physics-term, referencing depth and pressure. In layperson's terms, you can swim and shower and workout with your Modify. They are not meant for deep sea abalone diving. If you get the watch wet, please remove it from the strap and let the pieces dry separately to prevent rusting.
			</li>
			<li>
				<header>How long is the 3-month warranty and what does it cover?</header>
				Great question: The 3-month warranty is 90 days long. The warranty covers defective watches from the date of shipment. Should the watch stop working properly, we will send you a new one. Contact us if the battery stops, we've stocked extras so you don't have to go on a pesky battery hunt! Watches are not considered defective if you cause physical harm to it. Basically, if the watch stops working on its own, we got your back. Simply send us an email to help@modifywatches.com and we will gladly walk you through the process.
			</li>
			<li>
				<header>Where do I get a replacement battery?</header>
				We've always been annoyed having to find batteries when our watch stops ticking. So we decided to help you out and send you the correct one. Of course, you shouldn't need to switch batteries for a while, but if you do just e-mail help@modifywatches.com and we'll send one sealed with a loving kiss. If you're desperate for a new battery within 6 minutes, Sony number 364 (SR621SW) will work great!
			</li>
			<li>
				<header>If I were on the Modify team, what would people say to me?</header>
				<ul>
					<li>Common Refrain 1: "You are a hunky dreamboat that I would like to snuggle" (very common)</li>
					<li>Common Refrain 2: "Above all, the professionalism you display is unmatched." (less common)</li>
					<li>Common Refrain 3 (to Gary): "Nice watch! But you should really consider trimming your eyebrows."</li>
					<li>Common Refrain 4 (to Aaron): "Nice watch! But sorry about your lactose intolerance."</li>
				</ul>
			</li>
			<li>
				<header>Will Modify use photos I send in?</header>
				Yes! We love sharing photos of our customers showing off their Modify watches. By sending us photos you give Modify permission to use them on this site and in other forms of advertising. If you would prefer for us to not share your photos, please let us know and we will not do so. You can post them to <a href="http://www.facebook.com/modifywatches" target="_BLANK">Facebook</a>, Instagram (@ModifyWatches), <a href="http://www.twitter.com/modifywatches" target="_BLANK">Twitter</a>, Pinterest (tag @modifywatches) or of course email <a href="mailto:photos@modifywatches.com" target="_BLANK">photos@modifywatches.com</a>
			</li>
			<li>
				<header>Do you ship internationally? How much does it cost?</header>
				We do ship internationall! Shipping to Canda is $8 and anywhere else outside the US is $20. If you have specific shipping questions, email us at <a href="mailto:help@modifywatches.com">help@modifywatches.com</a>
			</li>
			<li>
				<header>What are my domestic shipping options?</header>
				We offer multiple shipping options in the U.S.. You can ship Standard delivery, which will arrive in 6-8 business days for $3.99 (free for orders over $60!). This does not have tracking, and is sent via USPS. You can also choose Expedited Shipping for a flat $6. This does come with tracking and will arrive within 3-5 business days. 
			</li>
			<li>
				<header>A few last notes:</header>
				<ul>
					<li>Keep out of the reach of children and definitely do not swallow your Modify watch.</li>
					<li>Please do not Modify and drive.</li>
					<li>There is no proven link between Modifying and the fear of defenestration.</li>
				</ul>
			</li>
		</ul>
    </div>
    <div class="fourcol last">
      <div class="sidebar">
        <h4 class="headerText">We're here to help</h4>
        <ul class="community">
          <li>
            We want you to LOVE your Mods. 
            <br />
            Sometimes you’ll have questions about how to love them more: “Should I pay for my Mod’s movie ticket on our first date?”. Sometimes you’ll be confused why your Mod is only correct 2x/day (probably a battery issue). 
            <br />
            This page *should* tell you everything you need to know. But if you have any other questions, please get in touch
            <ul>
              <li>Email <a href="mailto:help@modifywatches.com" target="_BLANK">help@modifywatches.com</a></li>
              <li>Call 619-Modify5 (619-663-4395)</li>
            </ul>
            Other places to contact
            <ul>
              <li><a href="/about.php?a=retail">Retail inquiries</a>: <a href="mailto:sales@modifywatches.com" target="_BLANK">sales@modifywatches.com</a></li>
              <li>Partnership: <a href="mailto:letsbebuddies@modifywatches.com" target="_BLANK">letsbebuddies@modifywatches.com</a></li>
              <li>Custom work <a href="mailto:custom@modifywatches.com" target="_BLANK">custom@modifywatches.com</a></li>
            </ul>
          </li>
          <li>
            <div class="icon fb"></div>
              <div>
                Like Us On Facebook<br />
                <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fmodifywatches&amp;send=false&amp;layout=standard&amp;width=265&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35&amp;appId=198063910254631" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:265px; height:35px;" allowTransparency="true"></iframe>
              </div>
              <br class="Clear" />
            </li>
            <li>
              <div class="icon twt"></div>
              <div>
                Join the Conversation<br />
                <a href="https://twitter.com/modifywatches" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @modifywatches</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </div>
              <br class="Clear" />
            </li>
            <li>
              <div class="icon mail"></div>
              <div>
                Sign-up for Our Newsletter<br />
              </div>
              <div class="subscriber">
                <input type="text" placeholder="E-mail Address">
                <input type="submit" value="Submit">
              </div>
              <br class="Clear" />
            </li>
          </ul>
        </div>
      </div>
      <br class="Clear" />
    </div>
  </div>
