</div>
<br class="Clear" />
</div>
<div id="Footer" class="container">
	<div id="FooterContent" class="row">
		<div class="FooterColumn threecol">
			<ul>
				<lh>Modify Watches</lh>
				<li><a href="%%GLOBAL_ShopPath%%/about.php?a=themod">Meet the Mod</a></li>
				<li><a href="%%GLOBAL_ShopPath%%/categories?a=build">Shop - Start from scratch</a></li>
				<li><a href="%%GLOBAL_ShopPath%%/categories?a=browse">Shop - Browse Curated Sets</a></li>
				<li><a href="%%GLOBAL_ShopPath%%/watch-of-the-month.php">Mod of the Month Club</a></li>
				<li><a href="%%GLOBAL_ShopPath%%/giftcertificates.php">Gift Certificates</a></li>
				<li><a href="%%GLOBAL_ShopPath%%/categories?a=custom">Custom Watches</a></li>
			</ul>
		</div>
		
		<div class="FooterColumn threecol">
			<ul>
				<lh>The Team, The Myth, The Legend</lh>
				<li><a href="%%GLOBAL_ShopPath%%/about.php">About Us</a></li>
				<li><a href="%%GLOBAL_ShopPath%%/about.php?a=press">Press</a></li>
				<li><a href="%%GLOBAL_ShopPath%%/blog">Read Our Blog</a></li>
				<li><a href="%%GLOBAL_ShopPath%%/about.php?a=team">Join the Team</a></li>
				<li><a href="http://www.shareasale.com/shareasale.cfm?merchantID=45751" target="BLANK">Affiliate Program</a></li>
			</ul>
		</div>
		
		<div class="FooterColumn threecol">
			<ul>
				<lh>We're Here For You</lh>
				<li><a href="%%GLOBAL_ShopPath%%/about.php?a=returns">Returns and Exchanges</a></li>
				<li><a href="%%GLOBAL_ShopPath%%/about.php?a=help">Frequently Asked Questions</a></li>
				<li><a href="%%GLOBAL_ShopPath%%/about.php?a=help">Contact Us</a></li>
			</ul>
		</div>
		
		<div class="FooterColumn threecol last">
			<ul>
				<lh>Sign Up For Emails</lh>
			</ul>
			<form action="http://modifywatches.us2.list-manage1.com/subscribe/post?u=ff6348c49444f0d8101e7a204&amp;id=1300f32261" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                <input name="EMAIL" onfocus="if(this.value == 'E-mail Address') { this.value = ''; }" value="E-mail Address" class="nInput" type="text" />
				<input type="submit" alt="Go" class="nBut" value="Sign Up">
            </form>
		</div>
		
		<br class="Clear" />
	</div>
	<p>
		%%GLOBAL_AllPricesAreInCurrency%%
		Copyright %%GLOBAL_Year%% %%GLOBAL_StoreName%%. 
		%%SNIPPET_SitemapLink%%
		<a href="%%GLOBAL_ShopPath%%/privacy.php">Privacy Policy</a>
		%%GLOBAL_MobileSiteLink%%
	</p>
	%%GLOBAL_DebugDetails%%

</div>

%%Panel.SandboxPopout%%
%%Panel.RemarketingPixel%%

%%GLOBAL_DesignModeHTML%%
%%GLOBAL_QueryList%%
%%GLOBAL_DesignModeScriptTag%%
%%GLOBAL_LiveChatFooterCode%%

%%GLOBAL_OptimizerTrackingScript%%

%%GLOBAL_OptimizerConversionScript%%

%%GLOBAL_OptimizerSetCookieScript%%
%%GLOBAL_FooterScripts%%
%%SNIPPET_FastCartThickBoxJs%%
<div style="display: none">
%%Panel.Sandbox%%
</div>
