<!-- HTML5 Carousel -->
	
	<div class="main center">
		<header class="headerText" style="font-size: 1.5em">Best Sellers</header>
		<div id="myCarousel" class="carousel slide">
			<!--<div id="sboxCats">
				<div style="display:none;">
					%%Panel.CategoryHeading%%
					%%Panel.CategoryPagingTop%%
					%%Panel.CategoryContent%%
					%%Panel.CategoryPagingBottom%%
				</div>
			</div>-->
			<div class="carousel-inner center">
				<div class="item active">
					<div class="threecol">
						<figure class="product ">
							<a href="http://www.modifywatches.com/products/Black-Face-with-Black-Strap.html#.UethqWSgmPs"  >
								<img src="http://www.modifywatches.com/product_images/h/887/1374081752__67304_std.jpg" alt="Black Face with Black Strap" />
							</a>
							<a href="http://www.modifywatches.com/products/Black-Face-with-Black-Strap.html#.UethqWSgmPs" class="">
								<figcaption>
									Black Face with Black Strap<br/>
									<span>$45.00</span><br/>
									
								</figcaption>
							</a>
							<div>
								<a class="ctaBut buyNow" href="http://www.modifywatches.com/products/Black-Face-with-Black-Strap.html#.UethqWSgmPs" style="margin-bottom: 10px;">Buy Now</a>
							</div>
						</figure>
					</div>
					<div class="threecol">
						<figure class="product">
							<a href="http://www.modifywatches.com/products/Pink-Face-with-Cool-Mist-Strap.html#.UetpY2SgmPs"  >
								<img src="http://www.modifywatches.com/product_images/k/301/1370909435__70848_zoom.jpg" alt="Pink Face with Cool Mist Strap" />
							</a>
							<a href="http://www.modifywatches.com/products/Pink-Face-with-Cool-Mist-Strap.html#.UetpY2SgmPs" class="">
								<figcaption>
									Pink Face with Cool Mist Strap<br/>
									<span>$45.00</span><br/>
									
								</figcaption>
							</a>
							<div>
								<a class="ctaBut buyNow" href="http://www.modifywatches.com/products/Pink-Face-with-Cool-Mist-Strap.html#.UetpY2SgmPs" style="margin-bottom: 10px;">Buy Now</a>
							</div>
						</figure>
					</div>
					<div class="threecol">
						<figure class="product">
							<a href="http://www.modifywatches.com/products/Rose-Gold-Face-with-Seafoam-Green-Strap.html#.UetodWSgmPs"  >
								<img src="http://www.modifywatches.com/product_images/n/087/1370909321__99302_zoom.jpg" alt="Rose Gold Face with Seafoam Green Strap" />
							</a>
							<a href="http://www.modifywatches.com/products/Rose-Gold-Face-with-Seafoam-Green-Strap.html#.UetodWSgmPs" class="">
								<figcaption>
									Rose Gold Face with Seafoam Green Strap<br/>
									<span>$50.00</span><br/>
									
								</figcaption>
							</a>
							<div>
								<a class="ctaBut buyNow" href="http://www.modifywatches.com/products/Rose-Gold-Face-with-Seafoam-Green-Strap.html#.UetodWSgmPs" style="margin-bottom: 10px;">Buy Now</a>
							</div>
						</figure>
					</div>
					<div class="threecol">
						<figure class="product">
							<a href="http://www.modifywatches.com/products/Blue-Face-with-White-Strap.html#.UetqjGSgmPs"  >
								<img src="http://www.modifywatches.com/product_images/n/527/1374081898__42637_zoom.jpg" alt="Blue Face with White Strap" />
							</a>
							<a href="http://www.modifywatches.com/products/Blue-Face-with-White-Strap.html#.UetqjGSgmPs" class="">
								<figcaption>
									Blue Face with White Strap<br/>
									<span>$45.00</span><br/>
									
								</figcaption>
							</a>
							<div>
								<a class="ctaBut buyNow" href="http://www.modifywatches.com/products/Blue-Face-with-White-Strap.html#.UetqjGSgmPs" style="margin-bottom: 10px;">Buy Now</a>
							</div>
						</figure>
					</div>
				</div>
				<div class="item">
					<div class="threecol">
						<figure class="product">
							<a href="http://www.modifywatches.com/products/Graphene-Face-with-Slate-Grey-Strap.html#.UetrX2SgmPs"  >
								<img src="http://www.modifywatches.com/product_images/x/476/1373516952__62833_std.jpg" alt="Graphene Face with Slate Grey Strap" />
							</a>
							<a href="http://www.modifywatches.com/products/Graphene-Face-with-Slate-Grey-Strap.html#.UetrX2SgmPs" class="">
								<figcaption>
									Graphene Face with Slate Grey Strap<br/>
									<span>$55.00</span><br/>
									
								</figcaption>
							</a>
							<div>
								<a class="ctaBut buyNow" href="http://www.modifywatches.com/products/Graphene-Face-with-Slate-Grey-Strap.html#.UetrX2SgmPs" style="margin-bottom: 10px;">Buy Now</a>
							</div>
						</figure>
					</div>
					<div class="threecol">
						<figure class="product">
							<a href="http://www.modifywatches.com/products/Camo-Face-with-Royal-Blue-Strap.html#.Uet44WSgmPt"  >
								<img src="http://www.modifywatches.com/product_images/v/888/1372145210__50812_std.jpg" alt="Camo Face with Royal Blue Strap" />
							</a>
							<a href="http://www.modifywatches.com/products/Camo-Face-with-Royal-Blue-Strap.html#.Uet44WSgmPt" class="">
								<figcaption>
									Camo Face with Royal Blue Strap<br/>
									<span>$50.00</span><br/>
									
								</figcaption>
							</a>
							<div>
								<a class="ctaBut buyNow" href="http://www.modifywatches.com/products/Camo-Face-with-Royal-Blue-Strap.html#.Uet44WSgmPt" style="margin-bottom: 10px;">Buy Now</a>
							</div>
						</figure>
					</div>
					<div class="threecol">
						<figure class="product">
							<a href="#"><img src="http://www.modifywatches.com/product_images/b/589/1374082045__24248_std.jpg"></a>
						</figure>
					</div>
					<div class="threecol">
						<figure class="product">
							<a href="#"><img src="http://www.modifywatches.com/product_images/k/148/1374086976__77487_std.jpg"></a>
						</figure>
					</div>
				</div>
				<div class="item">
					<div class="threecol">
						<figure class="product">
							<a href="#"><img src="http://www.modifywatches.com/product_images/x/018/1372144954__88911_std.jpg"></a>
						</figure>
					</div>
					<div class="threecol">
						<figure class="product">
							<a href="#"><img src="http://www.modifywatches.com/product_images/z/357/1373516949__24630_std.jpg"></a>
						</figure>
					</div>
					<div class="threecol">
						<figure class="product">
							<a href="#"><img src="http://www.modifywatches.com/product_images/b/589/1374082045__24248_std.jpg"></a>
						</figure>
					</div>
					<div class="threecol">
						<figure class="product">
							<a href="#"><img src="http://www.modifywatches.com/product_images/k/148/1374086976__77487_std.jpg"></a>
						</figure>
					</div>
				</div>
			</div>

			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>

	<span>
		<script type="text/template" id="product-template">
			<%= image %>
			<div>
				<% if (type == "3" || type == "4") { %>
					<a class="ctaBut buyNow" href="#" style="margin-bottom: 10px;">Buy Now</a>
				<% } else { %>
					<a class="nBut visualize" href="#">Add to Visualizer</a>
				<% } %>
				<a class="nBut viewProdInfo iframe" href="<%= link %>">View Product Info</a>
			</div>
			<a href="<%= link %>" class="">
				<figcaption>
					<%= name %><br>
					<span><%= price %></span><br>
				</figcaption>
			</a>

			<div class="ProductCompareButton" style="display:none">
				<input type="checkbox" class="CheckBox" name="compare_product_ids" id="compare_<%= id %>" value="<%= id %>" onclick="product_comparison_box_changed(this.checked)"> <label for="compare_<%= id %>">Compare</label> <br>
			</div>

			<div class="ProductActionAdd" style="display:none;">
				<a href="<%= link %>">Choose Options</a>
			</div>
		</script>

		<script type="text/template" id="sandboxpreview-template">
			<figure class="product">
				<img src="<%= config.ShopPath + "/product_images/" + imagefilethumb %>" alt="<%= prodname %>"></a>
			</figure>
		</script>
	</span>