<!-- HTML5 Carousel -->
	
	<div class="main center" style="font-size: 1.5em">
		<header class="headerText">Best Sellers</header>
		<div id="myCarousel" class="carousel slide">
			<!--<div id="sboxCats">
				<div style="display:none;">
					%%Panel.CategoryHeading%%
					%%Panel.CategoryPagingTop%%
					%%Panel.CategoryContent%%
					%%Panel.CategoryPagingBottom%%
				</div>
			</div>-->
			<div class="carousel-inner">
				<div class="item active">
					<div class="threecol">
						<figure class="product">
							<a href="#"><img src="http://www.modifywatches.com/product_images/s/007/1372144952__58532_std.jpg"></a>
						</figure>
					</div>
					<div class="threecol">
						<figure class="product">
							<a href="#"><img src="http://www.modifywatches.com/product_images/n/745/1374081761__14956_std.jpg"></a>
						</figure>
					</div>
					<div class="threecol">
						<figure class="product">
							<a href="#"><img src="http://www.modifywatches.com/product_images/s/612/1374174093__36421_std.jpg"></a>
						</figure>
					</div>
					<div class="threecol">
						<figure class="product">
							<a href="#"><img src="http://www.modifywatches.com/product_images/p/410/1372948504__95043_std.jpg"></a>
						</figure>
					</div>
					<div class="threecol">
						<figure class="product">
							<a href="#"><img src="http://www.modifywatches.com/product_images/x/513/1372948512__75423_std.jpg"></a>
						</figure>
					</div>
				</div>
				<div class="item">
					<div class="threecol">
						<figure class="product">
							<a href="#"><img src="http://www.modifywatches.com/product_images/x/018/1372144954__88911_std.jpg"></a>
						</figure>
					</div>
					<div class="threecol">
						<figure class="product">
							<a href="#"><img src="http://www.modifywatches.com/product_images/z/357/1373516949__24630_std.jpg"></a>
						</figure>
					</div>
					<div class="threecol">
						<figure class="product">
							<a href="#"><img src="http://www.modifywatches.com/product_images/b/589/1374082045__24248_std.jpg"></a>
						</figure>
					</div>
					<div class="threecol">
						<figure class="product">
							<a href="#"><img src="http://www.modifywatches.com/product_images/k/148/1374086976__77487_std.jpg"></a>
						</figure>
					</div>
					<div class="threecol">
						<figure class="product">
							<a href="#"><img src="http://www.modifywatches.com/product_images/v/905/1372948508__18835_std.jpg"></a>
						</figure>
					</div>
				</div>
			</div>

			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>

	<span>
		<script type="text/template" id="product-template">
			<%= image %>
			<div>
				<% if (type == "3" || type == "4") { %>
					<a class="ctaBut buyNow" href="#" style="margin-bottom: 10px;">Buy Now</a>
				<% } else { %>
					<a class="nBut visualize" href="#">Add to Visualizer</a>
				<% } %>
				<a class="nBut viewProdInfo iframe" href="<%= link %>">View Product Info</a>
			</div>
			<a href="<%= link %>" class="">
				<figcaption>
					<%= name %><br>
					<span><%= price %></span><br>
				</figcaption>
			</a>

			<div class="ProductCompareButton" style="display:none">
				<input type="checkbox" class="CheckBox" name="compare_product_ids" id="compare_<%= id %>" value="<%= id %>" onclick="product_comparison_box_changed(this.checked)"> <label for="compare_<%= id %>">Compare</label> <br>
			</div>

			<div class="ProductActionAdd" style="display:none;">
				<a href="<%= link %>">Choose Options</a>
			</div>
		</script>

		<script type="text/template" id="sandboxpreview-template">
			<figure class="product">
				<img src="<%= config.ShopPath + "/product_images/" + imagefilethumb %>" alt="<%= prodname %>"></a>
			</figure>
		</script>
	</span>