<div id="modalHider" style="display:%%GLOBAL_ShowModal%%;">
	<div class="genModal">
	</div>

	<div id="homeModal" class="content">
		<div class="modalContain">
			<div class="closer"><span>X Close</span></div>
			<img src="templates/Modify/images/default/popup-2.jpg" />
			<form action="http://modifywatches.us2.list-manage1.com/subscribe/post?u=ff6348c49444f0d8101e7a204&amp;id=1300f32261" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                <input name="EMAIL" onfocus="if(this.value == 'E-mail Address') { this.value = ''; }" value="E-mail Address" class="nInput" type="text">
				<input type="submit" alt="Go" class="nBut" value="Sign Up">
            </form>
		</div>
	</div>
</div>


<script type="text/javascript">
	$(function() {
		$(".genModal").click(function() {
			$('.genModal').fadeOut();
			$('#homeModal').fadeOut();
		});
		
		$("#homeModal .closer span").click(function() {
			$(".genModal").click();
		});
		
		$("#openGiftModal").click(function() {
			$('#modalHider').fadeIn();
			$('.genModal').fadeIn();
			$('#homeModal').fadeIn();
		});
	});
</script>
<style type="text/css">
	#homeModal {
		position:absolute;
		z-index:999;
		width:630px;
		margin:0px;
		padding:0px;
		top:107px;
		left:50%;
		margin-left:-315px;
		-webkit-box-shadow: 0px 0px 4px 0px #666;
        box-shadow: 0px 0px 4px 0px #666;
	}
	
	#homeModal .closer {
		text-align:right;
		position:absolute;
		top:5px;
		right:10px;
	}
	
	#homeModal .closer span {
		cursor:pointer;
	}
	
	#homeModal .modalContain {
		position:relative;
	}
	
	#homeModal .cta {
		position:absolute;
		right: 15px;
		bottom:30px;
		padding: 5px 30px;
		color:#FFF;
	}
	
	#homeModal .cta:hover {
		color:#FFF;
		text-decoration:none;
	}
	
	#homeModal form {
		position:absolute;
		left:160px;
		bottom:70px;
	}
	
	#homeModal form .nInput {
		font-size:1.1em;
		width:185px;
	}
	
	#homeModal form .nBut {
		font-size: 1.1em;
		padding: 8px 20px;
		margin-left: 5px;
	}
</style>
