<div id="tileHolder">
	<div class="tile">
		<div class="img"><a href="about.php"><img src="templates/Modify/images/default/tiles/unisex.jpg" /></a></div>
	</div>
	
	<div class="tile">
		<div class="img"><a href="about.php"><img src="templates/Modify/images/default/tiles/water.jpg" /></a></div>
	</div>
	
	<div class="tile">
		<div class="img"><a href="about.php"><img src="templates/Modify/images/default/tiles/multi.jpg" /></a></div>
	</div>
	
	<div class="tile last">
		<div class="img"><a href="http://www.beedogs.com" target="_BLANK"><img src="templates/Modify/images/default/tiles/dope.jpg" /></a></div>
	</div>
	<br class="Clear" />
</div>
