  <div class="row">
    <div class="eightcol">
		<h2 class="headerText lblue caps">Non-Profit</h2>
		<div>
			<div style="width:100%;height:225px;background-color:#e6e7e8;">
				<img src="templates/Modify/images/default/about/nonprofit.jpg" />
			</div>
		</div>
		<p>We have two programs to give back. The first is the <a href="categories/Non%252dProfit/%22Together%22-Non%252dProfit-Watch/?action=browse">Together watch</a> (you see, the design of the watch says “Together” on it). This is a limited-edition timepiece. Every  month we rotate one core non-profit partner - $20 of each watch sale goes to that partner. To date our ModiFamily has raised over $5,000 for the following:</p>
		<ul>
			<li><a title="Carrier Classic" href="http://www.modifywatches.com/blog/carrier-classic//" target="_blank">Carrier Classic</a></li>
			<li><a title="Larkin Street Youth Services" href="https://www.modifywatches.com/blog/the-together-watch-supporting-larkin-street-youth-services/" target="_blank">Larkin Street Youth Services</a></li>
			<li><a title="La Casa De Las Madres" href="https://www.modifywatches.com/blog/la-casa-de-las-madres/" target="_blank">La Casa De Las Madres</a></li>
			<li><a title="Wonderroot" href="https://www.modifywatches.com/blog/wonderroot/" target="_blank">Wonderroot</a></li>
			<li><a title="Realize the Dream Institute" href="http://www.modifywatches.com/blog/revive-the-dream-and-modify-watches-this-months-together-partnership/" target="_blank">Realize the Dream Institute</a></li>
			<li><a title="BAYCAT" href="http://www.modifywatches.com/blog/baycat-modify-are-finally-together/" target="_blank">BAYCAT</a></li>
			<li><a title="Action in Africa" href="http://www.modifywatches.com/blog/action-in-africa/" target="_blank">Action in Africa</a></li>
			<li><a title="YSC" href="http://www.modifywatches.com/blog/young-survival-coalition/" target="_blank">Young Survival Coalition</a></li>
		</ul>
		<p>We also love donating product for silent auctions. It’s a fun and unique gift that can help raise money for causes that are important to you. </p>
    </div>
    <div class="fourcol last">
      <div class="sidebar">
        <h4 class="headerText">Make an Impact</h4>
        <ul class="community">
          <li style="padding:0px;">
            <p>We're pretty big supporters of our community. Ashil is a driving force on the board of Wonderroot and in the Atlanta community; Aaron is on the Board of Larkin Street Youth Services in SF; and the rest of the team is pre-tty active too.</p>
            <p>Modify does not have a stated policy for non-profits, we just want to help the community. We've found that our watches are pretty great for fundraisers. So, let us know your cause and we'll be there to help. To the left is a list of a few of the organizations we're proud to have supported.</p>
            <p>If you have a non-profit fundraiser and would like a watch for an auction, please email <a target="_BLANK" href="mailto:nonprofit@modifywatches.com">nonprofit@modifywatches.com</a></p>
          </li>
		</ul>
      </div>
      <br class="Clear" />
    </div>
  </div>
