	<div class="row">
		<div class="eightcol">
			<h2 class="headerText orange caps">What are Modify Watches?</h2>
			<div>
				<div style="width:100%;height:225px;background-color:#e6e7e8;">
					<img src="templates/Modify/images/default/about/modoverview.jpg" />
				</div>
			</div>
			
			<p class="pnine">Modify Watches are super-dope, interchangeable watches. You can mix-and-match faces and straps to create the "Mod" that allows you to make your statement, whether (quiet) or LOUD.</p>
			<p class="pnine">We have a thriving <a href="http://www.facebook.com/ModifyWatches" target="_BLANK">Facebook community</a>. Our ModiFamily does not just "like" us; they engage and tell us what designs to produce next. We won't stop creating Modify Watches until you complete <i>you</i>r collection. Even if that means you really want a green/purple/orange watch. Which might be the only objectively <a href="templates/Modify/images/default/seanswatch.jpg" target="_BLANK">ugly color combination</a>.</p>
			<p class="pnine">Holler at us:</p>
			<p class="pnine">Aaron Schwartz, Director of Player Personnel
			<br/><a href="mailto:holler@modifywatches.com">holler@modifywatches.com</a>
			</p>
		</div>
		
		<div class="fourcol last">
			<div class="sidebar">
				<h4 class="headerText">Watches + Jokes = Magic</h4>
				<p>
					Despite having, like, a million color combinations, we name them all. So click on some watches and get caught up with pop culture, movie references and old-timey "facts".
				</p>
				
				<ul class="peight">
					<li>The Bar Fight</li>
					<li>Goldie (c)locks</li>
					<li>1999</li>
					<li>The McQueen</li>
					<li>Ecto Cooler</li>
					<li>The Newspaper</li>
					<li>EskiModify</li>
					<li>Sasqwatch</li>
					<li>NBA Draft Suit</li>
					<li>Pistachio Mustachio</li>
				</ul>
			</div>
		</div>
		<br class="Clear" />
	</div>
	<div class="row">
		<div class="twelvecol last">
			<h4 class="headerText orange">How We Started</h4>
			<img class="FloatRight" style="height:270px;margin-left:40px;" src="templates/Modify/images/default/agary.jpg" alt="Aaron Schwartz and Gary Coover showing off the first generation of Modify Watches" />
			<p class="pnine">Two of us began talking about watches waaaay back in April, 2010 and finally launched 3 months later after an incredibly difficult and daring journey. We were The Swap Watch. Now a big team expansion and 1,000 watch names later, we're known as Modify Industries, Inc. But you can call us Modify Watches. Or Modify. Or Shirley!</p>

			<p class="pnine">We have two core principles that impact everything we do:</p>
			<ol class="pnine">
				<li>We do not want your purchase to be another transaction, we want it to be the start of a relationship. We expect you to tell us what to do better, and you should expect an awesome product with even better service</li>
				<li>We're pretty good at watch design; but we are even better at listening. Fans told us to make the watch water-resistant and to add a second size - so we did. If you check out our <a href="http://www.facebook.com/modifywatches">Facebook page</a> you’ll quickly learn that they’ve told us every design to create as well.</p></li>
			</ol>
		</div>
		<!--<div class="fivecol last">
			<h4 class="headerText orange">Why Watches</h4>
			<p>The company name is Modify Industries, Inc. We started with watches because everyone can wear them and they allow you to tell your story. Other Modify products are coming in 2013. Get excited.</p>
		</div>-->
		<br class="Clear" />
	</div>
