	<div class="row">
		<div class="eightcol">
			<h2 class="headerText orange caps">Press</h2>
			<div>
				<div style="width:100%;height:225px;background-color:#e6e7e8;">
					<img src="templates/Modify/images/default/about/press.jpg" />
				</div>
			</div>
			
			<div class="pressGrid">
				<div class="pressRow">
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.forbes.com/sites/theyec/2012/01/26/3-keys-to-startup-success-hustle-follow-through-and-curiosity/">
							<img src="templates/Modify/images/default/press/forbes.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<img src="templates/Modify/images/default/press/today.jpg" />
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://boss.blogs.nytimes.com/2012/01/05/turning-facebook-followers-into-online-focus-groups/">
							<img src="templates/Modify/images/default/press/newyorktimes.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.luckymag.com/blogs/luckyrightnow/2012/10/DOTD-Modify-Watches-40-Off-Sitewide">
							<img src="templates/Modify/images/default/press/lucky.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.bravotv.com/start-ups-silicon-valley">
							<img src="templates/Modify/images/default/press/bravo.jpg" />
						</a>
					</div>
					<br class="Clear" />
				</div>
				<div class="pressRow">
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.accessoriesmagazine.com/54262/item-of-the-day-561">
							<img src="templates/Modify/images/default/press/accessories.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://shopping.aol.com/articles/2011/12/26/2011-best-products-roundup">
							<img src="templates/Modify/images/default/press/aol.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.bostonherald.com/entertainment/fashion/view.bg?articleid=1061157564&srvc=rss&utm_source=feedburner&utm_medium=feed&">
							<img src="templates/Modify/images/default/press/herald.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://kroq.cbslocal.com/2012/10/03/deadmau5-launches-signature-glow-in-the-dark-watch/">
							<img src="templates/Modify/images/default/press/kroq.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://dailycandy.com/everywhere/flipbook/137525/Political-Gifts#slide=20">
							<img src="templates/Modify/images/default/press/dailycandy.jpg" />
						</a>
					</div>
					<br class="Clear" />
				</div>
				<div class="pressRow">
					<div class="pressSquare">
						<a target="_BLANK" href="http://espn.go.com/action/bmx/blog/_/post/6757081/dylan-sparkman-bay-area-streets">
							<img src="templates/Modify/images/default/press/espn.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.examiner.com/article/be-patriotically-fashionable-modify-watches">
							<img src="templates/Modify/images/default/press/examiner.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<img src="templates/Modify/images/default/press/goog.jpg" />
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://abcnews.go.com/Business/exclusive-deals-steals-jewelry-travel-home-items-time/story?id=15158758&page=3">
							<img src="templates/Modify/images/default/press/goodmorningamerica.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.menshealth.com/style/watches-brights">
							<img src="templates/Modify/images/default/press/menshealth.jpg" />
						</a>
					</div>
					<br class="Clear" />
				</div>
				<div class="pressRow">
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.miamiherald.com/2012/09/17/3005322/hot-stuff-celebrities-love.html">
							<img src="templates/Modify/images/default/press/miamiherald.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://wonderwall.msn.com/movies/week-in-photos-for-oct-26-2012-22223.gallery?photoId=97574">
							<img src="templates/Modify/images/default/press/msn.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.openforum.com/videos/modify-watches/">
							<img src="templates/Modify/images/default/press/msnbc.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.newsday.com/columnists/breast-cancer-awareness-shop-for-a-cure-1.4037448#1">
							<img src="templates/Modify/images/default/press/newsday.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.nypost.com/p/entertainment/fashion/election_fashion_CxqoKsr4QBf2FETnUSg3GI?photo_num=4">
							<img src="templates/Modify/images/default/press/nypost.jpg" />
						</a>
					</div>
					<br class="Clear" />
				</div>
				<div class="pressRow">
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.rachaelrayshow.com/club/giveaways/modify-watch/">
							<img src="templates/Modify/images/default/press/rachaelray.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<img src="templates/Modify/images/default/press/redbook.jpg" />
					</div>
					<div class="pressSquare">
						<img src="templates/Modify/images/default/press/sfchronicle.jpg" />
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://dailycandy.com/everywhere/flipbook/137525/Political-Gifts#slide=20">
							<img src="templates/Modify/images/default/press/seventeen.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.sfexaminer.com/local/3-minute-interview/2012/05/3-minute-interview-aaron-schwartz">
							<img src="templates/Modify/images/default/press/theexaminer.jpg" />
						</a>
					</div>
					<br class="Clear" />
				</div>
				<div class="pressRow">
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.spin.com/blogs/deadmau5-luminous-limited-edition-watch">
							<img src="templates/Modify/images/default/press/spin.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://5thandbeverly.tumblr.com/post/35352178209/modify-watches-star-magazine">
							<img src="templates/Modify/images/default/press/star.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://techcrunch.com/2012/02/01/the-new-android-watch-in-the-google-store-isnt-what-you-think/">
							<img src="templates/Modify/images/default/press/techcrunch.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<img src="templates/Modify/images/default/press/source.jpg" />
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.thrillist.com/style/san-francisco/giants-watches-from-modify_watches">
							<img src="templates/Modify/images/default/press/thrillist.jpg" />
						</a>
					</div>
					<br class="Clear" />
				</div>
				<div class="pressRow">
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.usatoday.com/video/10-back-for-gold-kristin-armstrong/1739856428001">
							<img src="templates/Modify/images/default/press/usatoday.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.usmagazine.com/celebrity-news/news/cullen-jones-plays-tennis-with-kids-at-the-us-open-201259">
							<img src="templates/Modify/images/default/press/usweekly.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://instagram.com/p/OooPktED28/">
							<img src="templates/Modify/images/default/press/vanityfair.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://bplan.berkeley.edu/Learn/finalists_2012.html">
							<img src="templates/Modify/images/default/press/berkeley.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.zazzle.com/challenge">
							<img src="templates/Modify/images/default/press/zazzle.jpg" />
						</a>
					</div>
					<br class="Clear" />
				</div>
				<div class="pressRow">
					<div class="pressSquare">
						<img src="templates/Modify/images/default/press/empact.jpg" />
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.getthefive.com/articles/the-idealist/the-five-scoop-interchangeable-modify-watches-are/">
							<img src="templates/Modify/images/default/press/5.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.s.co/content/todays-featured-startup-modify-watches">
							<img src="templates/Modify/images/default/press/startupamerica.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://the-gadgeteer.com/2012/01/17/modify-watches-review/">
							<img src="templates/Modify/images/default/press/gadgeteer.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.edgenewyork.com/style/fashion/136571/rock_the_vote_with_modify_watches">
							<img src="templates/Modify/images/default/press/edge.jpg" />
						</a>
					</div>
					<br class="Clear" />
				</div>
				<div class="pressRow">
					<div class="pressSquare">
						<a target="_BLANK" href="http://www.theluxuryspot.com/loving-my-new-summer-watch/">
							<img src="templates/Modify/images/default/press/luxuryspot.jpg" />
						</a>
					</div>
					<div class="pressSquare">
						<a target="_BLANK" href="http://ideamensch.com/aaron-schwartz/">
							<img src="templates/Modify/images/default/press/ideamensch.jpg" />
						</a>
					</div>
					<br class="Clear" />
				</div>
			</div>
		</div>
		
		<div class="fourcol last">
			<div class="sidebar">
				<h4 class="headerText">People be Profilin'</h4>
				<p>
					BIG TIME doesn’t only describe our dope Mods… check out Modify in the news and on TV. Over the past few years we've been featured by some pretty incredible companies!
				</p>
				<p>
					For press inquiries, please contact:
				</p>
				<p>
					<img src="templates/Modify/images/default/efg.png" /><br />
					<b>EFG :: Entertainment Fusion Group</b>
				</p>
				<p>New York / Danielle Thur<br />dthur@efgpr.com / 646.336.6420</p>
				<p>Los Angeles / Taryn Owens<br/>towens@efgpr.com / 310.432.0020</p>
			</div>
		</div>
		<br class="Clear" />
	</div>
