  <div class="row">
    <div class="eightcol">
		<h2 class="headerText lblue caps">Retailers</h2>
		<div style="margin-bottom:20px;">
			<div style="width:100%;height:225px;background-color:#e6e7e8;">
				<img src="templates/Modify/images/default/about/retail.jpg" />
			</div>
		</div>
		<iframe width="720" height="420" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=211383393486458203843.0004ccaa0aeb78bcb5a89&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=33.860734,-100.44682&amp;spn=16.202059,43.968195&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?msa=0&amp;msid=211383393486458203843.0004ccaa0aeb78bcb5a89&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=33.860734,-100.44682&amp;spn=16.202059,43.968195&amp;source=embed" style="color:#0000FF;text-align:left">Modify Retail Partners</a> in a larger map</small>
		<p>Interested in being a retailer? Email <a href="mailto:Sales@Modifywatches.com" target="_BLANK">sales@modifywatches.com</a></p>
    </div>
    <div class="fourcol last">
      <div class="sidebar">
        <h4 class="headerText">We're Expanding!</h4>
        <ul class="community">
          <li style="padding:0px;">
				<p>For the first two years we’ve been in business, our focus has been on delivering incredible service to our online customers (you!). </p>
				<p>In the summer of 2012 we finally felt comfortable that we could support our retail partners in the same way. This has been made easier thanks to our incredible luck in partnering with some amazing shops across the U.S. </p>
				<p>We’re expanding quickly. If you own a shop, or know of one in which you think we’d be a perfect fit, please email <a href="mailto:sales@modifywatches.com" target="_BLANK"><b>sales@modifywatches.com</b></a></p>
          </li>
        </ul>
      </div>
      <br class="Clear" />
    </div>
  </div>
