<div class="row">
	<div class="twelvecol last">
		<h1 class="headerText" style="margin-bottom: 15px;">Choose a Category. See Mods You Love. Party-Down.</h1>
		<p style="margin-top: 0px;margin-bottom: 30px;">With Modify, you show your colors. Sometimes that means wearing a Tetris watch (nerd alert); sometimes you just want to support your favorite team (touchdown play!). And sometimes you want to find sale items to complement the rest of your collection. Good day maam/sir and Happy Modding!</p>
	</div>
</div>

<div class="row">
	<div class="threecol">
		<div class="setTile">
			<a href="categories/Best%252dSellers/?action=browse"><img src="templates/Modify/images/default/sets/best-2.jpg" /></a>
			<a class="name" href="categories/Best-Sellers/?action=browse">Best Sellers</a>
		</div>
	</div>
	
	<div class="threecol">
		<div class="setTile">
			<a href="categories/New-Products/?action=browse"><img src="templates/Modify/images/default/sets/new-3.jpg" /></a>
			<a class="name" href="categories/New-Products/?action=browse">New Products</a>
		</div>
	</div>
	
	<div class="threecol">
		<div class="setTile">
			<a href="categories/Sale-Items/?action=browse"><img src="templates/Modify/images/default/sets/sale-1.jpg" /></a>
			<a class="name" href="categories/Spring-Clearance-Items/?action=browse">Sale</a>
		</div>
	</div>
	
	<div class="threecol last">
		<div class="setTile">
			<a href="categories/Non%252dProfit/%22Together%22-Non%252dProfit-Watch/?action=browse"><img src="templates/Modify/images/default/sets/together-2.jpg" /></a>
			<a class="name" href="categories/Non%252dProfit/%22Together%22-Non%252dProfit-Watch/?action=browse">Non-Profit</a>
		</div>
	</div>
	
</div>
<div class="row">
	<div class="threecol">
		<div class="setTile">
			<a href="categories/Animal-Prints/"><img src="templates/Modify/images/default/sets/animal.png" /></a>
			<a class="name" href="categories/Animal-Prints/">Animal Prints</a>
		</div>
	</div>
	
	<div class="threecol">
		<div class="setTile">
			<a href="categories/Brands-You-Love/MLB/?action=browse"><img src="templates/Modify/images/default/sets/mlbpa.jpg" /></a>
			<a class="name" href="categories/Brands-You-Love/MLB/?action=browse">Baseball</a>
		</div>
	</div>
	
	<div class="threecol">
		<div class="setTile">
			<a href="categories/Brands-You-Love/Deadmau5/?action=browse"><img src="templates/Modify/images/default/sets/deadmau5.jpg" /></a>
			<a class="name" href="categories/Brands-You-Love/Deadmau5/?action=browse">Deadmau5</a>
		</div>
	</div>
	
	<div class="threecol last">
		<div class="setTile">
			<a href="categories/Brands-You-Love/Domo/?action=browse"><img src="templates/Modify/images/default/sets/domo.jpg" /></a>
			<a class="name" href="categories/Brands-You-Love/Domo/?action=browse">Domo</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="threecol">
		<div class="setTile">
			<a href="categories/Glitter/?action=browse"><img src="templates/Modify/images/default/sets/glitter.jpg" /></a>
			<a class="name" href="categories/Glitter/?action=browse">Glitter</a>
		</div>
	</div>
	
	<div class="threecol">
		<div class="setTile">
			<a href="categories/Artist-Collaborations/Martin-Hsu/?action=browse"><img src="templates/Modify/images/default/sets/hsu.jpg" /></a>
			<a class="name" href="categories/Artist-Collaborations/Martin-Hsu/?action=browse">Martin Hsu</a>
		</div>
	</div>
	
	<div class="threecol">
		<div class="setTile">
			<a href="categories/Pattern/"><img src="templates/Modify/images/default/sets/pattern.jpg" /></a>
			<a class="name" href="categories/Pattern/">Patterns</a>
		</div>
	</div>
	
	<div class="threecol last">
		<div class="setTile">
			<a href="categories/Polka-Dots/"><img src="templates/Modify/images/default/sets/polka.jpg" /></a>
			<a class="name" href="categories/Polka-Dots/">Polka Dots</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="threecol">
		<div class="setTile">
			<a href="categories/Spring-2013-Collection/"><img src="templates/Modify/images/default/sets/spring.jpg" /></a>
			<a class="name" href="categories/Spring-2013-Collection/">Spring 2013</a>
		</div>
	</div>
	
	<div class="threecol">
		<div class="setTile">
			<a href="categories/Summer-2013-Collection/"><img src="templates/Modify/images/default/sets/summer.jpg" /></a>
			<a class="name" href="categories/Summer-2013-Collection/">Summer 2013</a>
		</div>
	</div>
	
	<div class="threecol">
		<div class="setTile">
			<a href="categories/Brands-You-Love/TETRIS™?action=browse"><img src="templates/Modify/images/default/sets/tetris.jpg" /></a>
			<a class="name" href="categories/Brands-You-Love/TETRIS™?action=browse">TETRIS™</a>
		</div>
	</div>
	
	<div class="threecol last">
		<div class="setTile">
			<a href="categories/Community-Voted/USA?action=browse"><img src="templates/Modify/images/default/sets/usa.jpg" /></a>
			<a class="name" href="categories/Community-Voted/USA?action=browse">USA</a>
		</div>
	</div>

</div>

