	<div class="gradBG nav container">
		<div class="subNav row">
			<div class="eightcol last">
				<ul style="margin-right:60px;">
					<li class="%%GLOBAL_CreateActive%%">
						<a href="%%GLOBAL_ShopPath%%/categories?a=build">Build</a>
					</li>
					<li class="%%GLOBAL_BrowseActive%%">
						<a href="%%GLOBAL_ShopPath%%/sets.php">Browse</a>
					</li>
					<li class="%%GLOBAL_CertsActive%%">
						<a href="%%GLOBAL_ShopPath%%/giftcertificates.php">Gift Certificates</a>
					</li>
					<li class="%%GLOBAL_MOTMCActive%%">
						<a href="%%GLOBAL_ShopPath%%/watch-of-the-month.php">Mod of the Month Club</a>
					</li>
				</ul>
			</div>
			<br class="Clear" />
		</div>
	</div>
	
