<script type="text/javascript">
	$(function() {
		$(".member").hover(function() {
			var hover = $(this).find('img.photo').attr('data-hover');
			$(this).find('img.photo').attr('data-hover', $(this).find('img.photo').attr('src')).attr('src', hover);
		}, function() {
			var hover = $(this).find('img.photo').attr('data-hover');
			$(this).find('img.photo').attr('data-hover', $(this).find('img.photo').attr('src')).attr('src', hover);
		});
	});
</script>
  <div class="row">
    <div class="eightcol">
	  <h2 class="headerText lblue caps">Who We Are</h2>
      <div class="featFamily team">
		<div class="member">
          <div class="images">
            <img class="photo" src="templates/Modify/images/default/team/aaronkid.jpg" data-hover="templates/Modify/images/default/team/aaronadult.jpg" />
            <img src="templates/Modify/images/default/team/barfight.jpg" />
          </div>
          <div>
            <span class="headerText">Aaron Schwartz<br />Director of Player Personnel</span>
            From: <b>The Cleve</b> <br />
            Fav Mod: <b>The McQueen</b> <br />
            Fav Movie: <b>Indiana Jones and the Last Crusade, Die Hard, Lethal Weapon, Major League</b><br/>
          </div>
        </div>
        <div class="member">
          <div class="images">
            <img class="photo" src="templates/Modify/images/default/team/ashilkid.jpg" data-hover="templates/Modify/images/default/team/ashiladult.jpg" />
            <img src="templates/Modify/images/default/team/ashil.jpg" />
          </div>
          <div>
            <span class="headerText">Ashil Parag<br/><a href="http://www.hulu.com/watch/113219" target="_BLANK">Creative Guy</a></span>
            From: <b>Resident of Earth, Atlanta, GA</b> <br />
            Fav Mod: <b>Flock Together</b> <br />
            Fav Movie: <b>The Big Lebowski</b><br/>
          </div>
        </div>
        <div class="member last">
          <div class="images">
            <img class="photo" src="templates/Modify/images/default/team/ayokid.jpg" data-hover="templates/Modify/images/default/team/ayoadult.jpg" />
            <img src="templates/Modify/images/default/team/dudebug.jpg" />
          </div>
          <div>
            <span class="headerText">Ayo Oluwole<br/><a href="http://www.youtube.com/watch?v=QENfsjW-rM8" target="_BLANK">Office Running Back</a></span>
            From: <b>Nigeria (Ile-Ife to be specific)</b> <br />
            Fav Mod: <b>Dood bug</b> <br />
            Fav Movie: <b>Diary of a Mad Black Woman, Madea Goes to Jail or Big Momma's: Like Father, Like Son</b><br/>
          </div>
        </div>
       <br class="Clear" />
      </div>
      <div class="featFamily team">
		<div class="member">
          <div class="images">
            <img class="photo" src="templates/Modify/images/default/team/seankid.jpg" data-hover="templates/Modify/images/default/team/seanadult.jpg" />
            <img src="templates/Modify/images/default/team/sean.jpg" />
          </div>
          <div>
            <span class="headerText">Sean Linehan<br/>Practitioner of Web Wizardry</span>
            From: <b>Southern California</b> <br />
            Fav Mod: <b>Thriller</b> <br />
            Fav Movie: <b>Fight Club</b><br/>
          </div>
        </div>
        <div class="member">
          <div class="images">
            <img class="photo" src="templates/Modify/images/default/team/michellekid.jpg" data-hover="templates/Modify/images/default/team/michelleadult.jpg" />
            <img src="templates/Modify/images/default/team/michelle.jpg" />
          </div>
          <div>
            <span class="headerText">Michelle Mitchell<br/>Dog Lover Extraordinaire</span>
            From: <b>West Grove, PA</b> <br />
            Fav Mod: <b>Salmon of Capistrano</b> <br />
            Fav Movie: <b>Super Troopers</b><br/>
          </div>
        </div>
        <div class="member last">
          <div class="images">
            <img class="photo" src="templates/Modify/images/default/team/devinkid.jpg" data-hover="templates/Modify/images/default/team/devinadult.jpg" />
            <img src="templates/Modify/images/default/team/devin.jpg" />
          </div>
          <div>
            <span class="headerText">Devin Hexner<br/>Tiger, Tiger Woods Y'all</span>
            From: <b>San Francisco, CA</b> <br />
            Fav Mod: <b>School Bus</b> <br />
            Fav Movie: <b>The Prestige (and yes, the rest of the team judges him on this choice)</b><br/>
          </div>
        </div>
        <br class="Clear" />
      </div>
      <div class="featFamily">
		<div class="member">
          <div class="images">
            <img class="photo" src="templates/Modify/images/default/team/vlamiskid.jpg" data-hover="templates/Modify/images/default/team/vlamisadult.jpg" />
            <img src="templates/Modify/images/default/team/vlamis.jpg" />
          </div>
          <div>
            <span class="headerText">Michael Vlamis<br/>America's Next Big Thing</span>
            From: <b>Chicago, IL</b> <br />
            Fav Mod: <b>Route 66</b> <br />
            Fav Movie: <b>Pulp Fiction</b><br/>
          </div>
        </div>
        <div class="member">
          <div class="images">
            <img class="photo" src="templates/Modify/images/default/team/dougkid.jpg" data-hover="templates/Modify/images/default/team/dougadult.jpg" />
            <img src="templates/Modify/images/default/team/doug.jpg" />
          </div>
          <div>
            <span class="headerText">Doug Bend<br/>Máquina De La Ley</span>
            From: <b>San Francisco, Ca</b> <br />
            Fav Mod: <b>Golden Girls</b> <br />
            Fav Movie: <b>Big</b><br/>
          </div>
        </div>
        <div class="member last">
          <div class="images">
            <img class="photo" src="templates/Modify/images/default/team/coovkid.jpg" data-hover="templates/Modify/images/default/team/coovadult.jpg" />
            <img src="templates/Modify/images/default/team/coov.jpg" />
          </div>
          <div>
            <span class="headerText">Gary Coover<br/>Sorcerer Strategist</span>
            From: <b>San Francisco, CA</b> <br />
            Fav Mod: <b>Golden Girls</b> <br />
            Fav Movie: <b>Ace Ventura</b><br/>
          </div>
        </div>
        <br class="Clear" />
      </div>
    </div>
    
    <div class="fourcol last">
      <div class="sidebar">
        <h4 class="headerText">Your Faithful Team</h4>
        <p>
			We come from all walks of life. We ran graphic design studios, hung out with NBA players, read (and read) lots of books. We’re from Nigeria, The Cleve, the ATL and San Bernadino. We also like to package your orders for you and show off our chicken-scratch handwriting
        </p>
        
        <div class="instaFeed">
          <span class="headerText lblue" style="font-size:1.2em;">Photos From the Modify Team</span><br />
          <p>Via our instagram feed @ModifyWatches.</p>
          <iframe src="http://snapwidget.com/in/?u=bW9kaWZ5d2F0Y2hlc3xpbnwxMDB8M3wyfHx5ZXN8M3xub25l" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:339px; height: 226px" ></iframe>
        </div>
      </div>
    </div>
    <br class="Clear" />
  </div>
