	<div class="row left">
		<div class="twelvecol col">
			<h2 class="headerText orange caps %%GLOBAL_CenterIt%%">All About Modify Watches</h2>
			<div class="feature">
				<img src="templates/Modify/images/default/mod/themod.jpg" />
				<div>
					<h4>Get Excited</h4>
					<ul style="font-size:0.8em;padding-left:20px;margin:0;">
						<li>2 Sizes</li>
						<li>Water-resistant (3ATM, so you can go swimming!)</li>
						<li>1,000+ Combinations</li>
						<li>Interchangeable faces, straps and sliders</li>
						<li>Branded products from Deadmau5 to Tetris</li>
						<li>It slices, it dices...</li>
					</ul>
				</div>
			</div>
			<div class="feature">
				<div>
					<h4>Mix-and-Match to Show Your Colors</h4>
					<p>As you build your collection, each new face and strap allow you to show your colors in new (and awesome) ways.</p>
				</div>
				<img src="templates/Modify/images/default/mod/multismall.jpg" />
			</div>
			<div class="feature">
				<img src="templates/Modify/images/default/mod/materialsmall.jpg" />
				<div>
					<h4>The Best in the Business</h4>
					<p>Around since 2010, we're the (cool) grandpa of interchangeable watches. With our proprietary molds you know that if it's not branded "Modify", it isn't incredibly dope.</p>
				</div>
			</div>
			<div class="feature">
				<div>
					<h4>Movie References Are Hi-larious</h4>
					<p>We originally launched with 25 combinations and named them all. For example, "The Bar Fight" was the black-and-blue. Our <a href="http://www.facebook.com/modifywatches" target="_BLANK">fans</a> have taken over. What's your favorite?</p>
				</div>
				<img src="templates/Modify/images/default/mod/namessmall.jpg" />
			</div>
			<div class="feature">
				<img src="templates/Modify/images/default/mod/watersmall.jpg" />
				<div>
					<h4>Go Ahead, Jump in the Pool</h4>
					<p>Modify's proprietary design is water-resistant to 3ATM. Go for a swim or take a shower in style. We don't recommend deep-sea abalone diving. We're more slip-'n-slide folks.</p>
				</div>
			</div>
			<div class="feature">
				<div>
					<h4>Making an Impact</h4>
					<p>We like to help our community, but are conscious of doing it in a meaningful way. Every month we donate all of our proceeds from the sale of the Together watch to a non-profit our fans select. <a href="http://dev.modifywatches.com/about.php?a=nonprofit" target="_BLANK">Learn more here.</a></p>
				</div>
				<img src="templates/Modify/images/default/mod/nonprofitsmall.jpg" />
			</div>
			<div class="feature">
				<img src="templates/Modify/images/default/mod/b2bsmall.jpg" />
				<div>
					<h4>Custom Mods for Your Team and Fans</h4>
					<p>We've done custom work for some pre-tty big brands and would love to design unique Modify Watches for you too. Email <a href="mailto:custom@modifywatches.com" target="_BLANK">custom@modifywatches.com</a>. We're a very happy member of ASI (#71962)!</p>
				</div>
			</div>
			<div class="feature">
				<div>
					<h4>Something for Every Man, Woman and Child</h4>
					<p>Seriously. We have a *lot* of combinations. Your favorite team's <a href="http://dev.modifywatches.com/categories/Brands-You-Love/MLB/?action=browse">colors</a>. Underground (read: nerdy) designs like <a href="http://dev.modifywatches.com/categories/Brands-You-Love/Domo/?action=browse">Domo</a> and <a href="http://dev.modifywatches.com/categories/Brands-You-Love/Tetris?action=browse">Tetris</a>. And of course dope artists like <a href="http://dev.modifywatches.com/categories/Artist-Collaborations/Martin-Hsu/?action=browse">Martin Hsu</a>. With Modify, you can tell <i>your</i> story. Get excited.</p>
				</div>
				<img src="templates/Modify/images/default/mod/unisex.jpg" />
			</div>
		</div>
		<br class="Clear" />
	</div>
