							<figure class="product %%GLOBAL_AlternateClass%%">
								%%GLOBAL_ProductThumb%%
								<a href="%%GLOBAL_ProductLink%%" class="%%GLOBAL_SearchTrackClass%%">
									<figcaption>
										%%GLOBAL_ProductName%%<br/>
										<span>%%GLOBAL_ProductPrice%%</span><br/>
										<span class="Rating Rating%%GLOBAL_ProductRating%%"><img src="%%GLOBAL_IMG_PATH%%/IcoRating%%GLOBAL_ProductRating%%.gif" alt="" style="%%GLOBAL_HideProductRating%%" /></span>
									</figcaption>
								</a>
								<div class="ProductCompareButton" style="display:%%GLOBAL_HideCompareItems%%">
									<input type="checkbox" class="CheckBox" name="compare_product_ids" id="compare_%%GLOBAL_ProductId%%" value="%%GLOBAL_ProductId%%" onclick="product_comparison_box_changed(this.checked)" /> <label for="compare_%%GLOBAL_ProductId%%">%%LNG_Compare%%</label> <br />
								</div>
								<div class="ProductActionAdd" style="display:%%GLOBAL_HideActionAdd%%;">
									<a href="%%GLOBAL_ProductURL%%">%%GLOBAL_ProductAddText%%</a>
								</div>
							</figure>
