<div id="refBody">
	<span class="smHead">Sharing Methods</span>
	<div id="refTable">
		<div class="refRow">
            <div id="refTabCode" class="refCell left">
                <span>Your Referral Code: <span>%%GLOBAL_refcode%%</span></span><br/>
                <i>(Your friend will enter this at checkout)</i>
            </div>
            <div id="refTabURL" class="refCell">
                <span class="b">Your Sharing URL:</span><br />
                <input type="text" readonly value="http://dev.modifywatches.com/?ref=%%GLOBAL_refcode%%" /><br/>
                <i>(Share this on your networks, e-mail signature, website, etc.)</i>
            </div>
        </div>
       	<div class="refRow">
            <div id="refTabFB" class="refCell left below">
                <span class="b">Facebook:</span><br/>
                <div id="refFB" onclick="window.open('http://www.facebook.com/dialog/feed?app_id=363605833701862&link=http://dev.modifywatches.com/?ref=%%GLOBAL_refcode%%&redirect_uri=http://dev.modifywatches.com/&display=popup','share_window','width=500,height=300,top=100,left=400');"><span class="refSB">Share Your URL</span></div>
            </div>
            <div id="refTabTW" class="refCell below">
                <span class="b">Twitter:</span><br/>
                <div id="refTW" onclick="window.open('http://twitter.com/share?text=Check out these dope watches!&url=http://dev.modifywatches.com?ref=%%GLOBAL_refcode%%','share_window','width=500,height=300,top=100,left=400');"><span class="refSB">Share Your URL</span></div>
            </div>
        </div>
    </div>
</div>