<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<body>
	<div id="Checkout" style="clear:both;">
		<div id="checkHead">
			<a href="%%GLOBAL_ShopPath%%/cart.php"><img src="templates/Modify/images/default/blogo.png" alt="Modify Watches" /></a>
			<div id="checkProg">
				<ul>
					<li class="a">
						<span>1.</span>
						<div>Checkout<br/>Type</div>
						<br class="Clear" />
					</li>
					<li>
						<span>2.</span>
						<div>Billing<br/>Address</div>
						<br class="Clear" />
					</li>
					<li>
						<span>3.</span>
						<div>Shipping<br/>Address</div>
						<br class="Clear" />
					</li>
					<li>
						<span>4.</span>
						<div>Confirm<br/>Order</div>
						<br class="Clear" />
					</li>
					<li>
						<span>5.</span>
						<div>Payment<br/>Details</div>
						<br class="Clear" />
					</li>
				</ul>
			</div>
			<br class="Clear" />
		</div>
		<div id="checkBody">
			%%Panel.CreateAccountFormCheckout%%
			
			<div class="bottom">
				If you have any problems during checkout, please e-mail us at <a href="mailto:help@modifywatches.com">help@modifywatches.com</a> :)
			</div>
		</div><!-- End checkBody -->
	</div><!-- End Checkout -->
</body>
</html>
