<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<style type="text/css">
		.photo-container {
			width:500px;
			float:left;	
		}
		#photoController {
			background-color:white;
			padding:2px 5px;
			width:123px;
			float:left;	
			line-height:35px;
			border-left:1px solid #e2e2e2;
		}
		
		#photoController .addthis_toolbox a {
			width:113px;
			border-bottom:1px solid #f2f2f2;
			padding: 7px 0;
		}
	</style>
	<script type="text/javascript" src="https://www.modifywatches.com/javascript/jquery.js?51442"></script>
	<script type="text/javascript" src="/javascript/jquery/plugins/phototagger.js?ver=1.0"></script>
    <script type="text/javascript">
		$(function(){
 
			// Set up the photo tagger.
			$( "div.photo-container" ).photoTagger({
				
				// The API urls.
				loadURL: "https://www.modifywatches.com/remote.php?w=getphotowallltags",
				saveURL: "./save_Tag.cfm",
				deleteURL: "./delete_tag.cfm",
 
				cleanAJAXResponse: function( apiAction, response ){
					if (apiAction == "load"){
						return response;
					}
 
					// Return cleaned response.
					return( response );
				}
			});
 
		});
	</script>
    <script type="text/javascript" src="https://www.modifywatches.com/index.php?action=tracking_script"></script>
    <!-- <script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script> -->
</head>
<body>
<div id="Container" class="fullWidth" style="clear:both;">
	<div class="photo-container">
	    <img src="%%GLOBAL_ImageURL%%" alt="%%GLOBAL_ImageDescription%%" id="photo%%GLOBAL_ImageId%%" />
    </div>
	<div id="photoController">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a><br />
        <a class="addthis_button_tweet"></a><br />
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a><br />
        <a class="addthis_button_pinterest" pi:pinit:url="https://www.modifywatches.com/photowall.php?id=%%GLOBAL_ImageId%%" pi:pinit:media="%%GLOBAL_ImageURL%%" pi:pinit:layout="horizontal"></a><br />
        </div>
        <script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e90ce187ba738eb"></script>
        <!-- AddThis Button END -->
    </div>
</div>
</body>
</html>