<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<body>

<div id="headerContainer">
	%%Panel.Header%%
</div>
<div id="Container" style="clear:both;">
	<b>Online Privacy Policy Statement</b>
 
    <p>
    <b>Information Collected</b><br />
    We take the security and privacy of your personal information very seriously and only collect information you voluntarily provide us.  Categories of personally identifiable information include your name and e-mail address if you request to be added to our newsletter or your name, e-mail address, and billing address if you place an order.  We use Google Checkout and Braintree Payments to process orders and do not have access to your credit card information.
    </p>
     
    <p>
    <b>Information We Share With Third Parties</b><br /> 
    We know you are very concerned about the security of your personal information and do not share this information with unrelated third parties.  We only share your information with Google Checkout or Braintree Payment Processor if you place an order or if required by law or legal process.
    </p>
    
    <p>
    <b>Reviewing and Correcting Information</b><br />
    Upon request, we will provide you with your customer information (e.g., customer name and billing address) or transaction information (e.g., dates on which customers made purchases, amounts and types of purchases). You can access your information by contacting us at aaron@modifywatches.com.  Please also contact us if you would no longer like to receive our newsletter or to update your e-mail address.
    </p>
     
    <p>
    <b>Privacy Policy Changes</b><br />
    As we offer new content and services we may modify our privacy policy. If there is a material change to our information collection and use policies, we will update this privacy statement.
    </p>
    
     <p>
    <b>Contact Us</b><br />
    We value your privacy and take all reasonably necessary steps to protect your information. If you have any questions or concerns about our privacy practices, please do not hesitate to contact us at aaron@modifywatches.com.
    </p>
     
    Updated: January 2012

</div>

	%%Panel.Footer%%
</body>
</html>