<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<body>
	%%Panel.Header%%

	<div id="container">
			<div style="display:none;" class="Left" id="LayoutColumn1">
				%%Panel.SideCategoryList%%
				%%Panel.SideCurrencySelector%%
				%%Panel.SideProductAddToWishList%%
				%%Panel.SideProductRelated%%
				%%Panel.SideProductRecentlyViewed%%
				%%Panel.SideNewProducts%%
				%%Panel.SideNewsletterBox%%
				%%Panel.SideLiveChatServices%%
			</div>

			%%Panel.ProductTopBar%%
			<div id="main" role="main" class="fncysans wShad">
				%%Panel.ProductDetails%%
			</div>
			
			%%Panel.ProductTabs%%
			%%Panel.ProductDescription%%
			%%Panel.ProductVideos%%
			%%Panel.ProductWarranty%%
			%%Panel.ProductOtherDetails%%
			%%Panel.SimilarProductsByTag%%
			%%Panel.ProductByCategory%%
			%%Panel.ProductVendorsOtherProducts%%
			%%Panel.SimilarProductsByCustomerViews%%

			<br class="Clear" />
		</div>
		
		%%Panel.Footer%%
	</div>
	
	<script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/product.functions.js?%%GLOBAL_JSCacheToken%%"></script>
	<script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/product.js?%%GLOBAL_JSCacheToken%%"></script>
</body>
</html>
