/* Color: Blue */



body {
	background: #f9f9f9 repeat 0 0;
	color: #535353;
}


a {
	color: #1c69ff;
	font-weight: normal;
	text-decoration:none;
}

a:hover {
	color: #07599a;
}

h2 {
	color: #034285;
}

h3 {
	color: #034285;
}


#TopMenu li a, #TopMenu li div {
	border-left: 1px solid #208db5;
	color: #fff;
}

#TopMenu li div a {
	border-left: 0;
}

#TopMenu li a:hover {
	color: #fff;
}

#Menu li a {
	background: url('../../default/images/blue/PagesMenuBg.gif') 0 8px no-repeat;
	color: #fff;
}

#Menu li ul li a {
	background: #65b2cb;
}

#Menu li ul li a:hover {
	background-color: #075899;
	color: #fff;
}

#Menu li:hover a, #Menu li.over a{
	background-color: #65b2cb;
}

.fullWidth {
	width:95% !important;
	overflow:visible !important;	
}

/* Begin Photo Wall CSS */

.box {
	border:4px solid #FFF;
	-webkit-box-shadow: 0px 0px 4px 0px #616161; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow: 0px 0px 4px 0px #616161; /* FF3.5 - 3.6 */
	box-shadow: 0px 0px 4px 0px #616161; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */	
	margin:6px;
	cursor:pointer;
}

#wallViewer {
	background-color:rgba(0, 0, 0, .7);
	bottom:0;
	left:0;
	overflow:hidden;
	position:fixed;
	right:0;
	top:0;
	z-index:400;
	width:100%;
	height:100%;
	overflow-y:scroll;
	display:none;	
}

#wallViewerInner {
	width:635px;
	position:relative;
	margin-left:50%;
	left:-317px;
	margin-top:10px;	
	float:left;
}

#photoContent {
	width:500px;
	float:left;	
	display:none;
}

#photoController {
	background-color:white;
	padding:2px 5px;
	width:123px;
	float:left;	
	line-height:35px;
	border-left:1px solid #e2e2e2;
	display:none;
}

#photoController span {
	width:100%;
	float:right;
	font-weight:bold;
	cursor:pointer;
	text-align:right;	
}

#photoController .addthis_toolbox a {
	width:113px;
	border-bottom:1px solid #f2f2f2;
	padding: 7px 0;
}

#theatreDrop {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:#000;
	display:none;	
}

#theatreBase {
	width:90%;
	height:90%;
	top:5%;
	left:5%;
	background-color:#363636;
	overflow:hidden;
	position:relative;	
}

#theatrePhoto {
	float:left;	
}

#theatreSide {
	width:20%;
	max-width:240px;
	height:100%;
	float:right;
	background-color:#f2f2f2;
	padding:20%;
}

/* Begin Header CSS */

.hNot {
	margin-right:10px;	
}

.mAcc {
	margin-left:10px;	
}

#headerContainer {
	width:100%;
	background-image:url('../../modify/images/blue/headerbg.png');
	background-repeat:repeat-x;
}


#Logo h1 a {
	color: #fff;
}

.Navigation {
	position:relative;
	margin-left:115px;
	height:40px;
	width:450px;
	float:left;
}

.navButtonInactive {
	position:relative;
	margin-right:20px;
	height: 20px;
	padding:35px 5px 5px 5px;
	padding-bottom:5px;
	text-align:center;
	font-family: 'Ubuntu', sans-serif;
	float:left;
}

.navButtonInactive a {
	font-size:20px;
	color:#1870ff;	
	font-weight:400;
}

.navButtonActive {
	background-color:#6b6b6b;	
}

.navButtonActive a {
	color:#FFF !important;	
}

#rightSide {
	position:relative;
	float:right;
	margin-top:6px;
	height:58px;
	width:180px;	
}

#freeShippingBar {
	font-size:9pt;
	width:196px;
	color:#2D2D2D;
	float:right;
	padding:2px;
	background-color:#e7fe1e;
	height:16px;
	text-align:center;
	margin-bottom:5px;	
}

#shoppingCartContainer {
	width:180px;
	height:23px;
	background-image:url('../../modify/images/blue/carticon.png');
	background-repeat:no-repeat;
	background-position:right 3px;
	position:relative;
	float:right;
	cursor:pointer;
}

#shoppingCartContentText {
	margin-right:30px;
	font-size:16px;
	color:#2d2d2d;	
	top:2px;
	position:relative;
	text-align:right;
}

#SearchForm {
	color: #95bbd1;
}

#SearchForm label {
	color: #fff;
}

#SearchForm a {
	color: #b1ccdc;
}

#SearchForm a:hover {
	color: #fff;
}

/* End Header CSS */


#LayoutColumn2 {
	width:735px;
	margin-left:17px;
}

.ProductDefault {
	margin-left:0px !important;
}

#cartForm {
	float:left;
	width:710px;
}

#cartForm .CartContents {
	width:710px;	
	border-top:4px solid #6B6B6B;
	border-bottom:4px solid #6B6B6B;
}

.divSubtotal {
	text-align:right;
	border-bottom:4px solid #6b6b6b;
	padding:10px;
	background-color:#F5F5F5;
	line-height:30px;	
}

.divSubtotal a{
	color:#1870FF;
	float:left;
	font-size:16px;
	font-weight:bold;
	margin-top:2px;	
}

.CartItemIndividualPrice {
	font-size:16px;	
}

.cartContentHeaderText {
	width:710px;
	background-color:#f5f5f5;
	text-align:center;
	color:#000;
	padding:10px 0;
	font-size:18px;	
}

.cartSubHeader {
	font-size:11px;	
}

.divSubtotal .ProductPrice {
	font-size:24px;	
}

.ProceedToCheckout {
	float:right !important;
	text-align:center !important;
	background-color:#f5f5f5;
	padding:10px 0;
}

.checkoutSubHeader {
	width:100%;
	border-bottom:4px solid #6B6B6B;
	margin-bottom:15px;
	padding: 0 0 10px 0;
}

.checkoutMargins {
	margin:0 15px 10px;	
}

.CheckoutButton {
	margin-bottom:5px;	
}

#GoogleButtonDiv {
	margin-top:5px;	
}

.ProceedToCheckout .GoogleCheckout {
	float:none !important;	
}

/* WOTMC CSS */

#wotmcHeader {
	width:975px;
	height:220px;
	float:left;	
	overflow:hidden;
}

#wotmcCover {
	width:440px;
	height:164px;
	position:relative;
	float:left;
	top:-245px;
	margin:52px 0 0 472px;	
	background-image:url(../images/blue/wotmc/cover.jpg);
	z-index:20;
}



#wotmcContent .welcomeText {
	font-weight: 700;
	font-size:48px;
	text-align:center;
	width:975px;
	float:left;
	margin:30px 0;
}

#wotmcPrepay {
	margin: 0 0 30px !important;	
}

.wotmcText {
	width:974px;	
	height:90px;
	float:left;	
	font-size:16px;
}

.wotmcFeature {
	width:205px;
	float:left;
	margin-right:50px;	
	font-size:14px;
}

.wotmcFeatureHead {
	width:170px;
	background-image:url(../images/blue/wotmc/check.png);
	background-repeat:no-repeat;
	background-position:0 2px;
	padding-left:35px;
	color:#38abad;
	font-size:18px;
	font-weight:bold;
	float:left;
	margin-bottom:10px;
}

.wotmcFeatureContent {
	float:left;
	width:205px;	
}

.monthFeature, .monthFeatureContent {
	width:270px;
	margin-right: 80px; 	
}

.monthFeatureHead {
	width:195px;	
}

.wotmcJoin {
	-webkit-border-radius: 6px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
	-moz-border-radius: 6px; /* FF1-3.6 */
	border-radius: 6px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */	
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;	
	background-image:url(../images/blue/scanline.png);
	-webkit-box-shadow: 0px 2px  #d3d3d3; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow: 0px 2px 3px #d3d3d3; /* FF3.5 - 3.6 */
          box-shadow: 0px 2px 3px #d3d3d3; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
	background-color:#f2f2f2;
	height:125px;
	width:950px;
	padding-left:25px;
	font-size:44px;
	color:#535353;
	float:left;
	margin:30px 0;
}

.monthJoin {
	width:450px;
	margin:10px 0 70px 0;
}

.wotmcJoin .lefty {
	float:left;
	position:relative;
	top:-15px;
	text-align:center;
}

.lefty .saveText {
	font-size:19px;
	display:block;
	margin-top:5px;
	color:#00ABAD;	
}

.monthLeft .saveText {
	color:#535353;	
}

.righty:hover {
	background-position:0 -51px;
}

.monthRight:hover {
	background-position:0 -58px;
}

.monthRight:active {
	background-position:0 -116px;
}

.wotmcJoin .righty {
	width: 220px;
	height: 51px;
	background-image: url('../images/blue/wotmc/join.png');
	background-repeat: no-repeat;
	position: relative;
	margin: 30px 40px 0;
	float:right;
}

.wotmcJoin .monthRight {
	width: 193px;
	height: 58px;
	background-image: url('../images/blue/wotmc/addtocart.png');
	background-repeat: no-repeat;
	position: relative;
	margin: 30px 40px 0;
	float:right;
}

.monthJoinHeader {
	width:465px;
	font-size:36px;
	text-align:center;
	float:left;	
	margin-top:40px;
}

.belowRighty {
	float:right;
	margin:5px 70px 0 0;
	font-size:20px;	
}

.numberText {
	font-family: 'Lobster', cursive;
	color:#00abad;
	font-size:80px;	
	position:relative;
	top:15px;
}

.oldPrice {
	color:#f50000;
	text-decoration:line-through;
	font-size:45px;
	top:5px;	
}

.monthLeft .numberText {
	font-size:72px;
}

.wotmcMoreInfo {
	color:#535353;
	float:left;
}

.wotmcImage {
	float:left;
	width:182px;
	margin-right:70px;
	background-color:#f2f2f2;
	-webkit-box-shadow: 0px 2px  #d3d3d3; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow: 0px 2px 3px #d3d3d3; /* FF3.5 - 3.6 */
          box-shadow: 0px 2px 3px #d3d3d3; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
	background-color:#f2f2f2;
	font-size:18px;
	margin-bottom:57px;
	margin-top:14px;
	text-align:center;
	padding:9px;
	line-height:35px;
}

.wotmcMoreFeature {
	font-size:16px;
	border-bottom:1px solid #f2f2f2;
	height:160px;
	float:right;
	width:700px;
	line-height:30px;
	margin-bottom:45px;
	height:201px;
	padding-top:25px;
}

.wotmcMoreFeature .blueFont {
	color:#00abad;
	font-size:32px;
}

.wotmcMoreFeature img {
	display:inline;
	margin-right:10px;
}


/* End WOTMC */

/* GIFT CERTIFICATE CSS */
#giftcertificateside {
	position:absolute;
	top:220px;
	left:0px;	
	z-index:0;
}

#gcBody {
	background-image:url(../images/blue/giftcert/certificate.png);
	width:975px;
	height:479px;
	margin:20px 0;
}

#gcForm {
	width:375px;
	height:315px;
	float:left;
	margin: 160px 0 0 50px;	
}

#gcAmount {
	float:right;
	margin:20px 73px 0 0;	
	width:125px;
}

#AmountSelectVisible ul{
	margin:0;	
}

#gcBody ul li {
	list-style:none;	
	margin:0;
}

.gcPrice, .gcPrice2, .gcGreeting, .gcSignoff {
	color:#efefef;
	font-size:24px;
	font-weight:bold;
	cursor:pointer;	
	display:block;
	width:125px;
	background-color:#363636;
}

.gcGreeting, .gcSignoff {
	float:left;	
}

.gcSignoff {
	width:165px;	
}

#SaveCertificate {
	width: 200px;
	height:40px;
}

#SaveCertificate2 {
	float:right;
	margin-top:15px;
	width: 200px;
	height:28px;
	text-align:center;
	color:#FFF;
	font-weight:bold;
	padding-top:10px;
	background-color: #ffa30b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffa30b), to(#ff7500)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #ffa30b, #ff7500); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #ffa30b, #ff7500); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #ffa30b, #ff7500); /* IE10 */
	background-image:      -o-linear-gradient(top, #ffa30b, #ff7500); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #ffa30b, #ff7500);
	cursor:pointer;
	-webkit-border-radius: 5px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
	-moz-border-radius: 5px; /* FF1-3.6 */
	border-radius: 5px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

.selected_amount li, .selected_greeting li, .selected_signoff li {
	font-size:25px;
	font-weight:bold;
	color:#000;	
	cursor:pointer;
}

.selected_amount li:hover, .selected_greeting li:hover, .selected_signoff li:hover {
	background-color:#f5f5f5;	
}

#certificate_amount, #to_name, #from_name, .gcMessage {
	width:90px;
	border:none;
	background-color:#363636;
	color:#efefef;
	font-size:24px;
	font-weight:bold;
}

.gcMessage {
	width:375px;
	margin-top:15px;
	font-size:18px;
	height:130px;	
}

#to_name, #from_name {
	margin-left:15px;
	width:160px;	
}

.gcDrop {
	float:right;
	height:17px;
	display:block;
	position:relative;
	background-color:#929292;
	padding-top:12px;
	width:15px;
	padding-left:4px;	
}

.selected_amount, .selected_greeting, .selected_signoff {
	display: none;
	width: 125px;
	border: 1px solid #ccc;
	background: white;
	margin:0;	
}

.selected_greeting, .selected_signoff {
	z-index:100;
	position:absolute;	
}

.selected_signoff {
	width:162px;	
}

#gcForm ul {
	margin:0;	
}

#finalStep {
	width:975px;
	height:450px;
	position:absolute;
	background-color:#000;
	opacity: 0.5; /* Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+ */
  	filter: alpha(opacity=50); /* IE6-IE8 */
	top:196px;
}

#finalStepContent {
	margin:0 auto;
	width:460px;
	-webkit-border-radius: 10px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
	-moz-border-radius: 10px; /* FF1-3.6 */
	border-radius: 10px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
	/* useful if you don't want a bg color from leaking outside the border: */
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	-webkit-box-shadow: 0px 0px 4px #000; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow: 0px 0px 4px #000; /* FF3.5 - 3.6 */
	box-shadow: 0px 0px 4px #000; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
    background-color: #282828;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#171717)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #282828, #171717); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #282828, #171717); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #282828, #171717); /* IE10 */
	background-image:      -o-linear-gradient(top, #282828, #171717); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #282828, #171717);
	height:210px;
	position:relative;
	top:180px;
	display:none;
	padding:20px;
	color:#FFF;
	font-size:18px;
}

.blueBox {
	background-color:#e1faff;
	border:1px solid #b3cbd0;
	padding:15px;
	color:#363636;
	font-size:16px;
	margin-bottom:20px;
}

.blueBox ol {
	line-height:30px;	
}

.blueBox .full {
	width:100%;	
}

.blueBox .titleText {
	font-size:24px;	
}

/* CSS For Homepage!!! */

#homePageHeader {
	width:975px;	
	text-align:center;
	float:left;
	margin-bottom:10px;
	display:none;
}

#homePageHeader h1, #homePageHeader .h1like {
	font-size:50px;
	font-family: 'Ubuntu', sans-serif;
	color:#444345;
	font-weight:700;
	text-shadow: 3px 3px #bdbdbd;
	display:inline;
}


#homePageContentBackground {
	width:100%;
	height:360px;
}

#homePageContent {
	width:975px;
	margin:0 auto 15px auto;
}

.homePageMain .signupbox {
	float:right;
	text-align:right;
	margin-top:130px;	
	margin-right:15px;
}

.homeCollageText {
	width:260px !important;
	height:20px !important;
	color: #000;	
}

.collagePic {
	float:left;	
	width:120px;
	height:120px;
}

#collage-title { 
	text-align: center; 
}

.homePageMain {
	width:975px;
	height:360px;
	margin:0;
	padding:0;
}

.ctaimage {
	display:block;
	float:left;	
}

.cta {
	width:313px;
	height:68px;
	background-image:url('../../modify/images/blue/homebuildsmall.png');
	margin-top:285px;
	margin-left:338px;
	display:block;
	float:left;
}

.communitybutton {
	background-image:url('../../modify/images/blue/joinmodifamily.png');
	margin-top:150px;
}

.cta:hover {
	background-position:0 -68px;
}

.greyBold {
	font-size:24px;
	color:#808080;
	font-weight:700;
	font-family: 'Ubuntu', sans-serif;
	border-bottom: dashed 1px #c8c8c8;
}

#slidenav {
	position:relative;
	top:350px;
	z-index:30;
	float:right;
	margin-right:15px;	
}

#slidenav a{
	display:block;
	float:left;
	width:25px;
	height:25px;
	background-color:#545454;
	color:#545454;
	margin-right:10px;
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */	
}

#slidenav .activeSlide {
	background-color:#363636;
	color:#363636;	
}

/* End Homepage CSS */

/* CSS for About Page */

#aboutSidebarContainer {
	width:150px;
	float:left;
	margin-bottom:15px;
}

#aboutContainerOne {
	float:left;
	width:780px;
	margin-left:45px;
}

#aboutContainerLeft {
	float:left;
	width:440px;
	margin-right:45px;
}

#aboutContainerRight {
	width:295px;
	float:left;	
}

.aboutSidebarHeader, .aboutContentText {
	color:#6b6b6b;
	float:left;
}

.aboutContentText p {
	text-align:justify;		
}

.aboutSidebarHeader {
	width:150px;
	font-weight:400;
	font-family: sans-serif;
	font-size:18px;
	border-bottom:solid 1px #e2e2e2;
	text-align:center;
	padding:2px;
	margin-top:13px;
}

.aboutSidebarLinks {
	width:150px;
	margin:7px 0 15px 15px;
	float:left;
	line-height:20px;
}

.aboutSidebarLinks a {
	color:#1c69ff;
	font-size:14px;	
}

.aboutContentHeader {
	color:#6B6B6B;
	font-size:24px;	
	font-weight:bold;
	margin:5px 0 10px;
	width:350px;
	clear:right;
}

.aboutSubHeader { 
	color:#f57222;
	width:291px;
	margin-bottom:22px;
	font-size:20px; 
}

.aboutContentText {
	margin-bottom:15px;	
	font-size:16px;
}

.aboutImage { 
    margin: 10px 10px; 
	background-color:#c9c9c9;
	padding:5px;
	text-align:center;
	width:300px;
	float:left;
}

.aboutImage img {
	margin-bottom:5px;	
}

.aboutWatch {
	float:left;
	padding:0px;
	width:180px;
	margin: 0px 10px 10px 0;
	height:350px;
	position:relative;
	text-align:left;	
}

.aboutWatch img {
	width:180px;	
}

.aboutTeamBox {
	width:133px;
	padding:2px;
	float:left;
	text-align:center;
	margin-bottom:10px;
}

.teamLeft {
	margin-right:20px;	
}

.aboutTeamBox .teamPhoto {
	width:123px;
	height:123px;
	float:left;
	border:5px solid #6b6b6b;
}

.aboutTeamBox .name {
	font-size:16px;
	font-weight:bold;
	float:left;
	margin-top:3px;
	width:100%;
}

.aboutTeamBox .title, .aboutTeamBox .info {
	color:#6b6b6b;
	font-size:12px;	
	font-weight:bold;
	margin-top:3px;
	float:left;
	width:100%;
}

#howtogallery
  {
  list-style: none url();
  float:left;
  margin:0 0 15px 0;
  }

#howtogallery li
  {
  float: left;
  padding:5px;
  height:150px;
  width:115px;
  text-align: center;
  font-size:14px;
  }

#howtogallery img
  {
  }
  
.faqquestion {
	background-color:#F2f2f2;
	padding:5px;
	width:745px;
	display:block;
	margin-bottom:5px;
	color:#17006d;
	font-size:16px;	
}

#aboutContactForm {
	width:500px;
	border-right:solid 1px #bfbfbf;	
	float:left;
}

#aboutContactSide {
	width:225px;
	float:left;
	margin-left:15px;
	font-size:16px;
	padding-top:20px;	
}

#contactError {
	width:405px;
	padding:10px;	
	background-color:#ffcaca;
	border:solid 1px #ff7474;
	color:#000000;
	display:none;
}

.contactLabel {
	width:100px;
	text-align:right;
	font-size:20px;
	color:#6b6b6b;	
	display:block;
	float:left;
	margin-top:20px;
	margin-right:10px;
}

.contactText {
	width:310px;
	height:35px;
	padding:5px;	
	font-size:20px;
	color:#6b6b6b;
	border:solid 1px #b8b8b8;
	margin-top:20px;
}



/* End About CSS */

/* CSS for Referral Page */

#refHead {
	width:100%;	
}

#refHead div {
	float:left;	
	width:515px;
	padding-top:25px;
}

#refHead h1 {
	margin-bottom:15px;
	font-size:3em;	
}

#refHead p {
	line-height:1.7;	
	font-size:14px;
}

#refHead img {
	float:right;	
}

#refBody {
	text-align:center;
	float:left;
	width:100%;
	margin-top:15px;	
}

.smHead {
	text-transform:uppercase;
	color:#F57222;
	letter-spacing:12px;
	font-size:22px;
}

#refTable {
	margin-top:10px;
	margin-bottom:20px;
	background-color:#FFF;
	border:1px solid #ebebeb;
	-webkit-border-radius: 5px;
          border-radius: 5px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;	
	display:table;
	width:100%;
}

.refRow {
	display:table-row;
}
	
.refCell {
	display:table-cell;
	padding:20px;
	width:50%;
	vertical-align:middle;
	line-height:1.8;
}

#refTable .left {
	border-right:1px solid #ebebeb;	
}

#refTable .below {
	border-top:1px solid #ebebeb;	
}

#refTabCode span {
	font-size:24px;
}

#refTabCode span span {
	color:#006a85;	
}

#refTable .b {
	font-size:18px;	
}

#refTabURL input {
	background-color: white;
	-webkit-border-radius: 5px;
          border-radius: 5px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;	
	border: 1px solid #EBEBEB;
	padding: 5px;
	width: 90%;
	font-size: 16px;
	color: #535353;
	text-align:center;
}

#refTabFB #refFB, #refTabTW #refTW {
	width:224px;
	height:47px;
	margin:0 auto;
	cursor:pointer;
}

#refTabFB #refFB {
	background-image:url('../images/blue/syurl.png');
}

#refTabFB #refFB:hover {
	background-position:0 -47px;	
}

#refTabTW #refTW {
	background-image:url('../images/blue/tsyurl.png');
}

#refTabTW #refTW:hover {
	background-position:0 -47px;
}
.refCell .refSB {
	color:#FFF;
	position: relative;
	top: 12px;
	left: 12px;
	font-size: 14px;	
}


/* End Referral CSS */

/* CSS for Sets Pages */

	#setsHeader {
		float:left;
		width:100%;
		text-align:center;
		margin-bottom:10px;
	}
	
	.setsSubHeader {
		text-align:left !important;
		font-size:28pt;
		border-bottom:1px solid #e2e2e2;
		margin-bottom:20px;
		padding-bottom:10px;	
	}
	
	.setsHeaderSmall {
		font-size:16pt;	
	}
	
	#setsHeader .welcomeText {
		font-size:28pt !important;	
	}
	
	#featured .packbox {
		width:100%;
		height:220px;	
	}
	
	#featured .packlabel {
		height:220px;	
	}
	
	#featured .packdetails {
		width:930px;	
	}
	
	#featured .productTitle {
		text-align:left;
		width:635px;
		float:right;	
	}
	
	#featured .packPhoto {
		clear:none;
		float:left;
		width:auto;
		margin-right:15px;	
	}
	
	#featured p {
		float:left;
		width:635px;	
	}
	
	#featured {
		width:100%;
		height:220px;	
	}
	
	#featured .packBottom {
		clear:none !important;	
	}
	
	.packbox {
	  float:left;
	  width:320px;
	  height:470px;
	  margin-bottom:30px;
	  margin-right:5px;
	}
	
	.packlabel {
	  float:left;
	  background-color:#eee;
	  width:30px;
	  height:470px;
	}
	
	.productTitle {
		width:100%;
		margin-bottom:5px;
		text-align:center;
		font-size:16px;	
	}
	
	.packdetails {
	  float:right;
	  width:280px;
	  padding: 0 5px;
	}
	  
	.packPhoto {
	   clear:both;
	   width:216px;
	   margin-bottom:5px;
	 }
	
	.packaddtocart {
		padding:3px 15px 3px 15px;
		float:right;
		margin-right:15px;
		margin-top:8px;
		background-color:#ff7f00;
		background-color: #ffa40b;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#ffa40b), to(#ff7400)); /* Saf4+, Chrome */
		background-image: -webkit-linear-gradient(top, #ffa40b, #ff7400); /* Chrome 10+, Saf5.1+, iOS 5+ */
		background-image:    -moz-linear-gradient(top, #ffa40b, #ff7400); /* FF3.6 */
		background-image:     -ms-linear-gradient(top, #ffa40b, #ff7400); /* IE10 */
		background-image:      -o-linear-gradient(top, #ffa40b, #ff7400); /* Opera 11.10+ */
		background-image:         linear-gradient(top, #ffa40b, #ff7400);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffa40b', EndColorStr='#ff7400'); /* IE6-IE9 */
		-webkit-border-radius: 5px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
		-moz-border-radius: 5px; /* FF1-3.6 */
		border-radius: 5px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
		
		/* useful if you don't want a bg color from leaking outside the border: */        
		-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
	}
	
	.packaddtocart a {
		color:white;
		font-size:16px;
		font-weight:bold;
	}
	  
	.prodcontainer {
	  width:302px;
	  height:310px;
	  float:left;
	}
		
	#prodtitle {
	  width:297px;
	  height:26px;
	  background-color: #43443f;
	  color:#FFF;
	  font-weight:bold;
	  font-size:16px;
	  padding-left:5px;
	  padding-top:3px;
	  text-align:left;
	  }
		
	.proddesc {
	  width:302px;
	  height:100px;
	  color: #43443f;
	  text-align:left;
	  }

/* End Sets CSS */

/* CSS for Community Page */
	#leftColumn {
		width:520px;
		float:left;	
		margin-bottom:50px;
	}

	#comMainPhoto {
		border:12px solid #6b6b6b;
		width:483px;
		height:370px;
		float:left;
		background-color:#6b6b6b;
		background-image:url(../images/blue/slideshow/carltonbig.jpg);
		color:#FFF;	
		position:relative;
		margin-bottom:20px;
	}
	
	#comPhotoOverlay {
		width:443px;
		height:20px;
		overflow:hidden;
		padding:10px 20px;
		background-color:#363636;
		background-image:url(../images/blue/comoverlaybg.jpg);
		background-repeat:repeat-x;
		position:absolute;
		bottom:0;
		font-size:11pt;
		text-align:justify;
	}
	
	.comSlideTitle {
		height:20px;
		border-bottom:1px solid #6b6b6b;
		padding-bottom:10px;
		margin-bottom:10px;
	}
	
	.comQuestion {
		font-size:9pt;	
	}

	#comSlideshowContainer {
		width:507px;
		height:165px;
		float:left;
	}
	
	.comSlideInfo {
		display:none;	
	}
	
	#comScrollLeft, #comScrollRight {
		height:90px;
		width:35px;
		margin-top:25px;
		background-repeat:no-repeat;
		background-position:0 35px;
		cursor:pointer;
	}
	
	#comScrollLeft {
		background-image:url(../images/blue/sandbox/left.png);	
		float:left;	
	}
	
	#comScrollRight {
		background-image:url(../images/blue/sandbox/right.png);	
		margin:0px;
		background-position:0 25px;
		float:right;
	}
	
	.comSlideshowTitle {
		height:35px;
		font-size:20px;
		color:#363636;
		float:left;	
	}
	
	#comSlideshowInnerContainer {
		height:	140px;
		width: 417px;
		margin: 0 10px;
		overflow:hidden;
		float:left;
		position:relative;
	}
	
	#comSlideshowSlider {
		width:3000px;
		height:140px;
		float:left;
		position:relative;	
		left:0;
	}
	
	.comSlide {
		width:90px;
		height:140px;
		float:left;
		color:#1870ff;
		font-size:8pt;
		margin-right:19px;
		cursor:pointer;
	}
	
	.slideImage {
		display:none;	
	}
	
	#rightColumn {
		width:438px;
		float:left;
		margin-left:17px;	
		font-family:sans-serif;
	}
	
	#rightColumnHeader {
		height: 178px;
		float:left;
		border-bottom:1px solid #d7d7d7;	
		color:#363636;
		font-size:10pt;
		line-height:20px;
	}
	
	.welcomeText {
		font-size:32px;
		font-weight:800;	
	}
	
	.comBox {
		width:425px;
		height:77px;
		float:left;
		-webkit-box-shadow: 0px 0px 5px #eee; /* Saf3-4 */
     	-moz-box-shadow: 0px 0px 5px #eee; /* FF3.5 - 3.6 */
        box-shadow: 0px 0px 5px #eee; /* Opera 10.5, IE9, FF4+, Chrome 10+ */	
		background-color: #FFFFFF;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#ededed)); /* Saf4+, Chrome */
		background-image: -webkit-linear-gradient(top, #FFFFFF, #ededed); /* Chrome 10+, Saf5.1+, iOS 5+ */
		background-image:    -moz-linear-gradient(top, #FFFFFF, #ededed); /* FF3.6 */
		background-image:     -ms-linear-gradient(top, #FFFFFF, #ededed); /* IE10 */
		background-image:      -o-linear-gradient(top, #FFFFFF, #ededed); /* Opera 11.10+ */
		background-image:         linear-gradient(top, #FFFFFF, #ededed);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#ededed'); /* IE6-IE9 */
		margin-top:20px;
	}
	
	.comBoxLeft {
		height:100%;
		width:87px;
		border-right:1px solid #d7d7d7;
		float:left;	
	}
	
	.comBoxRight {
		height:57px;
		width:336px;
		border-left:1px solid #FFF;
		float:left;
		text-align:center;
		padding-top:10px;
		color:#363636;
		font-size:12pt;
		font-weight:bold;
		line-height:22px;
	}
	
	.comBoxRight a{
		font-size:10pt;
		font-weight:bold;	
	}
	
	.comCreations {
		border-top:1px solid #D7D7D7;
		padding:15px 0;
		width:100%;
		float:left;
		margin-bottom:15px;
	}
	
	.comCreationsTitle {
		font-size:32px;
		font-weight:800;
		color:#363636;
		clear:right;
		margin-bottom:15px;	
	}
	
	.comCreationItem {
		float:left;	
	}
	
	.centerItem {
		margin:0 15px;	
	}

/* End Community CSS */

/* CSS for the Grey Bar */

#greyMiddleBar {
	width:100%;
	height:167px;
	background-image:url('../../modify/images/blue/greybarbg.jpg');
	background-repeat:repeat-x;	
	margin:0;
}

#greyBarHomeContentContainer {
	width:100%;
	margin:20px 0 10px;
	overflow:auto;	
	padding-bottom:25px;
}

#greyBarWaterproof, #greyBarInterchangeable, #greyBarSizes , #greyMiddleBar,
.greyBarTitle, .greyBarIcon, .greyBarDescription, #greyBarDope {
	float:left;	
}

#greyBarInterchangeable, #greyBarDope {
	padding-left:31px;	
}

#greyBarSizes {
	padding-left:33px;	
}

#greyBarWaterproof,#greyBarSizes,#greyBarInterchangeable, #greyBarDope {
	width:220px;
}

.greyBarIcon {
	width:220px;
	height:76px;	
	margin: 5px 0;
}

.greyBarTitle {
	color:#363636;
	padding: 3px 5px 3px 5px;
	font-size:22px;
	width:90%;
	text-align:center;
}

.greyBarDescription {
	color:#363636;
	font-size:12px;
	width:100%;
	text-align:justify;
}

#homeMedia {
	width:975px;
	margin:0 auto 15px;
	padding:40px 0 40px;
	border-top:dotted 1px #939393;
	border-bottom:dotted 1px #939393;
	text-align:center;
}

#homeMedia img {
	margin-left:60px;	
}

/* End Grey Bar CSS */

.Left {
	background: transparent url('../../default/images/blue/LeftBg.gif') no-repeat;
}

.Left li {
	border-bottom: 1px solid #c5dde9;
}

.Left li a:hover {
	color: #07599a;
}


.Content a {
	color: #075899;
}

.Right {
	background: transparent url('../../default/images/blue/RightBg.gif') no-repeat;
}

.Right a {
	color: #034285;
}

.Right a:hover, .Right a:hover strong {
	color: #001927;
}

.AccountMenu {
	text-align:center;
	font-size:14px;
}

.AccountMenu li {
	padding:5px 0;
}

.AccountMenu h2 a {
	color:#363636;
	padding-bottom:6px;
	font-size:18px;	
}

/* Popout for presales */


#presalePopup{position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,.8);display:none;z-index:10000; }
#presalePopup a.presale_close{background:transparent url(http://downloads.mailchimp.com/img/closebox.png) no-repeat; display:block; height:30px; width:30px; text-indent:-999em; position:absolute; top:-10px; right:-10px; display:none; }
#presalePopup .thingy {position:fixed; top:10%; left:50%; width:50%; margin-left:-250px; width:500px; height:500px;
background-image:url(../../modify/images/blue/presale.jpg); border-radius:5px; border:none;
position:relative; text-align:left;}

/* Footer Stuff Here. This Include Fonts & Everything */

#Footer {
	height:350px;
	width:100%;
	min-width:715px;
	background-color:#e9e9e9;
	margin:0;
	padding-top:20px;
	background-image:url('../../modify/images/blue/footerbg.jpg');
	background-position:bottom center;
	background-repeat:no-repeat;
}

.FooterContent {
	width:975px;
	position:relative;
	margin: 0 auto;
	top:10px;
}

.dividingDots {
	background-image:url('../../modify/images/blue/doubledots.png');
	background-repeat:repeat-x;
	height:7px;
	width:213px;
	margin-top: 10px;
	margin-bottom:10px;
	float:left;	
}

.FooterHelp {
	position:relative;
	width:213px;
	float:left;
}

.FooterDope {
	position:relative;
	width:213px;
	float:left;
	margin-left:40px;
}

.FooterConnect {
	width:213px;
	position:relative;
	margin-left: 40px;
	float:left;
}

.FooterHelpLinks {
	position:relative;
	text-align:left;
	line-height:18px;
}

.FooterHelpLinks a{
	position:relative;
	color: #363636;
	font-size: 12px;
}

.FooterCustom {
	width:213px;	
	position:relative;
	margin-left:40px;
	float:left;
}

.FooterConnectContent {
	width:88px;
	float:left;
	position:relative;
	left:-10px;
	top:15px;
}

.FooterContentHeader {
	height:16px;
	width:213px;
	color: #363636;
	text-align:left;
	font-size: 12px;
	font-weight:bold;
	position:relative;
	text-align:center;
	float:right;
}

.FooterSubText {
	width:100%;
	position:relative;
	color:#363636;
	float:left;	
	margin-top:20px;
}

.FooterSubText a{
	color: #1870FF;
}

#Footer li a {
	border-left: 1px solid #208db5;
}

.footerTextbox {
	background-color: #C8C8C8;
	border: 2px solid #42505B;
	padding:5px;
	width: 140px;
	text-align: left;
}

.footerSignUpButton {
	background-color: #FF7F00;
	width: 150px;
	border: 2px solid #D46A00;
	font-size: 12px;
	color: black;
	cursor: pointer;	
}

#Footer .secrets {
	float:left;
	width:100px;
	height:100px;
	margin:20px 410px;		
}

/* End Footer CSS */

#valen-modal {
	width:100%;
	height:100%;
	position:fixed;
	background-image:url('../images/blue/greydot.png');
	z-index:1000;
	top:0;
	left:0;
	cursor:pointer;
	display:none;	
}

#valen-modal img {
	position:relative;
	margin-left:50%;
	left:-346px;
	margin-top:160px;
	cursor:default;
}

#valen-modal a {
	display:block;
	position:relative;
	margin-left:50%;
	left:-346px;
	background-color:#363636;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	padding:5px 0;
	width:692px;	
}


.Content .ProductList li,
.fastCartContent .ProductList li {
	border-right: 1px solid #f1f1f1;
}

.Content .ProductList li:hover,
.Content .ProductList li.Over,
.fastCartContent .ProductList li:hover,
.fastCartContent .ProductList li.Over {
	background: #f1f6ff;
}

.ProductList .ProductImage {
	background: #fff;
}

.ProductList strong, .ProductList strong a {
	color: #363636;
	font-size:14px;
	font-weight:bold;
}

.ProductPrice, .ProductList em {
	color: #9a0000;
	font-size:18px;
}

.ProductList .Rating {
	color: #797979;
}

.Right .ProductList li {
	border-bottom: 1px solid #c0dae7;
}

.Content .FeaturedProducts .ProductList li {
	background: #dff2f7;
}

.Content .FeaturedProducts .ProductList li:hover, .Content .FeaturedProducts .ProductList li.Over {
	background: #D2E8EE;
}

.Left .TopSellers li .TopSellerNumber, .Right .TopSellers li .TopSellerNumber { /* Contains the number of the item */
	background: url(../../default/images/blue/TopSellerNumberBg.gif) 0 4px no-repeat;
	color: #075899;
}

.Left .TopSellers li.TopSeller1, .Right .TopSellers li.TopSeller1 { /* No1 seller box */
	border: 1px solid #c0dae7;
	background: #fff;
}

.Left .TopSellers li.TopSeller1 .TopSellerNumber, .Right .TopSellers li.TopSeller1 .TopSellerNumber {
	background: url(../../default/images/blue/TopSellerNumber1Bg.png) 0 0 no-repeat;
	color: #075899;
}

.Breadcrumb {

}


.CompareItem { width:200px; border-left: solid 1px #CACACA; }
.CompareFieldName { font-weight:bold; border-bottom: 1px solid #EFF8FA; }
.CompareFieldTop { border-bottom:solid 1px #85BADF; }
.CompareFieldTop a:hover { color:red; }
.CompareCenter { border-left:solid 1px #85BADF; border-bottom:solid 1px #F2F2F2; }
.CompareLeft { border-left:solid 1px #85BADF; border-bottom:solid 1px #F2F2F2; }

.ViewCartLink {
	background: url('../../default/images/blue/Cart.gif') no-repeat 3px 0;
}

table.CartContents, table.General {
	/*This is the entire body */
}

.CartContents thead tr th, table.General thead tr th {
	color: #424748;
	border-bottom: dotted 1px #6b6b6b;
}

.CartContents tfoot .SubTotal td {
	border-top: 1px solid #e2e2e2;
	color: #075899;
}

.MiniCart .SubTotal {
	color: #075899;
}

.JustAddedProduct {
	border: 1px solid #c0dae7;
	background: #fff;
}

.JustAddedProduct strong, .JustAddedProduct a {
	color: #075899;
}

.CategoryPagination {
	color: #034285;
	background: #f4fbfc;
	border: 1px solid #c0dae7;
}

.CheckoutRedeemCoupon { background: #EAFDFF; padding: 10px; width: 375px; border: 1px solid #9DD3D8; margin-bottom: 10px; }

.SubCategoryList, .SubBrandList {
	background:#EEF5F9;
}

.SpecificInfoMessage {
	background-color: #f8e4d1;
	color: #555;
}

.InfoMessage {
	background: #EFF8FA url('../../default/images/InfoMessage.gif') no-repeat 5px 8px;
	color: #555;
}

.SuccessMessage {
	background: #E8FFDF url('../../default/images/SuccessMessage.gif') no-repeat 5px 8px;
	color: #555;
}

.ErrorMessage {
	background: #FFECEC url('../../default/images/ErrorMessage.gif') no-repeat 5px 8px;
	color: #555;
}

.ComparisonTable tr:hover td, .ComparisonTable tr.Over td {
	background: #EFF8FA;
}

/* Shipping Estimation on Cart Contents Page */
.EstimateShipping {
	border: 1px solid #c7d7db;
	background: #edf2f3;
}

/* Express Checkout */
.ExpressCheckoutBlock .ExpressCheckoutTitle {
	background: #dcf0f5;
	border: 1px solid #bce0e8;
}

.ExpressCheckoutBlockCollapsed .ExpressCheckoutTitle {
	background: #f0f0f0;
	border: 1px solid #ddd;
	color: #555;
}

.ExpressCheckoutBlockCompleted .ExpressCheckoutCompletedContent {
	color: #888;
}

/* Tabbed Navigation */
.TabNav {
	border-bottom: 1px solid #3d9abe;
}

.TabNav li a {
	border: 1px solid #3d9abe;
	background: #ddf0f6;
}

.TabNav li a:hover {
	background-color: #c8e6ed;
}

.TabNav li.Active a {
	border-bottom: 1px solid #fff;
	background: #fff;
}

/* General Tables */
table.General tbody tr td {
	border-top: 3px solid #F9F9F9;
	background-color:#f5f5f5;
	line-height:20px;
}

table.General tbody tr td a {
	font-size:11px;	
}

/* Product Videos */

#VideoContainer {
	border: 1px solid #cccccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.currentVideo {
	background-color: #ddf0f6;
}

.videoRow:hover {
	background-color: #efefef;
}

/* Product Videos */

#VideoContainer {
	border: 1px solid #cccccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.currentVideo {
	background-color: #ddf0f6;
}

.videoRow:hover {
	background-color: #efefef;
}

#SearchResultsCategoryAndBrand {
	background-color: #EEF5F9;
}

.CartContents .ItemShipping th {
	border-bottom-color: #c7d7db;
	border-top-color: #c7d7db;
	background: #edf2f3;
}

/* Category flyout styles (theme) */

/* Child menu items, does not include the always-showing root level */
#SideCategoryList .sf-menu li ul li {
}

/* Root menu item when expanded */
#SideCategoryList .sf-menu .sfHover a,
/* Child menu item links */
#SideCategoryList .sf-menu li ul a {
	background-color: #65B2CB;
	color: #FFF;
}

/* Parent menu items of a child being hovered (not including root-level items) */
#SideCategoryList .sf-menu li ul li:hover > a,
/* Child menu item while hovering */
#SideCategoryList .sf-menu li ul a:focus,
#SideCategoryList .sf-menu li ul a:hover,
#SideCategoryList .sf-menu li ul a:active {
	background-color: #075899;
}

.CategoryDescription {
	border-bottom:1px solid #DCDFE2;
	padding-bottom:15px;
	margin-bottom:15px;	
}

.CategoryDescription img {
	max-width:745px;	
}

/* End: category flyout styles */

/* Upload File Styles */

.uploadForm {
	width:300px;
	height:265px;
}

.uploadText {
	font-size:30px;
	color:#7aa9ec;
	padding:5px;
	border-bottom:dotted 1px #bfbfbf;
}

.uploadBody {
	width:95%;
	padding:5px;
	margin-top:10px;
}

.uploadLabel {
	color:#000;
	font-size:14px;
	font-weight:bold;	
	position:relative;
}

.uploadInput {
	color: #000;
	padding:5px;
	width:95%;
	clear:right;
	background-color:#e9e9e9;
	border: solid 1px #bfbfbf;	
}

.uploadForm #error {
	width:100%;
	text-align:center;
	padding:3px;
	background-color:#ffd0d0;
	border:solid 1px #ff8d8d;
	display:none;
	color:#ff0000;
}

/* End Upload Styles */

/* start fast cart styles */
#fastCartContainer {
	font-size: 13px;
}
.fastCartContent h2 {
	color: #009E0F;
	background-color:transparent;
}
.fastCartContent h3 {
	color: #BB6F21;
	background-color:transparent;
}
.fastCartSummaryBox {
	background-color: #DDFEDA;
}
.fastCartContent .fastCartTop a,
.fastCartContent .ProductList .ProductDetails a {
	color: #075899;
}
.fastCartContent .ProductPrice,
.fastCartContent .ProductList em {
	color: #800000;
}
.fastCartContent .Quantity {
	color: #828DB3;
}
.fastCartContent p {
	color: #444444;
}
.fastCartContent .ProductList li {
	background-color: #FFF;
}

.fastCartAddedItems {
	float:left;
	width:240px;
	overflow:auto;	
}
/* end fast cart styles */

#timelineContainer{
	width: 665px;
	height: 41px;
	margin:10px auto;
	clear:both;	
}

#timeline {
	width:660px;
	height:35px;
	background-image:url('../../modify/images/blue/sandbox/opaquebgsmall.png');
	background-repeat:repeat;
	margin: 3px auto;
	padding-left:8px;
}

.biggerSoldOut {
	position:relative;
	top:-46px;
	display:none;	
}

.bigSoldOut {
	position:relative;
	top:-46px;
	display:none;
}

.stepBox {
	float:left;
	height:33px;
	margin-top:3px;
}

.stepNumber {
	color:#1870FF;
	float:left;
	font-size:20px;	
	margin-right:3px;
}

.stepDesc {
	color:#1870FF;
	float:left;
	font-size:16px;
	font-weight:bold;
	margin-top:2px;
}

.stepInactive {
	color:#cccccc;	
}

.smallDesc {
	color:#6b6b6b;
	font-size:10px;	
	font-weight:normal;
}

.timelineArrow {
	margin-top: 10px;
	margin-left: 10px; 
	margin-right: 10px;
	height: 18px;
	width: 32px;
	background-image:url('../../modify/images/blue/sandbox/timelinearrow.png');
	background-repeat:no-repeat;
	float:left;
}

.siteAlert {
	width:975px;
	padding:2px 0;
	border-top:#dbdbdb 1px solid;
	border-bottom:#dbdbdb 1px solid;
	background-color:#f2f2f2;
	text-align:center;
	margin:5px auto;
}

.siteAlert em {
	color:#ff004e;
	font-style:normal;
	font-weight:bold;
}